{% load utils %}
{% load static %}

<form name="baseImageList">
    <table id="baseImageTableId" class="table table-condensed table-striped table-hover">
        <tr>
            <th class="col-lg-1">Basic</th>
            <th class="col-lg-2">Abstract Name</th>
            <th class="col-lg-2">Provider Name</th>
            <th class="col-lg-1">Cloud Provider</th>
            <th class="col-lg-1">Qualified</th>
            <th class="col-lg-2">Publish Date</th>
            <th class="col-lg-4">Description</th>
        </tr>
        {% for base_image in base_images %}
        <tr>
            <td><span class="deployToolTip pointer-cursor {{ base_image.basic | basicIcon }}"></span></td>
            <td> {{ base_image.abstract_name }} </td>
            <td> {{ base_image.provider_name }}  </td>
            <td> {{ base_image.provider }}  </td>
            <td><span class="deployToolTip pointer-cursor {{ base_image.qualified | qualifiedIcon }}"></span></td>
            <td> {{ base_image.publish_date | convertTimestamp }} </td>
            <td> {{ base_image.description }} </td>
        </tr>
        {% endfor %}
    </table>
</form>