{% load utils %}
{% load static %}

<form name="baseImageList">
    <table id="baseImageTableId" class="table table-condensed table-striped table-hover">
        <tr>
            <th class="col-lg-2">ID</th>
            <th class="col-lg-2">Golden</th>
            <th class="col-lg-2">Provider Name</th>
            <th class="col-lg-2">Abstract Name</th>
            <th class="col-lg-2">Cell</th>
            <th class="col-lg-2">Arch</th>
            <th class="col-lg-1">Cloud Provider</th>
            <th class="col-lg-2">Publish Date</th>
            <th class="col-lg-2">Description</th>
        </tr>
        {% for base_image in base_images %}
        <tr>
            <td>
                {% if enable_ami_auto_update %}
                <a id="listGroupsBtnId" href="/clouds/baseimages/events/{{base_image.id}}"
                    title="Click to see image update events">
                    {{ base_image.id }}
                </a>
                {% else %}
                {{ base_image.id }}
                {% endif %}
            </td>
            <td>
                {% if base_image.golden_latest %}
                    <span class="label label-primary">GOLDEN_LATEST</span>
                {% endif %}
                {% if base_image.golden_canary %}
                    <span class="label label-success">GOLDEN_CANARY</span>
                {% endif %}
                {% if base_image.current_golden %}
                    <span class="label label-warning">CURRENT_GOLDEN</span>
                {% elif base_image.golden_prod %}
                    <span class="label label-warning">GOLDEN</span>
                {% endif %}
            </td>
            <td>
              <a id="listGroupsBtnId" href="{{ imageProviderNameUrl }}{{ base_image.provider_name }}?json=False"
                    title="Click to see provider name details">
                    {{ base_image.provider_name }}
              </a>
            </td>
            <td>
                <a id="listGroupsBtnId" href="/clouds/baseimages/{{ base_image.abstract_name }}"
                    title="Click to see image update events">
                    {{ base_image.abstract_name }}
                </a>
            </td>
            <td> {{ base_image.cell_name }} </td>
            <td> {{ base_image.arch_name }} </td>
            <td> {{ base_image.provider }} </td>
            <td> {{ base_image.publish_date | convertTimestamp }} </td>
            <td> {{ base_image.description }} </td>
        </tr>
        {% endfor %}
    </table>
</form>
