{% extends 'environs/env_base.html' %}
{% load utils %}
{% load static %}

{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/">Clouds</a></li>
    <li><a href="/clouds/baseimages/">Base Images</a></li>
</ul>
{% endblock %}
{% block navbar-search %}
<form class="navbar-form navbar-left" role="search">
    <div class="form-group has-feedback">
        <input id="baseImageSearchInputId" type="text" class="form-control" placeholder="Search by Abstract Name...">
        <span id="baseImageSearchFeedbackId" class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
</form>
<script>
    $('#baseImageSearchInputId').keypress(function (event) {
        if (event.keyCode != 13) {
            return true;
        }
        search_base_images();
        return false;
    });

    $('#baseImageSearchFeedbackId').click(function () {
        search_base_images();
    });

    function search_base_images() {
        abstractName = $('#baseImageSearchInputId').val();
        window.location = "/clouds/baseimages/" + abstractName;
    }
</script>
{% endblock %}
{% block side-panel-actions %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Base Images</h4>
    </div>
    <div class="row">
        <a id="listGroupsBtnId" href="/" class="deployToolTip btn btn-default btn-block">
            <span class="glyphicon glyphicon-wrench"></span> Back to Cloud
        </a>
    </div>
    <div class="row">
        <button class="deployToolTip btn btn-default btn-block" data-toggle="modal"
            data-target="#createBaseImageModalId" title="Create Base Image" id="createBaseImageBtnId">
            <span class="glyphicon glyphicon-plus"></span> Add Base Image
        </button>
    </div>
</div>
{% endblock %}

{% block new-builds-panel %}
{% endblock %}
{% block new-pred-deploys-panel %}
{% endblock %}

{% block main %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Base Images</h4>
    </div>
    <div class="panel-body table-responsive">
        {% include "clusters/base_images.tmpl" %}
        {% if base_images|length >= 2 %}
        <ul class="pager">
            <li>
                <a href='?page_index={{ pageIndex|add:"-1" }}&page_size={{ pageSize }}'
                    class="btn btn-default {% if disablePrevious %}disabled{% endif %}">
                    <span class="glyphicon glyphicon-chevron-left"></span> Previous
                </a>
            </li>
            <li>
                <a href='?page_index={{ pageIndex|add:"1" }}&page_size={{ pageSize }}'
                    class="btn btn-default {% if disableNext %}disabled{% endif %}">
                    Next <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="createBaseImageModalId" tabindex="-1" role="dialog"
    aria-labelledby="createBaseImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form id="createBaseImageFormId" class="form-horizontal" role="form" method="post"
                action="/clouds/create_base_image/">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Create Base Image Confirm</h4>
                </div>
                <div class="modal-body" id="createBaseImageModal">
                    <div class="hidden" id="create-base-image-form-errors"></div>
                    <div class="form-group">
                        <label class="deployToolTip control-label text-center col-xs-6">
                            Cloud Provider
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" name="provider" required id="providerNameId">
                                {% for provider in provider_list %}
                                <option value="{{ provider }}">{{ provider }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="deployToolTip control-label text-center col-xs-6">
                            Cell
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" name="cellName" required id="cellName">
                                {% for cell in cells_list %}
                                <option value="{{ cell.name }}">{{ cell.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="deployToolTip control-label text-center col-xs-6">
                            Arch
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" name="archName" required id="archName">
                                {% for arch in arches_list %}
                                <option value="{{ arch.name }}">{{ arch.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="deployToolTip control-label text-center col-xs-6">
                            Abstract Name
                        </label>
                        <div class="col-md-6">
                            <input class="form-control" name="abstractName" required="true" type="text" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="deployToolTip control-label text-center col-xs-6">
                            Cloud specific image id
                        </label>
                        <div class="col-md-6">
                            <input id="create-base-image-provider-name" class="form-control" name="providerName" required="true" type="text" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="deployToolTip control-label text-center col-xs-6">
                            Description
                        </label>
                        <div class="col-md-6">
                            <input class="form-control" name="description" type="text" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="deployToolTip control-label text-center col-xs-6">
                            Is basic?
                        </label>
                        <div class="col-md-6">
                            <input name="basic" type="checkbox" checked />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modalConfirmBtnId" type="submit" class="btn btn-primary">Create</button>
                    <button id="modalCloseBtnId" type="button" class="btn btn-default"
                        data-dismiss="modal">Cancel</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>

<script>
    $("#createBaseImageFormId").submit(function(event) {
        var provider = $("#providerNameId").val();
        var errorElement = $("#create-base-image-form-errors");
        var errors = "";
        var validationErrors = [validateProviderName(provider), validateCellName(provider)];
        validationErrors
            .filter(err => err != null)
            .forEach((error, i) => {
                errors += createValidationErrorHtml(i === 0, error);
            });

        if (errors.length === 0) {
            errorElement.addClass("hidden");
        } else {
            errorElement.removeClass("hidden");
            errorElement.html(errors);
            event.preventDefault();
        }
    });

    function createValidationErrorHtml(isFirst, err) {
        var classes = ["alert", "alert-danger"];
        if (!isFirst) {
            classes.push("mt-1");
        }
        return "<div class=\"" + classes.join(" ") + "\" role=\"alert\">" + err + "</div>";
    }

    function validateProviderName(provider) {
        var validators = {
            "AWS": {
                prefix: "ami-",
                example: "ami-b1cf1c23346789fff"
            }
        }
        var providerName = $("#create-base-image-provider-name").val();
        var validator = validators[provider];
        if (validator) {
            if (!providerName.startsWith(validator.prefix)) {
                return "\"Cloud specific image id\" should start with \""
                    + validator.prefix + "\", example: " + validator.example;
            }
        }
        return null;
    }

    function validateCellName(provider) {
        var validators = {
            "AWS": {
                prefix: "aws-",
                example: "aws-us-east-1"
            }
        }
        var cellName = $("#cellName").val();
        var validator = validators[provider];
        if (validator) {
            if (!cellName.startsWith(validator.prefix)) {
                return "\"Cell\" should start with \""
                    + validator.prefix + "\", example: " + validator.example;
            }
        }
        return null;
    }
</script>
{% endblock %}
