{% load utils %}
{% include "panel_heading.tmpl" with panel_title="Capacity Config" panel_body_id="clusterConfigId" direction="down" %}
<div id="clusterConfigId" class="collapse in panel-body">
    <div class="container-fluid">
        <form id="clusterConfigFormId" class="form-horizontal" role="form">
            <fieldset id="clusterConfigFieldSetId">
                <div class="form-group">
                    <label for="provider" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Provider">
                        Cloud Provider
                    </label>
                    <div class="col-xs-8">
                        <select class="form-control" id="provider" name="provider" required="true">
                            {% for provider in provider_list %}
                                <option value="{{ provider }}">{{ provider }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="capacity" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Number of hosts for this service">
                        Capacity
                    </label>
                    <div class="col-xs-8">
                        <input class="form-control" name="capacity" required="true" type="text" value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="imageName" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Image Name">
                        Image Name
                    </label>
                    <div class="col-xs-3" id="image_name_div_id">
                    </div>

                    <label for="baseImageId" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Base Image">
                        Image
                    </label>
                    <div class="col-xs-3" id="base_image_div_id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="hostTypeId" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Compute Capability of the host">
                        Host Type
                    </label>
                    <div class="col-xs-8" id="host_type_div_id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="securityZoneId" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Security zone to control inbound/outboud traffic">
                        Security Zone
                    </label>
                    <div class="col-xs-8" id="security_zone_div_id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="placementId" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Placement">
                        Placements
                    </label>
                    <div class="col-xs-8" id="placement_div_id">
                    </div>
                </div>
            </fieldset>
            {% csrf_token %}
        </form>
    </div>
</div>

<div class="panel-footer clearfix">
    <div class="pull-right">
        <button type="button" id="saveClusterConfigBtnId" class="btn btn-primary"
                data-loading-text="Saving...">
            <span class="glyphicon glyphicon-floppy-save"></span> Create
        </button>
    </div>
</div>

<script>
function loadConfig(provider, basic) {
    var image_name_url = "/clouds/get_image_names/?provider=" + provider;
    $.get(image_name_url, function(response) {
        $("#image_name_div_id").html(response);
    });

    var host_type_url = "/clouds/get_host_types/?provider=" + provider + "&basic=" + basic;
    $.get(host_type_url, function(response) {
        $("#host_type_div_id").html(response);
    });

    var security_zone_url = "/clouds/get_security_zones/?provider=" + provider + "&basic=" + basic;
    $.get(security_zone_url, function(response) {
        $("#security_zone_div_id").html(response);
    });

    var placement_url = "/clouds/get_placements/?provider=" + provider + "&basic=" + basic;
    $.get(placement_url, function(response) {
        $("#placement_div_id").html(response);
    });
}

function getCurrentProvider() {
    val = $("#provider option:selected").val()
    return $("#provider option:selected").val();
}

$(document).ready(function() {
    loadConfig(getCurrentProvider(), "1");
});

$(function () {
    $("#provider").change(function() {
        loadConfig(getCurrentProvider(), "1");
    });

    $('#saveClusterConfigBtnId').attr('disabled','disabled');

    $('#clusterConfigFormId input').keyup(function() {
        $('#saveClusterConfigBtnId').removeAttr('disabled');
    });

    $('#clusterConfigFormId textarea').keyup(function() {
        $('#saveClusterConfigBtnId').removeAttr('disabled');
    });

    $('#clusterConfigFormId select').change(function() {
        $('#saveClusterConfigBtnId').removeAttr('disabled');
    });

    $('#clusterConfigFormId input').change(function() {
        $('#saveClusterConfigBtnId').removeAttr('disabled');
    });

    $('#saveClusterConfigBtnId').click(function () {
        var btn = $(this);
        $.ajax({
            type: 'POST',
            url: '/env/{{ env.envName }}/{{ env.stageName }}/config/create_cluster/',
            data: $("#clusterConfigFormId").serialize(),
            dataType: 'json',
            beforeSend: function () {
                btn.button('loading');
            },
            success: function (data) {
                if(data != null && data.success == false) {
                    $('#errorBannerId').append(data.error);
                    $('#errorBannerId').show();
                } else {
                    $("#clusterConfigId").parent().html(data);
                    $('#errorBannerId').empty().hide();
                }
                btn.button('reset');
            },
            error: function (data) {
                $('#errorBannerId').append(data.responseText);
                $('#errorBannerId').show();
            }
        });
    });
});
</script>