<div id="clusterPanelId" v-if="hasCluster" class="panel panel-default">
    <panel-heading title="Cluster Capacity" target="#clusterConfigId" initcollapse="false"></panel-heading>
    <div id="clusterConfigId" class="collapse in panel-body">
        <div class="container-fluid">
            <form id="clusterConfigFormId" class="form-horizontal" role="form">
                <fieldset id="clusterConfigFieldSetId" {% if is_managed_resource %}disabled{% endif %}>
                    <label-info title="Cluster State" name="Cluster State" v-bind:text="clusterstate" v-bind:styleclass="clusterStateStyle"></label-info>
                    <label-info title="Cell" name="Cell" v-bind:text="cell"></label-info>
                    <static-capacity-config v-if="!autoscalingEnabled"
                        :original-capacity="originalCapacity" @change="desiredCapacity = $event"
                        :remaining-capacity="remainingCapacity" :placements="placements"
                        :termination-limit="terminationLimit" :groupName="groupName">
                    </static-capacity-config>
                    <asg-capacity-config v-if="autoscalingEnabled" :current-size="originalCapacity"
                        :original-min-size="asg_launch_info.minSize" @min-change="minsize = $event"
                        :original-max-size="asg_launch_info.maxSize" @max-change="maxsize = $event"
                        :remaining-capacity="remainingCapacity" :placements="placements">
                    </asg-capacity-config>
                </fieldset>
                {% if is_managed_resource %}
                <div class="form-group">
                    <label class="control-label col-xs-4" for="isManagedResourceCheckboxId" style="padding-top: 0px">Resource is managed</label>
                    <div class="col-xs-2">
                        <input type="checkbox" id="isManagedResourceCheckboxId" checked>
                    </div>
                </div>
                <div class="form-group" id="resourceManagedBanner" style="display: none;">
                    <div class="col-xs-offset-4">
                        <div class="alert alert-info">
                            <strong>Note:</strong> This box cannot be manually re-checked once unchecked. Unchecking this box will disable resource management. The cluster must be re-onboarded to re-enable resource management.
                        </div>
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <a href="https://pinterest.com" type="button" id="saveClusterConfigBtnId" class="btn btn-default"
                    title="View in Entitlements UI">
                <span class="glyphicon glyphicon-new-window"></span>
                View Entitlement
            </a>
        </div>
    </div>
</div>

{% if is_managed_resource %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const checkbox = document.getElementById('isManagedResourceCheckboxId');
        const fieldset = document.getElementById('clusterConfigFieldSetId');
        const banner = document.getElementById('resourceManagedBanner');

        checkbox.addEventListener('change', function() {
            fieldset.disabled = !!checkbox.checked;
            banner.style.display = checkbox.checked ? 'none' : 'block';
        });
    });
</script>
{% endif %}
<script>
    var cluster = info.basic_cluster_info;
    const terminationLimit = info.termination_limit;
    const groupName = info.cluster_name;
    if (cluster!=null){
        var asg_launch_info = cluster.asg_info.launchInfo;
        //Decide if we show one capacity box or min/max size
        var autoscalingEnabled = asg_launch_info.asgStatus ==="ENABLED" && asg_launch_info.minSize<asg_launch_info.maxSize;
        if (asg_launch_info != null && !autoscalingEnabled){
            //ASG size is the source of truth. If it has been set outside cluster, we should use the value of asg launchInfo
            if (cluster.capacity!= asg_launch_info.minSize){
                cluster.capacity = asg_launch_info.minSize
            }
        }

        var clusterVue = new Vue({
            el:"#clusterPanelId",
            data:{
                hasCluster: !getUrlParameter("addexisting"),
                cell: cluster.cellName,
                clusterstate: cluster.state,
                clusterStateStyle: cluster.state === "NORMAL" ? "text-success" : "text-danger",
                desiredCapacity: cluster.capacity,
                instancetype: cluster.hostType,
                minsize: asg_launch_info.minSize,
                maxsize: asg_launch_info.maxSize,
                autoscalingEnabled:autoscalingEnabled,
                canSaveCapacity: cluster.state === "NORMAL",
                remainingCapacity: info.placements != null ?  info.placements.reduce((s, e) => s + e.capacity, 0) : Infinity,
                placements: info.placements,
                originalCapacity: cluster.capacity,
                terminationLimit: terminationLimit,
                groupName: groupName,
            },
            methods:{
            }
          }
        )
    }
    else{
        new Vue({
            el:"#clusterPanelId",
            data:{
                hasCluster: false
            }
        })
    }
</script>
