{% load utils %}
<table class="table table-condensed table-striped table-hover">
<tr>
    <th class="col-sm-2"><p><i>Publish Date</p></i></th>
    <th class="col-sm-1"><p><i>Name</p></i></th>
    <th class="col-sm-1"><p><i>Id</p></i></th>
    <th class="col-sm-1"><p><i>Qualified</p></i></th>
    <th class="col-sm-4"><p><i>Description</p></i></th>
</tr>
{% for base_image_info in base_images %}
<tr>
    <td><p><i>{{ base_image_info.publish_date |  convertTimestamp }}</i></p></td>
    <td><p><i> {{ base_image_info.abstract_name }}</i></p></td>
    <td><p><i>{{ base_image_info.provider_name }}</p></i></td>
    <td><span class="deployToolTip pointer-cursor {{ base_image_info.qualified | qualifiedIcon }}"></span></td>
    <td><p><i>{{ base_image_info.description }}</p></i></td>
</tr>
{% endfor %}
</table>

