{%load utils %}
<div class="input-group">
<select class="form-control" id="image_name" name="imageName" required="true">
{% for image_name in image_names %}
    {% if curr_image_name and curr_image_name == image_name %}
        <option value="{{ image_name }}" selected>{{ image_name }}</option>
    {% else %}
        <option value="{{ image_name }}">{{ image_name }}</option>
    {% endif %}
{% endfor %}
</select>

<span class="input-group-btn">
    <button id="baseImageDetailsButtonId" class="deployToolTip btn btn-default"
            type="button" data-toggle="tooltip"
            title="click to see more base image information">
        <span class="glyphicon glyphicon-question-sign"></span>
    </button>
</span>
</div>

<script>
function getCurrentName() {
    return $("#image_name option:selected").val();
}

function loadImageConfig(name) {
    var base_image_url = "/clouds/get_base_images/?name=" + name;
    $.get(base_image_url, function(response) {
        $("#base_image_div_id").html(response);
    });
}

function loadImageDetails(name) {
    var base_image_info_url = "/clouds/get_base_image_info/?name=" + name;
    $.get(base_image_info_url, function(response) {
        $("#baseImageDetailsId").html(response);
    });
}

$(document).ready(function() {
    loadImageConfig(getCurrentName());
    loadImageDetails(getCurrentName());
});

$(function () {
    $("#image_name").change(function() {
        loadImageConfig(getCurrentName());
        loadImageDetails(getCurrentName());
    });

    $("#baseImageDetailsButtonId").click(function() {
        $("#showBaseImageDetailsId").collapse('toggle');
    });

    $('#clusterConfigFormId select').change(function() {
        $('#saveClusterConfigBtnId').removeAttr('disabled');
        $('#resetClusterConfigBtnId').removeAttr('disabled');
    });
});
</script>
