{%load utils %}
<div class="input-group">
<select class="form-control chosen-select" id="placement_id" name="placementId" required multiple>
{% for placement in placements %}
    {% if curr_placement_arrays and placement.abstract_name in curr_placement_arrays %}
        <option value="{{ placement.abstract_name }}" selected>{{ placement.abstract_name }}</option>
    {% else %}
        <option value="{{ placement.abstract_name }}">{{ placement.abstract_name }}</option>
    {% endif %}
{% endfor %}
</select>

<span class="input-group-btn">
    <button id="placementDetailsButtonId" class="deployToolTip btn btn-default"
            type="button" data-toggle="tooltip"
            title="click to see more placement information">
        <span class="glyphicon glyphicon-question-sign"></span>
    </button>
</span>
</div>

<script>
function loadPlacementDetails() {
    var placement_info_url = "/clouds/get_placement_infos/";
    $.get(placement_info_url, function(response) {
        $("#placementDetailsId").html(response);
    });
}

$(document).ready(function() {
    loadPlacementDetails();
});

$(function () {
    $("#placementDetailsButtonId").click(function() {
        $("#showPlacementDetailsId").collapse('toggle');
    });

    $(".chosen-select").chosen({"width": "100%"});
    $('#clusterConfigFormId select').change(function() {
        $('#saveClusterConfigBtnId').removeAttr('disabled');
        $('#resetClusterConfigBtnId').removeAttr('disabled');
    });
});
</script>
