{%load utils %}
{% if provider == "AWS" %}
{% if advanced_cluster_info %}
<div class="form-group">
</div>
<div class="form-group">
    <label for="role" class="deployToolTip control-label col-xs-2"
        data-toggle="tooltip"
        title="AWS VM Role">
        Role
    </label>
    <div class="col-xs-4">
        <input class="form-control" name="role" type="text" value="{{ advanced_cluster_info.role }}"/>
    </div>

    <label for="assignIp" class="deployToolTip control-label col-xs-2"
       data-toggle="tooltip" title="Assign public IP address to the instance in VPC">
       Assign Public IP:
    </label>
    <div class="col-xs-4">
        <div class="input-group">
        {% if advanced_cluster_info.assignPublicIp %}
            <input class="" id="assign_public_ip" name="assignPublicIp" type="checkbox" value="" checked>
        {% else %}
            <input class="" id="assign_public_ip" name="assignPublicIp" type="checkbox" value="">
        {% endif %}
        </div>
    </div>
</div>

<div class="form-group">
    <label class="deployToolTip control-label col-xs-2"
       data-toggle="tooltip" title="Customize user data">
       User data configs:
    </label>

    <div class="pull-right">
        <button type="button" class="deployToolTip btn btn-default btn-sm"
        data-toggle="modal" data-target="#newEntryModalId">
            <span class="glyphicon glyphicon-plus"></span> Add Config
        </button>
    </div>
</div>

<div id="mapConfigFieldSetId">
    {% for key,value in advanced_cluster_info.userDataConfigs.items %}
    <div class="form-group">
        <label for="properties" class="control-label col-xs-3">{{ key }}</label>
        <div class="col-xs-6">
            <input class="form-control" name="TELETRAAN_{{ key }}"
                   type="text" value="{{ value | default_if_none:'' }}"/>
        </div>
        <div class="col-xs-3">
            <button type="button" class="delete_button btn btn-default">Delete</button>
        </div>
    </div>
    {% endfor %}
</div>

<!--- add user data config dialog -->
<div class="modal fade" id="newEntryModalId" tabindex="-1" role="dialog"
     aria-labelledby="newEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="newEntryFormId" class="form-horizontal" method="post" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="newEnvModalLabel">Add a new user data config</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newEntryName" class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="newEntryName"
                                   placeholder="name..." value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newEntryValue" class="col-md-2 control-label">Value</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="newEntryValue"
                                   placeholder="value..." value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="newEntryBtnId">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}
{% endif %}

<script>
$(function () {
    $('#newEntryBtnId').click(function () {
        var name = $('#newEntryFormId').find('input[name="newEntryName"]').val();
        var value = $('#newEntryFormId').find('input[name="newEntryValue"]').val();
        $('#mapConfigFieldSetId').append(
            '<div class="form-group">' +
            '<label for="properties" class="control-label col-xs-2">' + name + '</label>' +
            '<div class="col-xs-6"><input class="form-control" name="TELETRAAN_' +
            name + '" type="text" value="' + value + '"/></div>' +
            '<div class="col-xs-3">' +
            '<button type="button" class="delete_button btn btn-default">Delete</button></div>' +
            '</div>');
    });

    $('#clusterConfigFormId input').keyup(function() {
        $('#saveClusterConfigBtnId').removeAttr('disabled');
        $('#resetClusterConfigBtnId').removeAttr('disabled');
    });

    $('#clusterConfigFormId select').change(function() {
        $('#saveClusterConfigBtnId').removeAttr('disabled');
        $('#resetClusterConfigBtnId').removeAttr('disabled');
    });

    $('#clusterConfigFormId input').change(function() {
        $('#saveClusterConfigBtnId').removeAttr('disabled');
        $('#resetClusterConfigBtnId').removeAttr('disabled');
    });

    $('#mapConfigFieldSetId').on('click', '.delete_button', function () {
        $(this).parent().parent().remove();
        $('#saveClusterConfigBtnId').removeAttr('disabled');
        $('#resetClusterConfigBtnId').removeAttr('disabled');
    });
});
</script>