{%load utils %}
<select class="form-control" id="security_zone" name="securityZoneId" required="true">
{% for security_zone in security_zones %}
    {% if curr_security_zone and curr_security_zone == security_zone.id %}
        <option value="{{ security_zone.id }}" selected>{{ security_zone | genCloudResourceInfo }}</option>
    {% else %}
        <option value="{{ security_zone.id }}">{{ security_zone | genCloudResourceInfo  }}</option>
    {% endif %}
{% endfor %}
</select>

<script>
$(function () {
    $('#clusterConfigFormId select').change(function() {
        $('#saveClusterConfigBtnId').removeAttr('disabled');
        $('#resetClusterConfigBtnId').removeAttr('disabled');
    });
});
</script>