{% load utils %}
{% if security_zone_info %}
<table class="table table-condensed table-striped table-hover">
<tr>
    <th class="col-sm-1">Id</th>
    <th class="col-sm-9">Description</th>
</tr>
<tr>
    <td>{{ security_zone_info.provider_name }}</td>
    <td>{{ security_zone_info.description }}</td>
</tr>
</table>
{% endif %}
