{% load utils %}
<table class="table table-condensed table-striped table-hover">
<tr>
    <th class="col-sm-3">Name</th>
    <th class="col-sm-2">Id</th>
    <th class="col-sm-5">Description</th>
</tr>
{% for placement_info in placement_infos %}
<tr>
    <td>{{ placement_info.abstract_name }}</td>
    <td>{{ placement_info.provider_name }}</td>
    <td>{{ placement_info.description }}</td>
</tr>
{% endfor %}
</table>
