{% load utils %}
{% load static %}

<form name="hostTypeList">
    <table id="hostTypeTableId" class="table table-condensed table-striped table-hover">
        <tr>
            <th class="col-lg-1">ID</th>
            <th class="col-lg-1">Arch</th>
            <th class="col-lg-1">Abstract Name</th>
            <th class="col-lg-1">Provider Name</th>
            <th class="col-lg-1">Cloud Provider</th>
            <th class="col-lg-1">Core</th>
            <th class="col-lg-1">Memory (GB)</th>
            <th class="col-lg-1">Storage</th>
            <th class="col-lg-1">Network</th>
            <th class="col-lg-1">Blessed Status</th>
            <th class="col-lg-1">Retired</th>
            <th class="col-lg-4">Description</th>
            <th class="col-lg-1">Edit</th>
        </tr>
        {% for host_type in host_types %}
        <tr>
            <td> {{ host_type.id }} </td>
            <td> {{ host_type.arch_name }} </td>
            <td> {{ host_type.abstract_name }} </td>
            <td> {{ host_type.provider_name }}  </td>
            <td> {{ host_type.provider }}  </td>
            <td> {{ host_type.core }}  </td>
            <td> {{ host_type.mem }} </td>
            <td> {{ host_type.storage }} </td>
            <td> {{ host_type.network }} </td>
            <td> {{ host_type.blessed_status }} </td>
            <td> {{ host_type.retired }} </td>
            <td> {{ host_type.description }} </td>
            <td>
                <button href="" id="hostTypeDetailsId" type="button" class="deployToolTip btn btn-default btn-xs"
                    data-toggle="modal" title="Modify an existing host type" data-value={{ host_type.id }} data-target="#modifyHostTypeModalId">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</form>
<div class="modal fade" id="modifyHostTypeModalId" tabindex="-1" role="dialog" aria-labelledby="modifyHostTypeModalLabel" aria-hidden="true"></div>

<script>
   $(document).on("click", "#hostTypeDetailsId", function () {
        var host_type_id = $(this).attr('data-value');
        $.get(`/clouds/get_host_type/${host_type_id}/`, function(response) {
            $('#modifyHostTypeModalId').html(response);
        });
    });
</script>