{% load utils %}
{% load static %}

<form name="placementList">
    <table id="placementTableId" class="table table-condensed table-striped table-hover">
        <tr>
            <th class="col-lg-1">Basic</th>
            <th class="col-lg-2">Cell</th>
            <th class="col-lg-2">Abstract Name</th>
            <th class="col-lg-2">Provider Name</th>
            <th class="col-lg-1">Cloud Provider</th>
            <th class="col-lg-1">Available Capacity</th>
            <th class="col-lg-4">Description</th>
        </tr>
        {% for placement in placements %}
        <tr>
            <td><span class="deployToolTip pointer-cursor {{ placement.basic | basicIcon }}"></span></td>
            <td> {{ placement.cell_name }} </td>
            <td> {{ placement.abstract_name }} </td>
            <td> {{ placement.provider_name }}  </td>
            <td> {{ placement.provider }}  </td>
            <td> {{ placement.capacity }}  </td>
            <td> {{ placement.description }} </td>
        </tr>
        {% endfor %}
    </table>
</form>
