{% load utils %}
{% load static %}
<table id="deployHistoryTableId" class="table table-condensed table-striped table-hover">
    <tr>
        <th>Start(-08:00)</th>
        <th>State</th>
        <th>Status</th>
        <th>Success</th>
        <th>Operator</th>
        <th>Details</th>
        <th>Schedule</th>
    </tr>
    {% for replace_summary in replace_summaries %}
    <tr>
        <td>
            {{ replace_summary.startDate|convertTimestamp }}
        </td>
        <td>
            {{ replace_summary.state }}
        </td>
        <td>
            <span class="replaceToolTip pointer-cursor {{ replace_summary.status|replaceStatusIcon }}"
                  data-toggle="tooltip" title="{{ replace_summary.status|replaceStatusTip }}">
            </span>
            <small>{{ replace_summary.status }}</small>
        </td>
        <td>
            <span class="replaceToolTip pointer-cursor" data-toggle="tooltip" title="{{ replace_summary.progressTip }}">
            <small>{{ replace_summary.successRate }}</small>
            </span>
        </td>
        <td>{{ replace_summary.operator }}</td>
        <td><a href="/env/{{ env.envName }}/{{ env.stageName }}/replacement/{{ replace_summary.id }}/details/">Details</a></td>
        <td><a href="/env/{{ env.envName }}/{{ env.stageName }}/replacement/{{ replace_summary.id }}/schedule/">Schedule</a></td>
    </tr>
    {% endfor%}
</table>
