{% load utils %}
{% load static %}
<div class="panel panel-default table-responsive">
  <table class="table table-striped table-condensed table-hover">
   <tr>
        <th class="col-lg-1">State</th>
        <th class="col-lg-1">Status</th>
        <th class="col-lg-2">Cluster Replace Progress</th>
        <th class="col-lg-1">Elapsed</th>
        <th class="col-lg-1">Operator</th>
        <th class="col-lg-1">Details</th>
        <th class="col-lg-1">Schedule</th>
   </tr>
   {% if replace_progress_report %}
       <tr>
            <td>
                <span class="replaceToolTip pointer-cursor {{ replace_progress_report.state }}"
                      data-toggle="tooltip" title="{{ replace_progress_report.state }}">
                </span>
                <small>{{ replace_progress_report.state }}</small>
            </td>
            <td>
                <span class="replaceToolTip pointer-cursor {{ replace_progress_report.status|replaceStatusIcon }}"
                      data-toggle="tooltip" title="{{ replace_progress_report.status|replaceStatusTip }}">
                </span>
                <small>{{ replace_progress_report.status }}</small>
            </td>
            <td>
                <div class="progress replaceToolTip" data-toggle="tooltip">
                    <div class="replaceToolTip progress-bar progress-bar-{{ replace_progress_report.progressType }}"
                         data-toggle="tooltip" title="{{ replace_progress_report.progressTip }}"
                         role="progressbar" aria-valuenow="{{ replace_progress_report.successRatePercentage }}"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width: {{ replace_progress_report.successRatePercentage }}%;">
                        <span class="show">{{ replace_progress_report.successRate }}</span>
                    </div>
                </div>
            </td>
            <td>
                <span class="deployToolTip label label-default" data-toggle="tooltip"
                      title="{{ replace_progress_report|computeElapsedTime }}">
                    {{ replace_progress_report.startDate|computeDuration }}
                </span>
            </td>
            <td>{{ replace_progress_report.operator }}</td>
            <td><a href="/env/{{ env.envName }}/{{ env.stageName }}/replacement/{{ replace_progress_report.id }}/details/">view</a></td>
            <td><a href="/env/{{ env.envName }}/{{ env.stageName }}/replacement/{{ replace_progress_report.id }}/schedule/">view</a></td>
       </tr>

   {% endif %}

</table>
</div>

<script>

    $(function () {
        // include this tmpl, meaning a cluster replace is going-on, need to check its progress

        function setIntervalAndExecute(fn, t) {
            fn();
            return(setInterval(fn, t));
        }
        // update every 1 min, and execute now

        var replaceStartTime = new Date().getTime();
        var replaceProgressInterval = setIntervalAndExecute(function() {
            if(new Date().getTime() - replaceStartTime > 1800000) {  // if more than 30 mins, clear it
                console.log('cleared time interval');
                clearInterval(replaceProgressInterval);
            }
            $('#activeClusterReplaceId').load(
                    '/env/{{ env.envName }}/{{ env.stageName }}/update_cluster_replace_progress/',
                    function(response, status, xhr) {
                        console.log(response);
                        if(response == 'There is no on-going replacement.') {
                            clearInterval(replaceProgressInterval);
                            console.log('cleared time interval');
                            // hide the parent warning banner when replace finished as well
                            $('#activeClusterReplaceId').closest(".alert").alert('close');
                        }
                    }
            );
        }, 60000);
    });
</script>
