{% load utils %}
{% load static %}

<form name="securityZoneList">
    <table id="securityZoneTableId" class="table table-condensed table-striped table-hover">
        <tr>
            <th class="col-lg-2">Cell</th>
            <th class="col-lg-2">Abstract Name</th>
            <th class="col-lg-2">Provider Name</th>
            <th class="col-lg-1">Cloud Provider</th>
            <th class="col-lg-4">Description</th>
        </tr>
        {% for security_zone in security_zones %}
        <tr>
            <td> {{ security_zone.cell_name }} </td>
            <td> {{ security_zone.abstract_name }} </td>
            <td> {{ security_zone.provider_name }}  </td>
            <td> {{ security_zone.provider }}  </td>
            <td> {{ security_zone.description }} </td>
        </tr>
        {% endfor %}
    </table>
</form>
