body {
    padding-top: 55px;
}

.container-fluid {
    padding: 5px;
}

.container {
    padding: 5px;
}

.container {padding-left:5px;padding-right:5px;}
.row {margin-left:5px;margin-right:5px;margin-top:5px;margin-bottom:5px;}
.row > div {padding-left:5px;padding-right:5px;}
.panel {margin-top:5px;margin-bottom:5px;}

.form-compact {
  font-size: 0.8em;
}
.form-compact .form-control {
  padding: 1px 2px;
  height: 24px;
  font-size:1em;
}
.form-compact label {
  margin-bottom: 1px;
}
.form-compact .form-group
{
  margin-bottom:0px;
}

.breadcrumb {
    margin-bottom: 1px;
}

.pointer-cursor {
    cursor: pointer;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.color-green {
 color: green;
}

.color-red {
 color: red;
}

.host-btn {
  margin: 2px 0;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn-critical {
  background-color: #bf4046;
  color: white;
}

.btn-critical:hover {
  background-color: #d2464d;
  color: white;
}

.btn-outline-danger {
  border: 1px solid #de606d;
  color: #de606d
}

.btn-info {
  background-color: #17a2b8;
  color: white;
}

.btn-outline-info {
  border: 2px dashed #17a2b8;
  color: #17a2b8;
  animation: blink-border 1s infinite;
}

.btn-outline-warning {
  border: 2px dashed #ffc107;
  animation: blink-border 1s infinite;
}

@keyframes blink-border {
  50% {
    border-color: #fff;
  }
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.gauge-width {
    /* custom width */
    width:256px;
}

/**
 * Progress bars with centered text
 */
.progress {
  position: relative;
  margin-bottom: 0px;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

@keyframes fa-blink {
     0% { opacity: 1; }
     25% { opacity: 0.25; }
     50% { opacity: 0.5; }
     75% { opacity: 0.75; }
     100% { opacity: 0; }
}

@-webkit-keyframes fa-blink {
     0% { opacity: 1; }
     25% { opacity: 0.25; }
     50% { opacity: 0.5; }
     75% { opacity: 0.75; }
     100% { opacity: 0; }
}

.fa-blink {
   -webkit-animation: fa-blink 1s linear infinite;
   -moz-animation: fa-blink 1s linear infinite;
   -ms-animation: fa-blink 1s linear infinite;
   -o-animation: fa-blink 1s linear infinite;
   animation: fa-blink 1s linear infinite;
}

/* tree */
.tree,
.tree ul {
  margin:0;
  padding:0;
  list-style:none;
}

.tree ul {
  margin-left:1em; /* indentation */
  position:relative;
}

.tree ul ul {margin-left:.5em} /* (indentation/2) */

.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.tree li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  line-height:2em; /* default list item's `line-height` */
  color:#369;
  font-weight:bold;
  position:relative;
}

.tree ul li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.tree ul li:last-child:before {
  background:white; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}

.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}
.btn-arrow-right {
    padding-left: 36px;
}
.btn-arrow-left {
    padding-right: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}

.commit-msg {
  white-space: pre-wrap;
}

.tag-editor-field {
  border: #ccc 1px solid;
  display: inline-block;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid #ccc;
  font: -moz-field;
  font: -webkit-small-control;
  font-size: 14px;
  padding: 6px 12px;
  user-select: text;
  cursor: auto;
  width: 100%;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.tag-editor-button{
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;

}

.tag-editor-placehoder{
  color: gray
}

.tag-button{
  background-color: #f5f5f5;
  border-color:#f5f5f5;
}

.tag-hover-button:hover{
  background-color: #5bc0de;
  border-color: #5bc0de
}

.fixed-table-loading {
    display: none;
    position: absolute;
    top: 42px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    text-align: center;
}

.tag-value-placeholder {
    color: #f5f5f5;
    background-color: #428bca;
    padding: 3px;
    border-radius:3.5px;
    margin-right: 2px;
}

.btn-project-info {
  display: inline-block;
  padding-left: 0px;
  line-height: 100%;
}

.btn-project-info span {
  padding-left: 24px;
  color: #428bca;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: -1px;
}

.btn-project-info a {
  display: inline-block;
  text-decoration: none;
  color: #428bca;
  font-size: 95%;
  vertical-align: middle;
  margin-top: -3px;
}

.btn-project-info-warning {
  display: inline-block;
  padding-left: 0px;
  line-height: 100%;
}

.btn-project-info-warning span {
  padding-left: 16px;
  color: #d44950;
  font-size: 110%;
  vertical-align: middle;
  margin-top: -9px;
  margin-right: -1px;
}

.btn-project-info-warning p {
  display: inline-block;
  color: #d44950;
  font-size: 95%;
  vertical-align: middle;
  margin-top: 3px;
}

.stage-type-badge {
  display: inline-block;
  border-style: solid;
  border-radius: 25px;
  border-width: 2px;
  border-color: #ccc;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
}


.stage-filter-reset-button {
  float: right;
  margin-right: 5px;
  border-style: none;
}

.checkbox-menu li label {
    display: block;
    padding: 2px 0;
    padding-left: 10px;
    font-weight: normal;
    margin: 0;
}

.checkbox-menu li.active label {
    background-color:#c8e3fa;
}

.checkbox-menu li.active label:hover {
    background-color: #b8d0e6;
}

.checkbox-menu li label:hover {
    background-color: #f5f5f5;
}

.checkbox-menu li input{
    width: 17px;
    height: 17px;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

.checkbox-menu li.active label {
    font-weight: bold;
}

.checkbox-menu li span {
    position: relative;
    bottom: 2px;
}

.filter-wide {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    width: 100%;
    position: relative;
}

.filter-wide > li {
    position: relative;
    display: block;
}

.filter-tabs {
    margin-top: -1px;
}

.filter-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.filter-tabs > li > button:hover {
    border-color: #1c1e22 #1c1e22 #1c1e22;
}
.filter-tabs > li > button {
    font-size: inherit;
}

#stageFilterButton {
    font-size: inherit;
    margin-right: 15px;
}

#stageFilterOptions {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px;
    padding-right: 0px;
    font-size: 12px;

    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
}

#stageFilterDropdown {
    margin-bottom: 4px;
    display: block;
}

#stageTabsView {
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
}

.mr-1 {
    margin-right: 5px;
}

.ml-1 {
    margin-left: 5px;
}

.mt-1 {
    margin-top: 5px;
}
