{
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "parser": "babylon",
  "semi": false,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {"parser": "json"}
    }
  ]
}
