# ignore install specific teletraan dir
deploy-board/teletraan/
deploy-service/teletraanservice/teletraan/

# IntelliJ files
.idea/
*.iml

# vim
*.swp

# VSCode
.vscode/
deploy-service/common/.settings/
deploy-service/.settings/
deploy-service/common/.*
deploy-service/teletraanservice/.settings/
deploy-service/teletraanservice/.*
docs/docs_generator/.settings/


# C extensions
*.so

# tar
*.tar.gz

# log
*.log

# Ignore dirs
build_id.properties
loadtests/local
.DS_Store
target/
dist/
docs/_build/
docs/docs_generator/.gradle
.settings/

# Vagrant
.bundle
.vagrant

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
pip-log.txt
*.py[cod]

# Unit test / coverage reports
.coverage
coverage.xml
.tox
nosetests.xml
junit-py27.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.DS_Store

# PIP stuff
MANIFEST

# Virtual Environments
.venv
docs/docs_generator/bin/

# Bazel
bazel-bin
bazel-out
bazel-testlogs
bazel-weave
bazel-deploy-agent
MODULE.bazel*
