{% extends 'environs/env_base.html'%}
{% load utils %}

{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/envs">Environments</a></li>
    <li><a href="/env/{{ env.envName }}/{{ env.stageName }}">{{ env.envName }} ({{ env.stageName }})</a></li>
    <li><a href="/env/{{ env.envName }}/{{ env.stageName }}/config">General Config</a></li>
    <li class="active">Capacity</li>
</ul>
{% endblock %}
{% load static %}


{% block side-panel-actions %}
<script type="text/javascript" src="{% static "js/components/sharedcomponents.js"%}?changedate=2023.01.30"></script>
<script type="text/javascript" src="{% static "js/components/capacitycomponents.js"%}?changedate=2023.01.30"></script>

<div class="panel panel-default" id="side-panel">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Capacity</h4>
    </div>

    {% if is_pinterest %} <!-- Pinterest specific-->
        <div v-if="noCluster" class="row">
            <side-button styleclass="fa fa-cloud" text="Create New Cluster" href="/env/{{ env.envName }}/{{ env.stageName }}/config/newcapacity/" title="Create New Cluster"></side-button>
        </div>
        <div v-if="!noCluster" class="row">
            <side-button styleclass="fa fa-gears" text="Cluster Configuration" href="/env/{{ env.envName }}/{{ env.stageName }}/config/cluster/config/" title="Go to the cluster configuration page"></side-button>
        </div>
        <div v-if="!noCluster" class="row">
            <side-button styleclass="fa fa-cloud" text="Autoscaling Settings" href="/groups/{{ env.clusterName }}/config" title="Advanced auto scaling configuration page"></side-button>
        </div>
         <div v-if="showAddExistingCapacity" class="row">
            <side-button styleclass="fa fa-plus" text="Add Existing Capacity" href="/env/{{ env.envName }}/{{ env.stageName }}/config/capacity?addexisting" title="Add Existing Capacity"></side-button>
        </div>
        <clone-cluster v-bind:deployservicewikiurl="deployServiceWikiUrl" v-bind:showclone="!noCluster" v-bind:alluserdata="allUserData" v-on:input="cloneClick"></clone-cluster>
        <delete-cluster v-bind:showdelete="!noCluster" v-on:input="deleteClick"></delete-cluster>
    {% else %}
        <div class="row">
            <side-button styleclass="fa fa-gears" text="General Config"  title="Return the generic configuration page"></side-button>
        </div>
    {% endif %}

</div>
{% endblock %}

{% block new-builds-panel %}
{% endblock %}
{% block new-pred-deploys-panel %}
{% endblock %}

{% block main %}

<div id="clusterAlert">
    <in-rolling-alert v-show="showReplaceAlert" actionlink="/env/{{ env.envName }}/{{ env.stageName }}/config/cluster/config/"></in-rolling-alert>
</div>
{% include "environs/env_tabs.tmpl" with envTabKind="config/capacity" %}

<script>

window.info = {{info | safe}}
window.env = info.env;
window.hosts = info.hosts;
window.groups = info.groups;
window.showExistingCapacity = !window.info.is_pinterest || getUrlParameter("addexisting") || (hosts!=null && hosts.length>0)||(groups!=null && groups.length>0)
const deployServiceWikiUrl = "{{conflicting_deploy_service_wiki_url}}";
let clusterConfigs;
if (info.is_pinterest){
    hasCMPCluster = info.basic_cluster_info != null;
    clusterConfigs = info.basic_cluster_info?.configs ?? {};
}
else{
    hasCMPCluster = false;
    clusterConfigs = {};
}
var sidebar = new Vue({
    el:"#side-panel",
    data:{
        noCluster: !hasCMPCluster,
        allUserData: Object.keys(clusterConfigs).map(
            function(key) {
                return {
                    name: key,
                    value: clusterConfigs[key],
                }
            }),
        showAddExistingCapacity: !window.showExistingCapacity,
        deployServiceWikiUrl,
    },
    methods:{
        //Send delete request
        sendDelete: function(){
             $.ajax({
                    type: 'POST',
                    url: '/env/{{ env.envName }}/{{ env.stageName }}/config/delete_cluster/',
                    dataType: "json",
                    beforeSend: function(xhr, settings) {
                        var csrftoken = getCookie('csrftoken')
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);

                    },
                    success: function(data) {
                        globalNotificationBanner.info = "Request sent successfully"
                        //Reload page
                        window.location.href=window.location.href
                    },
                    error: function(data) {
                        globalNotificationBanner.error = data.responseJSON.error;
                    }
                });
        },
        //Delete cluster
        deleteClick: function(value){
            if (value){
                this.sendDelete()
            }
        },
        sendClone: function (new_environment, new_stage) {
            $.ajax({
                    type: 'POST',
                    url: '/env/{{ env.envName }}/{{ env.stageName }}/config/clone_cluster/',
                    data: {
                        'new_environment': new_environment,
                        'new_stage': new_stage

                    },
                    dataType: "json",
                    beforeSend: function(xhr, settings) {
                        var csrftoken = getCookie('csrftoken')
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);

                    },
                    success: function(data) {
                        globalNotificationBanner.info = "Request sent successfully";
                        //Reload page
                        window.location.href=window.location.href
                    },
                    error: function(data) {
                        globalNotificationBanner.error = data.responseJSON.error;
                    }
                });
        },

        cloneClick: function(new_environment, new_stage) {
            if(new_environment && new_stage) {
                this.sendClone(new_environment, new_stage);
            }
        }
    }
 });

var alert = new Vue({
    el:"#clusterAlert",
    data:{
        showReplaceAlert: info.basic_cluster_info != null && info.basic_cluster_info.state != "NORMAL"
    }
 });
</script>

<div id="mainPanel">
    {% include "configs/capacity.tmpl" %}
</div>

{% endblock %}
