{% load utils %}
{% include "panel_heading.tmpl" with panel_title=panelTitle panel_body_id=panelBodyId direction="down" %}
<div id="panelBodyId" class="collapse in panel-body">
    <div class="container-fluid">
        <form id="mapConfigFormId" class="form-horizontal" role="form">
            <fieldset id="mapConfigFieldSetId">
                {% for key,value in configs.items %}
                <div class="form-group">
                    <label for="properties" class="control-label col-xs-3">{{ key }}</label>
                    <div class="col-xs-6">
                        <textarea class="form-control" name="TELETRAAN_{{ key }}"
                        rows="1" style="resize: none;"
                        >{{ value|default_if_none:'' }}</textarea>
                        <p class="lineTooLong" {% if value|length < 256 %}hidden{% endif %}>Value too long > 256, we suggest breaking it into multiple key-value pairs.</p>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="delete_button btn btn-default">Delete</button>
                    </div>
                </div>
                {% endfor %}
            </fieldset>
            <input type="hidden" class="form-control" name="flavor" value="{{ flavor }}"/>
            {% csrf_token %}
        </form>
    </div>
</div>
<div class="panel-footer clearfix">
    <div class="pull-right">
        <button id="resetConfigMapBtnId" class="btn btn-default"
                type="button" data-loading-text="Reloading...">
            <span class="glyphicon glyphicon-refresh"></span> Reload
        </button>
        {% if env|isEnvEnabled %}
        <button id="addConfigMapBtnId" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> Add
        </button>
        <button id="saveConfigMapBtnId" class="btn btn-primary"
                type="button" data-loading-text="Saving...">
            <span class="glyphicon glyphicon-floppy-save"></span> Save
        </button>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="saveEntryModalId" tabindex="-1" role="dialog"
     aria-labelledby="saveEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="saveEntryFormId" class="form-horizontal" method="post" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="saveEnvModalLabel">Save New {{ panelTitle }}</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to <strong>save new config</strong> for this cluster?<br>
                    Please double check the new added config in yellow color before saving. Thanks.
                </div>
                <div class="modal-footer">
                    <button id="saveEntryBtnId" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newEntryModalId" tabindex="-1" role="dialog"
     aria-labelledby="newEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="newEntryFormId" class="form-horizontal" method="post" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="newEnvModalLabel">Add a new {{ panelTitle }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {% if flavor == 'AC' %}
                        <label for="newEntryName" class="col-md-2 control-label">Agent Config</label>

                        <div class="col-md-10">
                            <select class="form-control" name="newEntryName">
                            {% get_advanced_config_names as config_names %}
                            {% for config_name in config_names %}
                            <option value="{{ config_name }}">{{ config_name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        {% else %}
                        <label for="newEntryName" class="col-md-2 control-label">Name</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" name="newEntryName"
                                   placeholder="name..." value=""/>
                        </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="newEntryValue" class="col-md-2 control-label">Value</label>

                        <div class="col-md-10">
                            <textarea type="text" class="form-control" name="newEntryValue"
                             rows="1" style="resize: none;" placeholder="value..."></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="newEntryBtnId" type="button" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#saveConfigMapBtnId').attr('disabled','disabled');
        $('#resetConfigMapBtnId').attr('disabled','disabled');

        $('#mapConfigFormId' + ' textarea').keyup(function() {
            $('#saveConfigMapBtnId').removeAttr('disabled');
            $('#resetConfigMapBtnId').removeAttr('disabled');
        });

        $('#mapConfigFormId,#newEntryFormId').on('input', 'textarea', function() {
            const currentVal = $(this).val();
            if (currentVal.match(/[\r\n\v]+/g)) {
                $(this).val(currentVal.replace(/[\r\n\v]+/g, ' '));
                globalNotificationBanner.warning =
                    "Multi-line (\\r\\n) is not allowed in script config and thus replaced by SPACE. Also note that line wrapping is enabled.";
            }

            const lineTooLong = $(this).siblings(".lineTooLong");
            if ($(this).val().length > 256) {
                lineTooLong.show();
            } else {
                lineTooLong.hide();
            }
        });

        $('#addConfigMapBtnId').click(function () {
            $('#newEntryModalId').modal()
            $('#saveConfigMapBtnId').removeAttr('disabled');
            $('#resetConfigMapBtnId').removeAttr('disabled');
        });

        $('#saveConfigMapBtnId').click(function () {
            $('#saveEntryModalId').modal()
        });

        $('#newEntryBtnId').click(function () {
            {% if flavor == 'AC' %}
            var name = $('#newEntryFormId').find('select[name="newEntryName"]').val();
            {% else %}
            var name = $('#newEntryFormId').find('input[name="newEntryName"]').val();
            {% endif %}
            var value = $('#newEntryFormId').find('textarea[name="newEntryValue"]').val();
            $('#mapConfigFieldSetId').append(
                    '<div class="form-group">' +
                    '<label for="properties" class="control-label col-xs-3" style="color:gold">' + name + '</label>' +
                    '<div class="col-xs-6"><textarea class="form-control" name="TELETRAAN_' +
                    name + '" type="text" rows="1" style="resize: none;">' + value + '</textarea>' +
                    '<p class="lineTooLong" ' + (value.length > 256 ? '' : 'hidden') +
                    '>Value too long > 256, we suggest breaking it into multiple key-value pairs.</p></div>' +
                    '<div class="col-xs-3 {{ flavor }}_remover">' +
                    '<button type="button" class="delete_button btn btn-default">Delete</button></div>' +
                    '</div>');
            $('#newEntryModalId').modal('hide')
        });

        $('#saveEntryBtnId').click(function () {
            $('#saveEntryModalId').modal('hide');
            var btn = $('#saveConfigMapBtnId');
            $.ajax({
                type: 'POST',
                url: '/env/{{ env.envName }}/{{ env.stageName }}/config/map/',
                data: $('#mapConfigFormId').serialize(),
                dataType: 'json',
                beforeSend: function () {
                    btn.button('loading');
                },
                success: function (data) {
                    if(data != null && data.success == false) {
                        $('#errorBannerId').append(data.error);
                        $('#errorBannerId').show();
                    } else {
                        $('#panelBodyId').parent().html(data.html);
                        $('#errorBannerId').empty().hide();
                    }
                    btn.button('reset');
                    window.location.href=window.location.href;
                },
                error: function (data) {
                    $('#errorBannerId').append(data.responseText);
                    $('#errorBannerId').show();
                }
            });
        });

        $('#resetConfigMapBtnId').click(function () {
            var btn = $(this);
            $.ajax({
                type: 'GET',
                url: '/env/{{ env.envName }}/{{ env.stageName }}/config/map/?flavor={{ flavor }}',
                beforeSend: function () {
                    btn.button('loading');
                },
                success: function (data) {
                    btn.button('reset');
                    $('#panelBodyId').parent().html(data.html);
                }
            });
        });

        $('#mapConfigFieldSetId').on('click', '.delete_button', function () {
            $(this).parent().parent().remove();
            $('#saveConfigMapBtnId').removeAttr('disabled');
            $('#resetConfigMapBtnId').removeAttr('disabled');
        });

        $('#mapConfigFieldSetId, #newEntryFormId').on('change click keyup keydown', 'textarea', function () {
            var scrollLeft = window.pageXOffset ||
                (document.documentElement || document.body.parentNode || document.body).scrollLeft;

            var scrollTop  = window.pageYOffset ||
                (document.documentElement || document.body.parentNode || document.body).scrollTop;

            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';

            window.scrollTo(scrollLeft, scrollTop);
         });

    });
</script>
