{% extends 'environs/env_base.html'%} {% load utils %} {% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/envs">Environments</a></li>
    <li><a href="/env/{{ env.envName }}/{{ env.stageName }}">{{ env.envName }} ({{ env.stageName }})</a></li>
    <li><a href="/env/{{ env.envName }}/{{ env.stageName }}/config">General Config</a></li>
    <li class="active">New Capacity</li>
</ul>
{% endblock %}
{% load static %}
{% block side-panel-actions %}
<style>
    .chosen-container-single .chosen-single div b {
        background: url("chosen-sprite.png") no-repeat 7px 7px;
    }
    .chosen-container-single .chosen-single {
        padding: 0 0 0 16px;
    }
</style>
<script type="text/javascript" src="{% static "js/components/sharedcomponents.js"%}?changedate=2016.12.19.150000"></script>
<div class="panel panel-default" id="side-panel">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Capacity</h4>
    </div>
    <div class="row">
        <side-button styleclass="fa fa-gears" text="Basic Settings" href="/env/{{ env.envName }}/{{ env.stageName }}/config/newcapacity"
            title="Basic Settings"></side-button>
    </div>
</div>
{% endblock %}
{% block new-builds-panel %}
{% endblock %}
{% block new-pred-deploys-panel %}
{% endblock %}
{% block main%}
{% include "environs/env_tabs.tmpl" with envTabKind="config/capacity" %}
<script type="text/javascript" src="{% static "js/components/capacitycomponents.js"%}?changedate=2023.01.30"></script>
<script type="text/javascript" src="{% static "js/components/clusterconfigcomponents.js"%}?changedate=2023.08.22"></script>
<script type="text/javascript" src="{% static "js/base-image-utils.js"%}?changedate=2023.01.30"></script>

<div id="mainPanel" class="panel panel-default">

    <panel-heading title="Advanced Settings" target="#envCapacityId" initcollapse="false"></panel-heading>
    <div id="envCapacityId" class="collapse in panel-body" v-on:show.bs.collapse="showcontent" v-on:hide.bs.collapse="hidecontent">
        <div class="container-fluid">
            <form id="clusterConfigFormId" class="form-horizontal" role="form">
                <fieldset id="clusterConfigFieldSetId">
                    <cloudprovider-select v-bind:cloudproviders="providers" v-bind:value="currentProvider"></cloudprovider-select>
                    <accounts-select v-bind:accounts="accounts" v-on:accountchange="accountChange" v-bind:value="currentAccountId"></accounts-select>
                    <cell-select v-bind:cells="cells" v-on:cellchange="cellChange"  v-bind:value="currentCell"></cell-select>
                    <label-input label="Capacity" placeholder="# of instances" v-model="instanceCount"></label-input>
                    <arch-select v-bind:arches="arches" v-on:archchange="archChange"  v-bind:value="archValue"></arch-select>
                    <baseimage-select v-model="pinImage" :image-names="imageNames" :base-images="baseImages" v-bind:account-owner-id="currentAccountOwnerId"
                        :selected-image-name="imageNameValue" :selected-base-image="baseImageValue" :pin-image-enabled="pinImageEnabled"
                        @base-image-change="baseImageChange" @image-name-change="imageNameChange" @help-clicked="baseImageHelpClick" >
                    </baseimage-select>
                    <base-image-help v-show="showBaseImageHelp" v-bind:data="baseImageHelpData"></base-image-help>
                    <hosttype-select label="Host Type" title="Compute Capability of the host" v-model="selectedHostTypeValue" v-bind:selectoptions="hostTypeOptions" selectsearch="true"
                    showhelp="true" v-on:helpclick="hostTypeHelpClick" v-bind:disablebackupinstancetypes="disableBackupInstanceTypes" v-bind:enablemultiplehosttypes="enableMultipleHostTypes" v-on:enablemultiplehosttypesclick="selecttypes"></hosttype-select>
                    <hostype-help v-show="showHostTypeHelp" v-bind:data="hostTypeHelpData"></hostype-help>
                    <backup-hosttypes v-bind:backuphosttypes="backupHosttypes"></backup-hosttypes>
                    <label-select label="Security Zone" title="Security zone to control inbound/outboud traffic" showhelp="true" v-model="selectedSecurityZoneValue"
                        v-bind:selectoptions="securityZones" v-on:helpclick="securityZoneHelpClick"></label-select>
                    <securityzone-help v-show="showSecurityZoneHelp" v-bind:data="securityZoneHelpData"></securityzone-help>
                    <placements-select label="Placements" title="Placements" v-bind:selectoptions="placements" v-bind:assignpublicip="assignPublicIP"
                        showhelp="true" v-on:helpclick="placementsHelpClick" v-on:assignpublicipclick="selectpublicip"></placements-select>
                    <placements-help v-show="showPlacementsHelp" v-bind:data="placementsHelpData"></placements-help>
                    <label-input label="Replacement Timeout" placeholder="45" v-model="replacementTimeout" title="Time out for cluster replacement in minutes"></label-input>
                    <stateful-select :statefuloptions="statefulStatusOptions" :value="selectedStatefulStatus" @help-clicked="statefulHelpClick" @stateful-change="updateStatefulStatus"></stateful-select>
                    <stateful-help v-show="showStatefulHelp"></stateful-help>
                    <div>
                        <div class="form-group"></div>
                        <div class="form-group">
                            <label class="deployToolTip control-label col-xs-2" data-toggle="tooltip" title="Customize user data">User data configs:</label>
                            {% if is_pinterest %}
                                <a href={{user_data_config_settings_wiki}} target="_blank"><span class="glyphicon glyphicon-question-sign"></span></a>
                            {% endif %}
                             <div class="pull-right">
                                <add-config-button target="#newConfigModalId"></add-config-button>
                                <aws-config-modal id="newConfigModalId" v-bind:options="configOptions" v-on:click="addConfig"></aws-config-modal>
                            </div>
                        </div>
                        <deployservice-warning-banner :deployservicewikiurl="deployServiceWikiUrl" :alluserdata="allUserData"></deployservice-warning-banner>
                        <aws-user-data
                            v-bind:alluserdata="allUserData"
                            v-on:deleteconfig="deleteConfig"
                            v-on:change="configChange"
                            inadvanced="inAdvanced"
                            v-bind:hierapaths="hieraPaths"
                            v-bind:puppetrepository="puppetRepository"
                        />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <modal v-bind:title="confirmDialogTitle" v-bind:id="confirmDialogId" v-on:input="clickDialog">
        <div slot="body">Are you sure to create the cluster for environment {{env.envName}}({{env.stageName}})?</div>
    </modal>

    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button id="saveEnvCapacityBtnId" class="btn btn-primary" data-target="#createHostGroup" data-toggle="modal" data-loading-text="Creating...">
            <span class="glyphicon glyphicon-floppy-save"></span> Create
        </button>
        </div>
    </div>
</div>
<script>
var capacityView = new Vue({
    el:"#side-panel"
 }
)

var info = {{capacity_creation_info|safe}};
var environment = info.environment;
var placements = getDefaultPlacement(info);
var hostTypes = getDefaultHostType(info.hostTypes, info.defaultHostType, info.defaultARMHostType);
var statefulOptions = info.stateful_options;
const goldenImage = info.baseImages.find(goldenImageFinder);
const baseImagesSorted = info.baseImages.sort(baseImageSorter);
const defaultImageId = goldenImage ? goldenImage.id : getDefaultBaseImageId(baseImagesSorted);

const hieraPaths = `{{ puppet_hiera_paths }}`;
const puppetRepository = `{{ puppet_repository }}`;
const deployServiceWikiUrl = `{{ conflicting_deploy_service_wiki_url }}`;
const disableBackupInstanceTypes = `{{ disable_backup_instance_types}}`;

var capacitySetting = new Vue({
    el: "#mainPanel",
    data: {
        allUserData: Object.keys(info.defaultCMPConfigs).map(
            function (key) {
                if (key == 'access_role') {
                    info.defaultCMPConfigs[key] = localStorage.getItem("accessRole") ? localStorage.getItem("accessRole") : info.defaultCMPConfigs[key];
                }
                return {
                    name: key,
                    value: info.defaultCMPConfigs[key]
                }
            }).filter(function(item){return item.name!='cmp_group'}),
        assignPublicIP: false,
        baseImageHelpData: [],
        baseImages: mapBaseImagesToOptions(baseImagesSorted),
        baseImageValue: defaultImageId,
        // Default to Auto Update if there is a golden image.
        pinImage: getPinImageValue(goldenImage, true),
        pinImageEnabled: isPinImageEnabled(goldenImage),
        configOptions: Object.keys(info.configList).map(
            function (key) {
                return {
                    name: key,
                    text: key,
                    default: info.configList[key]
                }
            }).filter(function(item){return item.name != 'assign_public_ip'}),
        confirmDialogTitle: "Confirm New Capacity Creation",
        confirmDialogId: "createHostGroup",
        currentProvider: info.defaultProvider,
        currentAccountId: info.defaultAccountId,
        currentAccountOwnerId: getAccountOwnerId(info.defaultAccountId),
        currentCell: getDefaultCell(info.defaultAccountId),
        currentArch: info.defaultArch,
        hostTypeHelpData:[],
        hostTypeOptions: hostTypes.getOptions(),
        archValue: info.defaultArch,
        imageNameValue: info.defaultBaseImage,
        imageNames: mapImageNameToOptions(info.baseImageNames),
        instanceCount: "",
        placements: placements.getFullList(false, null),
        placementsHelpData: [],
        accounts: info.accounts != null ? info.accounts.map(
            function (o) {
                return {
                    value: o.id,
                    text: o.ownerId + " / " + o.name + " / " + o.description,
                    isSelected: o.id === info.defaultAccountId,
                }
            }) : null,
        providers: info.providerList.map(
            function (o) {
                return {
                    value: o, text: o
                }
            }),
        cells: getUiCells(info.defaultAccountId),
        arches: info.arches.map(
            function (item) {
                return {
                    value: item.name,
                    text: item.name,
                    isSelected: item.name == info.defaultArch
                }
            }),
        replacementTimeout: 45,
        securityZoneHelpData: [],
        securityZones: info.securityZones.map(
            function (item) {
                return {
                    value: item.abstract_name,
                    text: item.abstract_name,
                    isSelected: item.abstract_name === info.defaultSeurityZone
                }
            }),
        // TODO: The default host type comes from settings and should probably not be an abstract_name since they are not guaranteed to be unique.
        selectedHostTypeValue: hostTypes.getSelectedId(),
        selectedSecurityZoneValue: info.defaultSeurityZone,
        selectedPlacements: [],
        showBaseImageHelp: false,
        showHostTypeHelp: false,
        showSecurityZoneHelp: false,
        showPlacementsHelp: false,
        accessRoleHelpText: "Please enter a valid access role",
        selectedStatefulStatus: capacityCreationInfo.stateful_status,
        statefulStatusOptions: statefulOptions.map(function(o) {
            return {
                value: o,
                text: o
            }
        }),
        showStatefulHelp: false,
        hieraPaths,
        puppetRepository,
        deployServiceWikiUrl,
        disableBackupInstanceTypes,
        enableMultipleHostTypes: false,
        backupHosttypes: "None",
    },
    methods: {
        addConfig: function (config) {
            var filter = this.allUserData.filter(function (data) { return data.name === config.name })
            if (filter.length == 0) {
                this.allUserData.push(config)
            }
            else {
                filter[0].value = config.value
            }
        },
        baseImageChange: function (value) {
            this.baseImageValue = value
        },
        baseImageHelpClick: function(){
            if (this.showBaseImageHelp){
                this.showBaseImageHelp = false;
            }
            else{
                this.getHelpInfo('get_base_image_info/' + this.imageNameValue, function(data){
                    data = data.map(function(item){
                                item.publish_date=new Date(item.publish_date)
                                if (item.description == null || item.description.length==0){
                                    item.description = "None"
                                }
                                return item
                            })
                    capacitySetting.baseImageHelpData = data
                    capacitySetting.showBaseImageHelp = true
                }, {cell: capacitySetting.currentCell})
            }
        },
        configChange: function(input){
                this.allUserData = this.allUserData.map(function(item){
                    if (item.name===input.name){
                        return input
                    }
                    else{
                        return item
                    }
                 })
        },
        deleteConfig: function (name) {
            this.allUserData = this.allUserData.filter(function (config) { return config.name != name })
        },
        getHelpInfo: function(path, onSuccess, params){
            const searchParams = new URLSearchParams(params);
            const seachParamStr = params != null ? `?${searchParams}` : '';
            $.ajax({
                type: 'GET',
                url: `${location.protocol}//${location.host}/clouds/${path}/${seachParamStr}`,
                dataType: "json",
                beforeSend: function(xhr, settings) {
                    var csrftoken = getCookie('csrftoken')
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);

                },
                success: function(data){
                    onSuccess(data)
                },
                error: function(data) {
                    globalNotificationBanner.error = data.responseJSON.error;
                }
            });
        },
        hostTypeHelpClick: function(){
            if (this.showHostTypeHelp){
                this.showHostTypeHelp = false;
            }
            else{
                this.getHelpInfo('get_host_types/' + capacitySetting.currentArch, function(data){
                        capacitySetting.hostTypeHelpData = data
                        capacitySetting.showHostTypeHelp = true
                    }, {cell: capacitySetting.currentCell})
            }
        },
        accountChange: function (value) {
            this.currentAccountId = value;
            this.currentAccountOwnerId = getAccountOwnerId(value);
            this.cells = getUiCells(value);
            this.cellChange(getDefaultCell(value));
        },
        cellChange: function(value) {
            capacitySetting.currentCell = value;
            // grab all the image names for this cell
            var scope = this;
            var provider = capacitySetting.currentProvider;
            var arch = capacitySetting.currentArch;
            var cell = value;
            $.ajax({
                type: 'GET',
                url: location.protocol + '//' + location.host + '/clouds/image_names/' + provider + '/' + cell + '/' + arch,
                dataType: "json",
                beforeSend: function (xhr) {
                    var csrftoken = getCookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    capacitySetting.imageNames = data ? mapImageNameToOptions(data) : [];
                    scope.imageNameChange(data && data.length > 0 ? data[0] : null);
                },
                error: function (data) {
                    globalNotificationBanner.error = data.responseJSON.error;
                }
            });


            const securityZonesUrl =
                `${location.protocol}//${location.host}/clouds/securityzones/${provider}/${cell}` +
                `?accountId=${this.currentAccountId}`
            // grab all security zone for this cell
            $.ajax({
                type: 'GET',
                url: securityZonesUrl,
                dataType: "json",
                beforeSend: function (xhr) {
                    var csrftoken = getCookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    capacitySetting.securityZones = data ? data.map(
                        function (item) {
                            return {
                                value: item.abstract_name,
                                text: item.abstract_name,
                                isSelected: item.id === data[0].id
                            }
                        }) : [];
                    capacitySetting.selectedSecurityZoneValue = data && data.length > 0 ? data[0].abstract_name : null;
                },
                error: function (data) {
                    globalNotificationBanner.error = data.responseJSON.error;
                }
            });

            const placementsUrl =
                `${location.protocol}//${location.host}/clouds/placements/${provider}/${cell}` +
                `?accountId=${this.currentAccountId}`
            // grab all placement for this cell
            $.ajax({
                type: 'GET',
                url: placementsUrl,
                dataType: "json",
                beforeSend: function (xhr) {
                    var csrftoken = getCookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    var placements = data ? getDefaultPlacement({'placements': data}) : null;

                    capacitySetting.placements = placements ? placements.getFullList(false, null) : null;
                },
                error: function (data) {
                    globalNotificationBanner.error = data.responseJSON.error;
                }
            });
        },
        archChange: function(value) {
            capacitySetting.archValue = value;
            capacitySetting.currentArch = value;
            // grab all the image names
            var scope = this;
            var provider = capacitySetting.currentProvider;
            var cell = capacitySetting.currentCell;
            var arch = value;
            $.ajax({
                type: 'GET',
                url: location.protocol + '//' + location.host + '/clouds/image_names/' + provider + '/' + cell + '/' + arch,
                dataType: "json",
                beforeSend: function (xhr) {
                    var csrftoken = getCookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    let imageName = data[0];
                    capacitySetting.imageNames = mapImageNameToOptions(data);
                    info.baseImageNames = data;
                    scope.imageNameChange(imageName);
                },
                error: function (data) {
                    globalNotificationBanner.error = data.responseJSON.error;
                }
            });
            // grab all the host types
            $.ajax({
                type: 'GET',
                url: location.protocol + '//' + location.host + '/clouds/get_host_types/' + arch,
                dataType: "json",
                beforeSend: function (xhr) {
                    var csrftoken = getCookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    hostTypes = getDefaultHostType(data, info.defaultHostType, info.defaultARMHostType);
                    capacitySetting.hostTypeOptions = hostTypes.getOptions();
                    capacitySetting.selectedHostTypeValue = hostTypes.getSelectedId();
                    capacityCreationInfo.hostTypes = data;
                    capacitySetting.enableMultipleHostTypes = false;
                    capacitySetting.backupHosttypes = "None";
                    //Schedule this to nextTick that calls after next DOM refresh
                    //as JQuery chosen call must happen after DOM updates finished
                    Vue.nextTick(function(){
                        $(".single-select-search").trigger("chosen:updated")
                    })
                },
                error: function (data) {
                    globalNotificationBanner.error = data.responseJSON.error;
                }
            });
        },
        imageNameChange: function (value) {
            var cell = capacitySetting.currentCell;
            capacitySetting.imageNameValue = value;
            if (!value) {
                capacitySetting.baseImages = [];
                capacitySetting.baseImageValue = null;
                capacitySetting.pinImage = null;
                capacitySetting.pinImageEnabled = false;
                return;
            }
            //Grab all images for this image name
            $.ajax({
                type: 'GET',
                url: location.protocol + '//' + location.host + '/clouds/get_base_images/' + value + '?cell=' + cell,
                dataType: "json",
                beforeSend: function (xhr, settings) {
                    var csrftoken = getCookie('csrftoken')
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (baseImages) {
                    const baseImageSorted = baseImages.sort(baseImageSorter);
                    const goldenImage = baseImages.find(goldenImageFinder);
                    const defaultImageId = goldenImage ? goldenImage.id : getDefaultBaseImageId(baseImageSorted);
                    capacitySetting.baseImages = mapBaseImagesToOptions(baseImageSorted);
                    capacitySetting.baseImageValue = defaultImageId;
                    // Default auto update if there is a golden image
                    capacitySetting.pinImage = getPinImageValue(goldenImage, true);
                    capacitySetting.pinImageEnabled = isPinImageEnabled(goldenImage);
                },
                error: function (data) {
                    globalNotificationBanner.error = data.responseJSON.error;
                }
            });
        },
        updateImageNameForEbsHost: function () {
            var cell = capacitySetting.currentCell;
            var scope = this;
            var provider = capacitySetting.currentProvider;
            value = '{{ default_cmp_image }}';
            const selectedHostTypeObject = capacityCreationInfo.hostTypes.find(hostType => hostType.id === this.selectedHostTypeValue);
            if (selectedHostTypeObject.abstract_name.startsWith('EbsCompute')) {
                capacitySetting.imageNames = mapImageNameToOptions(info.baseImageNames);
                scope.imageNameChange(value);
            }
        },
        placementsHelpClick: function(){
                if (this.showPlacementsHelp){
                    this.showPlacementsHelp = false
                }
                else{
                    this.getHelpInfo('get_placement_infos', function(data){
                            capacitySetting.placementsHelpData = data
                            capacitySetting.showPlacementsHelp = true
                    })
                }
            },
        securityZoneHelpClick:function(){
                if (this.showSecurityZoneHelp){
                    this.showSecurityZoneHelp = false
                }
                else{
                    this.getHelpInfo('get_security_zone_info', function(data){
                            capacitySetting.securityZoneHelpData = data
                            capacitySetting.showSecurityZoneHelp = true
                    })
                }
        },
        selectpublicip: function(assignPublicIP){
            this.assignPublicIP = assignPublicIP
            this.placements = placements.getFullList(assignPublicIP, null)
        },
        selecttypes: function(value){
            this.enableMultipleHostTypes = value;
            this.backupHosttypes = getBackupIds(info.hostTypesMapping, capacityCreationInfo.hostTypes, capacitySetting.selectedHostTypeValue, this.enableMultipleHostTypes);
        },
        validateInput: function (clusterInfo) {
            //Validate input data.
            var count = clusterInfo['capacity'];
            if (count == null || isNaN(count) || count < 0 || count > 1000) {
                // do something
                globalNotificationBanner.error = "Capacity must be a number between 0 and 1000";
                return false;
            }

            if (clusterInfo.placement == null || clusterInfo.placement.length === 0) {
                globalNotificationBanner.error = "Placement is not specified";
                return false;
            }

            if (this.imageNameValue.startsWith('cmp_base')){
                if (clusterInfo.configs['cmp_group'] == undefined || clusterInfo.configs['cmp_group'].indexOf('CMP,')<0){
                    globalNotificationBanner.error = "cmp_base image must have cmp_group defined and CMP in it";
                    return false;
                }

                if (clusterInfo.configs['pinfo_role'] == undefined || clusterInfo.configs['pinfo_role']!='cmp_base'){
                    globalNotificationBanner.error = "cmp_base image must have pinfo_role set to be cmp_base";
                    return false;
                }

                if (clusterInfo.configs['pinfo_team'] == undefined || clusterInfo.configs['pinfo_team']!='cloudeng'){
                    globalNotificationBanner.error = "cmp_base image must have pinfo_team set to be cloudeng";
                    return false;
                }

                if (clusterInfo.configs['pinfo_environment'] == undefined ||
                (clusterInfo.configs['pinfo_environment']!='prod' && clusterInfo.configs['pinfo_environment']!='dev')){
                    globalNotificationBanner.error = "cmp_base image must have pinfo_environment set to be dev or prod";
                    return false;
                }
            }
            else if ('pinfo_role' in clusterInfo.configs && clusterInfo.configs['pinfo_role']==='cmp_base'){
                globalNotificationBanner.error = "Non cmp_base image cannot have pinfo_role set to cmp_base";
                return false;
            }

            if (clusterInfo.cellName  === "aws-us-east-2" && clusterInfo.hostType.startsWith('Compute')){
                globalNotificationBanner.error = "compute hosts (c3) are not available. Use EbsCompute instead";
                return false;
            }

            if (this.imageNameValue ==='cmp_base' && clusterInfo.hostType.startsWith('EbsCompute')){
                globalNotificationBanner.error = "EbsCompute host must use ebs AMI. Try cmp_base-ebs";
                return false;
            }

            if ('root_volume_type' in clusterInfo.configs && !(["gp2", "gp3"].includes(clusterInfo.configs['root_volume_type']))) {
                globalNotificationBanner.error = "At this time only gp2 and gp3 root volume types are supported";
                return false;
            }

            const replacementTimeout = clusterInfo['replacementTimeout']
            if (replacementTimeout == null || isNaN(replacementTimeout) || replacementTimeout < 5 || replacementTimeout > 24 * 60) {
                globalNotificationBanner.error = "Replacement timeout must be a number between 5 and 1440 minutes (24 hours)";
                return false;
            }
            var access_role = clusterInfo.configs['access_role'] ?? '';
            if (access_role.trim().length === 0) {
                globalNotificationBanner.error = "Access Role must be specified and cannot be empty";
                return false;
            }

            var host_type = clusterInfo['hostType'];
            if (host_type ===undefined || host_type === null || host_type.trim().length===0){
                globalNotificationBanner.error = "Host type must be specified";
                return false;
            }

            var host_type = capacityCreationInfo.hostTypes?.find(hostType => hostType.id === clusterInfo['hostType']);
            if (!host_type || hostTypes.isDisabledHostType(host_type)) {
                globalNotificationBanner.error = "Host type must not be retired or decomissioned";
                return false;
            }

            return true;
        },
        sendRequest: function (clusterInfo) {
            $.ajax({
                type: 'POST',
                url:  '/env/'+environment.envName+'/'+environment.stageName + '/config/newcapacity/',
                data: JSON.stringify(clusterInfo),
                dataType: "json",
                beforeSend: function (xhr, settings) {
                    var csrftoken = getCookie('csrftoken')
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);

                },
                success: function (data) {
                    globalNotificationBanner.info = "Request sent successfully"
                    window.location.href='/env/'+environment.envName+'/'+environment.stageName+'/config/capacity/'
                },
                error: function (data) {
                    globalNotificationBanner.error = ["Request Error: ", data.status, data.statusText, data.responseText].join(' ');
                }
            });
        },
        createCapacity: function () {
            //Create the default capacity. The input here aligns to the Rodimus new cluster
            var clusterInfo = {};
            clusterInfo['provider'] = this.currentProvider;
            clusterInfo['cellName'] = this.currentCell;
            clusterInfo['archName'] = this.currentArch;
            clusterInfo['capacity'] = Number(this.instanceCount);
            clusterInfo['useLaunchTemplate'] =  info.defaultUseLaunchTemplate;
            clusterInfo['hostType'] = this.selectedHostTypeValue;
            clusterInfo['securityZone'] = this.selectedSecurityZoneValue;
            clusterInfo['replacementTimeout'] = this.replacementTimeout;
            clusterInfo['statefulStatus'] =  this.selectedStatefulStatus;
            clusterInfo['accountId'] = this.currentAccountId;
            clusterInfo['enableMultipleHostTypes'] = this.enableMultipleHostTypes;
            if (this.selectedPlacements != null && this.selectedPlacements.length>0){
                clusterInfo['placement'] = this.selectedPlacements.join(',');
            }
            else{
                const placementArray = Object.entries(this.placements).map(function(x){return x[1]}).flat(1);
                clusterInfo['placement'] = placementArray.filter(function(item){
                    return item.isSelected
                }).map(function(item){ return item.value}).join(',')
            }
            clusterInfo['configs'] = this.allUserData.reduce(function (map, obj) { map[obj.name] = obj.value; return map }, {})

            if (this.imageNameValue.startsWith('cmp_base')){
                clusterInfo['configs']['cmp_group'] = info.defaultCMPConfigs['cmp_group']
            }

            if (this.assignPublicIP){
                clusterInfo.configs['assign_public_ip'] = true
            }
            else {
                clusterInfo.configs['assign_public_ip'] = false
            }

            if (!this.pinImage) {
                clusterInfo['autoUpdateBaseImage'] = true;
                clusterInfo['baseImageName'] = this.imageNameValue;
            } else {
                clusterInfo['autoUpdateBaseImage'] = false;
                clusterInfo['baseImageId'] = this.baseImageValue;
            }

            let accessRoleObj = this.allUserData.find(({name}) => name === "access_role");
            clusterInfo.configs['access_role'] = accessRoleObj?.value;

            if (this.validateInput(clusterInfo)) {
                //Send request
                this.sendRequest(clusterInfo);
            }
        },
        clickDialog: function (value) {
            if (value) {
                this.createCapacity();
            }
        },
        statefulHelpClick: function(value) {
            this.showStatefulHelp = !this.showStatefulHelp
        },
        updateStatefulStatus: function(value) {
            this.selectedStatefulStatus = value
        },
    },
    watch: {
        placements: function(){
            //Schedule this to nextTick that calls after next DOM refresh
            //as JQuery chosen call must happen after DOM updates finished
            Vue.nextTick(function(){
                $(".chosen-select").trigger("chosen:updated")
            })
        },
        allUserData: function() {
            let accessRoleObj = this.allUserData.find(({name}) => name === "access_role");
            localStorage.setItem("accessRole", accessRoleObj.value);
        }
    }
});


function getUiCells(accountId) {
    const account = getAccount(accountId);
    if (account && account.cells) {
        return account.cells
            .map(uiCell);
    }
    return info.cells
        .map(uiCell);
}

function getDefaultCell(accountId) {
    const account = getAccount(accountId);

    if (account && account.cells) {
        if (!account.cells.some(cell => cell.name === info.defaultCell)) {
            return account.cells[0].name;
        }
    }
    return info.defaultCell;
}

function uiCell(item) {
    return {
        value: item.name,
        text: item.name,
        isSelected: item.name === info.defaultCell
    };
}

$(document).ready(function () {
    $('.single-select-search').chosen({
        "width": "100%"
    }).change(function() {
        capacitySetting.selectedHostTypeValue = $('.single-select-search').val();
        capacitySetting.backupHosttypes = "None";
        capacitySetting.enableMultipleHostTypes = false;
    });

    $(".chosen-select").chosen({ "width": "100%" })
        .change(function () {
            capacitySetting.selectedPlacements = $('.chosen-select').val()
        })
});

</script> {% endblock %}
