{% extends 'environs/env_base.html'%}
{% load utils %}

{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/envs">Environments</a></li>
    <li><a href="/env/{{ env.envName }}/{{ env.stageName }}">{{ env.envName }} ({{ env.stageName }})</a></li>
    <li><a href="/env/{{ env.envName }}/{{ env.stageName }}/config">General Config</a></li>
    <li class="active">New Capacity</li>
</ul>
{% endblock %}
{% load static %}

{% block side-panel-actions %}
<script type="text/javascript" src="{% static "js/components/sharedcomponents.js"%}?changedate=2016.12.19.150000"></script>
<div class="panel panel-default" id="side-panel">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Capacity</h4>
    </div>
    <div class="row">
            <side-button styleclass="fa fa-gears" text="Advanced Settings" href="/env/{{ env.envName }}/{{ env.stageName }}/config/newcapacity/advanced/" title="Advanced Settings"></side-button>
    </div>
</div>
{% endblock %}

{% block new-builds-panel %}
{% endblock %}
{% block new-pred-deploys-panel %}
{% endblock %}

{% block main %}
{% if not basic_cluster_info|canReplaceCluster %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> This environment stage has scheduled cluster rolling upgrade.
        You cannot update this page unless you cancel cluster replacement.
    </div>
{% endif %}

{% include "environs/env_tabs.tmpl" with envTabKind="config/capacity" %}
<script type="text/javascript" src="{% static "js/components/capacitycomponents.js"%}?changedate=2017.07.05.180000"></script>
<script type="text/javascript" src="{% static "js/components/clusterconfigcomponents.js"%}?changedate=2018.05.17.153000"></script>
<div class="panel panel-default" id="capacityPanel">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left pointer-cursor">Basic Settings</h4>
    </div>
    <div id="envCapacityId" class="panel-body">
        <div class="container-fluid">
            <form id="envCapacityFormId" class="form-horizontal" role="form">
                <div class="row">
                    <label>This is for CMP docker only hosts. For other type, click the Advanced Settings on the left</label>
                </div>
                <label-input label="Capacity" placeholder="# of instances" v-model="instanceCount"></label-input>
                <label-select label="Host Type" title="Compute Capability of the host" v-model="selectedHostTypeValue" v-bind:selectoptions="hostTypeOptions"></label-select>
                <label-select label="Security Zone" title="Security zone to control inbound/outboud traffic" v-model="selectedSecurityZoneValue" v-bind:selectoptions="securityZoneOptions"></label-select>
                <placements-select label="Placements" title="Placements" v-bind:assignpublicip="assignPublicIP"
                v-bind:selectoptions="placements" v-on:assignpublicipclick="selectpublicip"></placements-select>
            </form>
        </div>
    </div>
    <modal v-bind:title="confirmDialogTitle" v-bind:id="confirmDialogId" v-on:input="clickDialog">
        <div slot="body">Are you sure to create a new CMP cluster for environment {{env.envName}}({{env.stageName}})?</div>
    </modal>

    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button id="saveEnvCapacityBtnId" class="btn btn-primary" data-target="#createHostGroup" data-toggle="modal"
                data-loading-text="Creating...">
                <span class="glyphicon glyphicon-floppy-save"></span> Create
            </button>
        </div>
    </div>
</div>


<script>
var capacityView = new Vue({
    el:"#side-panel"
 }
);

var capacityCreationInfo = {{capacity_creation_info|safe}};
var environment = capacityCreationInfo.environment;

getDefaultBaseImage = function(){
    var accepted = capacityCreationInfo.baseImages.filter(function (e) {
        return e.acceptance == 'ACCEPTED';
    });
    var sorted = accepted.sort(function(item1,item2){
        return item2.publish_date - item1.publish_date;});

    return sorted[0].id;
};

var placements = getDefaultPlacement(capacityCreationInfo);

var capacitySetting = new Vue({
    el:"#capacityPanel",
    data:{
        assignPublicIP: false,
        iamRole: "base",
        baseimages: capacityCreationInfo.baseImages.map(
            function (o) {
                var acceptance = o.acceptance ? ' [' + o.acceptance + ']' : '';
                return {
                    value: o.id,
                    text: o.provider_name + acceptance,
                    isSelected: o.id === getDefaultBaseImage()
                }
            }),
        baseImageValue: getDefaultBaseImage(),
        confirmDialogTitle:"Confirm New Capacity Creation",
        confirmDialogId:"createHostGroup",
        imageNameValue: 'cmp_base',
        imagenames: ['cmp_base'],
        instanceCount:"",
        hostTypeOptions: capacityCreationInfo.hostTypes.map(function(item,idx){
            return {
                value: item.id,
                text: item.abstract_name+" ("+item.core+" cores, "+item.mem+" GB, "+item.storage+")",
                isSelected: item.abstract_name === capacityCreationInfo.defaultHostType
            }}),
        placements: placements.cmpPrivate.map(function(item, index) {
                return {
                    value: item.id,
                    text: item.abstract_name,
                    isSelected: index < 3 //Select Top 3 by default
                }
            }),
        securityZoneOptions:capacityCreationInfo.securityZones.map(function(item,idx){
            return {
                value:item.abstract_name,
                text:item.abstract_name+" ("+item.description+")",
                isSelected: item.abstract_name === capacityCreationInfo.defaultSeurityZone
            }
        }),
        selectedHostTypeValue: capacityCreationInfo.hostTypes.find(hostType => hostType.abstract_name === capacityCreationInfo.defaultHostType).id,
        selectedSecurityZoneValue: capacityCreationInfo.defaultSeurityZone,
        selectedPlacements: null
    },
    methods:{
        validateInput: function(clusterInfo){
            //Validate input data.
            var count = clusterInfo['capacity'];
            if (count === undefined || count === null || isNaN(count) || count<0 || count>1000 ) {
                // do something
                globalNotificationBanner.error = "Capacity must be a number between 0 and 1000";
                return false;
            }
            var placement = clusterInfo['placement'];
            if (placement ===undefined || placement === null || placement.length===0){
                globalNotificationBanner.error = "Placement must be specified";
                return false;
            }
            return true;
        },
        sendRequest: function(clusterInfo){
                $.ajax({
                    type: 'POST',
                    url: '/env/'+environment.envName+'/'+environment.stageName+'/config/newcapacity/',
                    data: JSON.stringify(clusterInfo),
                    dataType: "json",
                    beforeSend: function(xhr, settings) {
                        var csrftoken = getCookie('csrftoken')
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        globalNotificationBanner.info = "Request sent successfully"
                        window.location.href='/env/'+environment.envName+'/'+environment.stageName+'/config/capacity/'
                    },
                    error: function (data) {
                        globalNotificationBanner.error = data
                    }
            });
        },
        createCapacity:function(){
                //Create the default capacity. The input here aligns to the Rodimus new cluster
            var clusterInfo = {};
            clusterInfo['provider'] = capacityCreationInfo['defaultProvider'];
            clusterInfo['capacity'] = Number(this.instanceCount);
            clusterInfo['baseImageId'] = this.baseImageValue;
            clusterInfo['hostType'] = this.selectedHostTypeValue;
            clusterInfo['securityZone'] = this.selectedSecurityZoneValue;
            if (this.selectedPlacements != null){
                clusterInfo['placement'] = this.selectedPlacements.join(',');
            }
            else{
                clusterInfo['placement'] = this.placements.filter(function(item){
                    return item.isSelected
                }).map(function(item){ return item.value}).join(',')
            }

            clusterInfo['configs'] = capacityCreationInfo['defaultCMPConfigs']
            clusterInfo.configs['iam_role'] = this.iamRole
            if (this.assignPublicIP){
                clusterInfo.configs['assign_public_ip'] = true
            }
            else {
                clusterInfo.configs['assign_public_ip'] = false
            }
            if (this.validateInput(clusterInfo)){
                //Send request
                this.sendRequest(clusterInfo);
            }
        },
        clickDialog:function(value){
            if (value){
                this.createCapacity();
            }
        },
        selectpublicip: function(value){
            this.assignPublicIP = value;
            var arr = value ? placements.cmpPublic : placements.cmpPrivate;
            this.placements = arr.map(function(item, index) {
                return {
                    value: item.id,
                    text: item.abstract_name,
                    isSelected: index < 3 //Select Top 3 by default
                }
            })
        },
        updateAwsRole: function(value){
            this.awsRole = value
        },
        updateSecurityZone: function(value){
            this.selectedSecurityZoneValue = value
        }
    },
    watch: {
        placements: function(){
            //Schedule this to nextTick that calls after next DOM refresh
            //as JQuery chosen call must happen after DOM updates finished
            Vue.nextTick(function(){
                $(".chosen-select").trigger("chosen:updated")
            })
        }
    }
 }
)

$(document).ready(function() {
    $(".chosen-select").chosen({
            width: "100%",
        })
        .change(function() {
            capacitySetting.selectedPlacements = $('.chosen-select').val()
        })
});

</script>

{% endblock %}
