{% extends 'environs/env_base.html'%}
{% load utils %}

{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/envs">Environments</a></li>
    <li><a href="/env/{{ env.envName }}/{{ env.stageName }}">{{ env.envName }} ({{ env.stageName }})</a></li>
    <li><a href="/env/{{ env.envName }}/{{ env.stageName }}/config">General Config</a></li>
    <li class="active">New Capacity</li>
</ul>
{% endblock %}
{% load static %}

{% block side-panel-actions %}
<style>
    .chosen-container-single .chosen-single div b {
        background: url("chosen-sprite.png") no-repeat 7px 7px;
    }
    .chosen-container-single .chosen-single {
        padding: 0 0 0 16px;
    }
</style>
<script type="text/javascript" src="{% static "js/components/sharedcomponents.js"%}?changedate=2016.12.19.150000"></script>
<div class="panel panel-default" id="side-panel">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Capacity</h4>
    </div>
    <div class="row">
            <side-button styleclass="fa fa-gears" text="Advanced Settings" href="/env/{{ env.envName }}/{{ env.stageName }}/config/newcapacity/advanced/" title="Advanced Settings"></side-button>
    </div>
</div>
{% endblock %}

{% block new-builds-panel %}
{% endblock %}
{% block new-pred-deploys-panel %}
{% endblock %}

{% block main %}
{% if not basic_cluster_info|canReplaceCluster %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> This environment stage has scheduled cluster rolling upgrade.
        You cannot update this page unless you cancel cluster replacement.
    </div>
{% endif %}

{% include "environs/env_tabs.tmpl" with envTabKind="config/capacity" %}
<script type="text/javascript" src="{% static "js/components/capacitycomponents.js"%}?changedate=2023.01.30"></script>
<script type="text/javascript" src="{% static "js/components/clusterconfigcomponents.js"%}?changedate=2023.08.22"></script>
<script type="text/javascript" src="{% static "js/base-image-utils.js"%}?changedate=2023.01.30"></script>
<div class="panel panel-default" id="capacityPanel">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left pointer-cursor">Basic Settings</h4>
    </div>
    <div id="envCapacityId" class="panel-body">
        <div class="container-fluid">
            <form id="envCapacityFormId" class="form-horizontal" role="form">
                <div class="row">
                    <label>This is for CMP docker with cpu architecture x86_64 only hosts. For other types, please click the Advanced Settings on the left. </label>
                </div>
                <label-input label="Capacity" placeholder="# of instances" v-model="instanceCount"></label-input>
                <hosttype-select label="Host Type" title="Compute Capability of the host" v-model="selectedHostTypeValue" v-bind:selectoptions="hostTypeOptions" selectsearch="true"
                v-bind:disablebackupinstancetypes="disableBackupInstanceTypes" v-bind:enablemultiplehosttypes="enableMultipleHostTypes" v-on:enablemultiplehosttypesclick="selecttypes"></hosttype-select>
                <backup-hosttypes v-bind:backuphosttypes="backupHosttypes"></backup-hosttypes>
                <label-select label="Security Zone" title="Security zone to control inbound/outboud traffic" v-model="selectedSecurityZoneValue" v-bind:selectoptions="securityZoneOptions"></label-select>
                <placements-select label="Placements" title="Placements" v-bind:assignpublicip="assignPublicIP"
                v-bind:selectoptions="placements" v-on:assignpublicipclick="selectpublicip"></placements-select>
                <accessrole-input label="Access Role" title="access_role for host access" v-model="accessRole"
                    showhelp="true" v-on:helpclick="accessRoleHelpClick"></accessrole-input>
                <accessrole-help v-show="showAccessRoleHelp" v-bind:data="accessRoleHelpText" v-bind:accessrolelist="accessRoleList"></accessrole-help>
                <stateful-select :statefuloptions="statefulStatusOptions" :value="selectedStatefulStatus" @help-clicked="statefulHelpClick" @stateful-change="updateStatefulStatus"></stateful-select>
                <stateful-help v-show="showStatefulHelp"></stateful-help>
            </form>
        </div>
    </div>
    <modal v-bind:title="confirmDialogTitle" v-bind:id="confirmDialogId" v-on:input="clickDialog">
        <div slot="body">Are you sure to create a new CMP cluster for environment {{env.envName}}({{env.stageName}})?</div>
    </modal>

    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button id="saveEnvCapacityBtnId" class="btn btn-primary" data-target="#createHostGroup" data-toggle="modal"
                data-loading-text="Creating...">
                <span class="glyphicon glyphicon-floppy-save"></span> Create
            </button>
        </div>
    </div>
</div>


<script>
var capacityView = new Vue({
    el:"#side-panel"
 }
);

var capacityCreationInfo = {{capacity_creation_info|safe}};
var environment = capacityCreationInfo.environment;
var accessRoleList = capacityCreationInfo.access_role_list;
var statefulOptions = capacityCreationInfo.stateful_options;

let goldenImage = capacityCreationInfo.baseImages.find(goldenImageFinder);

var placements = getDefaultPlacement(capacityCreationInfo);
var hostTypes = getDefaultHostType(capacityCreationInfo.hostTypes, capacityCreationInfo.defaultHostType, capacityCreationInfo.defaultARMHostType);
const disableBackupInstanceTypes = `{{ disable_backup_instance_types}}`;

var capacitySetting = new Vue({
    el:"#capacityPanel",
    data:{
        assignPublicIP: false,
        iamRole: "base",
        baseImageValue: getDefaultBaseImageId(capacityCreationInfo.baseImages.sort(baseImageSorter)),
        confirmDialogTitle:"Confirm New Capacity Creation",
        confirmDialogId:"createHostGroup",
        instanceCount:"",
        hostTypeOptions: hostTypes.getOptions(),
        placements: placements.getSimpleList(false, null),
        securityZoneOptions:capacityCreationInfo.securityZones.map(function(item,idx){
            return {
                value:item.abstract_name,
                text:item.abstract_name+" ("+item.description+")",
                isSelected: item.abstract_name === capacityCreationInfo.defaultSeurityZone
            }
        }),
        // TODO: The default host type comes from settings and should probably not be an abstract_name since they are not guaranteed to be unique.
        selectedHostTypeValue: hostTypes.getSelectedId(),
        selectedSecurityZoneValue: capacityCreationInfo.defaultSeurityZone,
        selectedPlacements: null,
        accessRole: localStorage.getItem("accessRole") ? localStorage.getItem("accessRole") : capacityCreationInfo.defaultCMPConfigs['access_role'],
        showAccessRoleHelp: false,
        accessRoleList: accessRoleList,
        accessRoleHelpText: "Please enter a valid access role",
        selectedStatefulStatus: capacityCreationInfo.stateful_status,
        statefulStatusOptions: statefulOptions.map(function(o) {
            return {
                value: o,
                text: o
            }
        }),
        showStatefulHelp: false,
        disableBackupInstanceTypes,
        enableMultipleHostTypes: false,
        backupHosttypes: "None",
    },
    methods:{
        validateInput: function(clusterInfo){
            //Validate input data.
            var count = clusterInfo['capacity'];
            if (count === undefined || count === null || isNaN(count) || count<0 || count>1000 ) {
                // do something
                globalNotificationBanner.error = "Capacity must be a number between 0 and 1000";
                return false;
            }
            var placement = clusterInfo['placement'];
            if (placement ===undefined || placement === null || placement.length===0){
                globalNotificationBanner.error = "Placement must be specified";
                return false;
            }
            var access_role = clusterInfo.configs['access_role'].trim();
            if (!access_role) {
                globalNotificationBanner.error = "Access Role must be specified";
                return false;
            }

            var host_type = clusterInfo['hostType'];
            if (host_type ===undefined || host_type === null || host_type.trim().length===0){
                globalNotificationBanner.error = "Host type must be specified";
                return false;
            }

            host_type = capacityCreationInfo.hostTypes.find(hostType => hostType.id === clusterInfo['hostType']);
            if (!host_type || hostTypes.isDisabledHostType(host_type)) {
                globalNotificationBanner.error = "Host type must not be retired or decommissioned";
                return false;
            }

            return true;
        },
        sendRequest: function(clusterInfo){
                $.ajax({
                    type: 'POST',
                    url: '/env/'+environment.envName+'/'+environment.stageName+'/config/newcapacity/',
                    data: JSON.stringify(clusterInfo),
                    dataType: "json",
                    beforeSend: function(xhr, settings) {
                        var csrftoken = getCookie('csrftoken')
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        globalNotificationBanner.info = "Request sent successfully"
                        window.location.href='/env/'+environment.envName+'/'+environment.stageName+'/config/capacity/'
                    },
                    error: function (data) {
                        globalNotificationBanner.error = ["Request Error: ", data.status, data.statusText, data.responseText].join(' ');
                    }
            });
        },
        createCapacity:function(){
                //Create the default capacity. The input here aligns to the Rodimus new cluster
            var clusterInfo = {};
            clusterInfo['provider'] = capacityCreationInfo['defaultProvider'];
            clusterInfo['capacity'] = Number(this.instanceCount);
            clusterInfo['archName'] = capacityCreationInfo['defaultArch'];
            clusterInfo['useLaunchTemplate'] = capacityCreationInfo['defaultUseLaunchTemplate'];
            clusterInfo['hostType'] = this.selectedHostTypeValue;
            clusterInfo['securityZone'] = this.selectedSecurityZoneValue;
            clusterInfo['statefulStatus'] =  this.selectedStatefulStatus;
            clusterInfo['enableMultipleHostTypes'] = this.enableMultipleHostTypes;
            if (this.selectedPlacements != null){
                clusterInfo['placement'] = this.selectedPlacements.join(',');
            }
            else{
                const placementArray = Object.entries(this.placements).map(function(x){return x[1]}).flat(1);
                clusterInfo['placement'] = placementArray.filter(function(item){
                    return item.isSelected
                }).map(function(item){ return item.value}).join(',')
            }

            clusterInfo['configs'] = capacityCreationInfo['defaultCMPConfigs']
            clusterInfo.configs['iam_role'] = this.iamRole
            if (this.assignPublicIP){
                clusterInfo.configs['assign_public_ip'] = true
            }
            else {
                clusterInfo.configs['assign_public_ip'] = false
            }
            clusterInfo.configs['access_role'] = this.accessRole;

            if (goldenImage) {
                clusterInfo['autoUpdateBaseImage'] = true;
                clusterInfo['baseImageName'] = goldenImage.abstract_name;
            } else {
                clusterInfo['autoUpdateBaseImage'] = false;
                clusterInfo['baseImageId'] = this.baseImageValue;
            }

            if (this.validateInput(clusterInfo)){
                //Send request
                this.sendRequest(clusterInfo);
            }
        },
        clickDialog:function(value){
            if (value){
                this.createCapacity();
            }
        },
        selectpublicip: function(assignPublicIP){
            this.assignPublicIP = assignPublicIP;
            this.placements = placements.getSimpleList(assignPublicIP, null);
        },
        selecttypes: function(value){
            this.enableMultipleHostTypes = value;
            this.backupHosttypes = getBackupIds(capacityCreationInfo.hostTypesMapping, capacityCreationInfo.hostTypes, capacitySetting.selectedHostTypeValue, this.enableMultipleHostTypes);
        },
        updateAwsRole: function(value){
            this.awsRole = value
        },
        updateSecurityZone: function(value){
            this.selectedSecurityZoneValue = value
        },
        accessRoleHelpClick: function(){
            this.showAccessRoleHelp = !this.showAccessRoleHelp;
        },
        statefulHelpClick: function(value) {
            this.showStatefulHelp = !this.showStatefulHelp
        },
        updateStatefulStatus: function(value) {
            this.selectedStatefulStatus = value
        },
    },
    watch: {
        placements: function(){
            //Schedule this to nextTick that calls after next DOM refresh
            //as JQuery chosen call must happen after DOM updates finished
            Vue.nextTick(function(){
                $(".chosen-select").trigger("chosen:updated")
            })
        },
        accessRole: function() {
            localStorage.setItem("accessRole", this.accessRole);
        }
    }
 }
)

$(document).ready(function() {
    $('.single-select-search').chosen({
        "width": "100%"
    }).change(function() {
        capacitySetting.selectedHostTypeValue = $('.single-select-search').val();
        capacitySetting.backupHosttypes = "None";
        capacitySetting.enableMultipleHostTypes = false;
    });

    $(".chosen-select").chosen({
            width: "100%",
        })
        .change(function() {
            capacitySetting.selectedPlacements = $('.chosen-select').val()
        })
});

</script>

{% endblock %}
