{% extends 'environs/env_base.html' %}
{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/envs">Environments</a></li>
    <li><a href="/env/{{ env.envName }}/{{ env.stageName }}">{{ env.envName }} ({{ env.stageName }})</a></li>
    <li><a href="/env/{{ env.envName }}/{{ env.stageName }}/config">General Config</a></li>
    <li class="active">Customize Deploy Schedule</li>
</ul>
{% endblock %}
{% load static %}

{% block side-panel-actions %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Actions</h4>
    </div>
	<div class="row">
        <a type="button" class="deployToolTip btn btn-default btn-block"
           href="/env/{{ env.envName }}/{{ env.stageName }}/config"
           data-toggle="tooltip" title="Return to the generic configuration page">
           <i class="fa fa-gears"></i> General Config
        </a>
    </div>
</div>
{% endblock %}

{% block new-builds-panel %}
{% endblock %}
{% block new-pred-deploys-panel %}
{% endblock %}

{% block main %}
<div class="panel panel-default">
    {% include "configs/schedule_config.tmpl" %}
</div>
{% endblock %}
