
{% load utils %}

<div id="envScheduleId" class="collapse in panel-body">
    <div class="container-fluid">
        <form id="envCapacityFormId" class="form-horizontal" role="form">
            <table id="sessionTable" class="table">
            <tr>
                <th class="col-md-1">Session #</th>
                <th class="col-md-2">Number of Hosts</th>
                <th class="col-md-2">Cooldown Period</th>
                <th class="col-md-4"></th>
            </tr>
            <tr>
                <td>Final</td>
                <td class="hostNumber">
                     <div class="input-group">
                        <input disabled type="text" class="form-control">
                        <span class="input-group-addon">hosts</span>
                    </div>
                      <div class="input-group">
                    
                    </div>
                </td>
                <td class="cooldownTime">
                    <div class="input-group">
                        <input disabled type="text" class="form-control">
                        <span class="input-group-addon">minutes</span>
                    </div>
                </td>
                <td class="text-right">
                    <!-- <button type="button" class="btn btn-danger">Remove</button> -->
                </td>
            </tr>

            </table>
            <div>Note that the above sessions are run before running the rest of the total hosts</div>
            {% csrf_token %}
        </form>

        <button type="button" id="addSessionBtn" class="btn btn-default">Add another session</button>
    </div>
</div>

<div class="panel-footer clearfix">
    <div class="pull-right">
        <button id="saveEnvScheduleBtnId" class="btn btn-default"
                data-loading-text="Saving...">
            <span class="glyphicon glyphicon-refresh"></span> Save
        </button>
        <button id="resetEnvScheduleBtnId" class="btn btn-default"
                data-loading-text="Reloading...">
            <span class="glyphicon glyphicon-refresh"></span> Reset
        </button>
    </div>
</div>

<script type="text/javascript">
    var totalSessions = 0;
    var totalAgentCount = {{ agent_count }};

    // on document load + if schedule exists 
    $(document).ready(function() {
        {% if schedule %} 
            var cooldownTimes = "{{ schedule.cooldownTimes }}";
            var hostNumbers = "{{ schedule.hostNumbers }}";
            totalSessions = {{ schedule.totalSessions }};
            var timesArray = cooldownTimes.split(",");
            var numbersArray = hostNumbers.split(",");
            
            var i;
            for (i = 1; i<=totalSessions; i++) {
                $("#sessionTable tr:last").before('<tr><td class="sessionNumber" id=sessionNumber'+i+'>'+i+'</td><td class="hostNumber"><div class="input-group"><input value='+numbersArray[i-1]+' type="text" class="form-control"><span class="input-group-addon">hosts</span></div></div></td><td class="cooldownTime"><div class="input-group"><input value='+timesArray[i-1]+' type="text" class="form-control"><span class="input-group-addon">minutes</span></div></td><td class="text-right"><button id="removeBtn" type="button" class="btn btn-danger">Remove</button></td></tr>');
                totalAgentCount = totalAgentCount - numbersArray[i-1];
            }
            console.log("COME");
            console.log(totalSessions);
        // {% else %}
        //     console.log("schedule is null")
        //     totalSessions = 0;
        {% endif %}
        $("#sessionTable tr:last").find('.hostNumber input').val(totalAgentCount);
        // $("#sessionTable tr").each(function() {
        
        // $(this).find(".hostNumber input").val("34sf");
 
    });

    $(document.body).on("focus", ".hostNumber input", function(){
        var n = parseInt($(this).val());
        console.log($(this));
        console.log($(this).val());
        if (!isNaN(n) && n % 1 === 0) { // is number + is integer
            totalAgentCount = totalAgentCount + parseInt($(this).val());
        }
    });

    $(document.body).on("blur", ".hostNumber input", function(){
        var n = parseInt($(this).val());
        if (!isNaN(n) && n % 1 === 0) { // is number + is integer
            totalAgentCount = totalAgentCount - parseInt($(this).val());
            $("#sessionTable tr:last").find('.hostNumber input').val(totalAgentCount);
        }
    });

    $("#addSessionBtn").click(function() {
        totalSessions=totalSessions+1;
        console.log(totalSessions);
        $('#sessionTable tr:last').before('<tr><td class="sessionNumber" id=sessionNumber'+totalSessions+'>'+totalSessions+'</td><td class="hostNumber"><div class="input-group"><input type="text" class="form-control"><span class="input-group-addon">hosts</span></div></div></td><td class="cooldownTime"><div class="input-group"><input type="text" class="form-control"><span class="input-group-addon">minutes</span></div></td><td class="text-right"><button id="removeBtn" type="button" class="btn btn-danger">Remove</button></td></tr>');
    });

    $("#sessionTable").on("click", "#removeBtn", function () {
        $(this).closest('tr').remove();
        totalSessions = totalSessions-1;
        counter = 1; 
        $("#sessionTable tr").not(':first').each(function() {
            var number = $(this).find(".sessionNumber");
            number.text(counter);
            counter=counter+1;
        })
    });

    $("#saveEnvScheduleBtnId").click(function() {
        $('.input-group').removeClass('has-error');
        var error = false;

        if (parseInt($("#sessionTable tr:last").find(".hostNumber input").val()) > 100000) {
            $('#errorBannerId').text("Total number of hosts exceeds number of available hosts. Please reenter host numbers.");
            $('#errorBannerId').show();
            error = true;
        }  

        if (error) { return; } // don't send in request

        $("#sessionTable input").not(":last").each(function() { 
            console.log('adlkfj');
            var number = parseInt($(this).val());
            if (isNaN(number)) {
                //highlight Red
                console.log($(this).val());
                $(this).closest('.input-group').addClass('has-error');
                $('#errorBannerId').text("Please make sure all fields are valid integer values.");
                $('#errorBannerId').show();
                error = true; 
            }
        })

        if (error) { return; } // don't send in request

        $("#sessionTable .hostNumber input").not(":last").each(function() { 
            
            var number = parseInt($(this).val());
            var maxParallel = {{ max_parallel_number }};
            console.log('num' + maxParallel);
            console.log('Number' + number);
            if (number > maxParallel) {
                console.log('hello');
                $(this).closest('.input-group').addClass('has-error');
                $('#errorBannerId').text("Each session's number of hosts cannot exceed maximum parallel number. Please reenter number of hosts or change the maximum parallel number in General Config.");
                $('#errorBannerId').show();
                error = true;
            }
        })

 
        if (error) { return; } // don't send in request
        // go through all of hte input boxes and check if they're not an integer. if not, make it glow red and perhaps put errorr on top 
        var schedule = '{{ env.schedule }}';
        console.log(totalSessions);
        var cooldownTimes = "";
        var hostNumbers= ""; 
        $("#sessionTable tr").not(':first').not(':last').each(function() { // try  to start from 2nd row 
            var hostNumber = $(this).find(".hostNumber input").val();

            var cooldownTime = $(this).find(".cooldownTime input").val();
            if (hostNumbers == "") {
                hostNumbers = hostNumber;
            } else {
                hostNumbers = hostNumbers + "," + hostNumber ;
            }
            if (cooldownTimes == "") {
                cooldownTimes = cooldownTime;
            } else {
                cooldownTimes = cooldownTimes +  "," + cooldownTime;
            }
        });

        var btn = $(this);

        $.ajax({
            type: 'POST',
            url: '/env/{{ env.envName }}/{{ env.stageName }}/update_schedule/',
            data: {'csrfmiddlewaretoken': '{{csrf_token}}',
                   'cooldownTimes': cooldownTimes, 
                   'hostNumbers': hostNumbers,
                   'totalSessions': totalSessions}, 
            dataType: "json",
            beforeSend: function () {
                btn.button('loading');
            },
            success: function (data) {
                if(data != null && data.success == false) {
                    $('#errorBannerId').append(data.error);
                    $('#errorBannerId').show();
                } else {
                    $("#envScheduleId").parent().html(data.html);
                    $('#errorBannerId').empty().hide();
                }
                // btn.button('reset');
            },
            error: function (data) {
                $('#errorBannerId').append(data.responseText);
                $('#errorBannerId').show();
            }
        }); 
    });

    $("#resetEnvScheduleBtnId").click(function() {
        $("#sessionTable tr").not(':first').not(':last').remove(); 
        totalSessions = 0;
        totalAgentCount = {{ agent_count }};
        $("#sessionTable tr:last").find('.hostNumber input').val(totalAgentCount);
    });

    //if saved more create schedule --> 
    //if deleted everything --> delete schedule and reference to schedule from deploys
    //do you not know how many agents until deploy actually starts running? 

    

</script>
