{% extends 'environs/envs_base.html' %}

{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Environments</li>
</ul>
{% endblock %}

{% load utils %}

{% block main %}
<div class="panel panel-default">
    {% include "panel_heading.tmpl" with panel_title="All Environments" panel_body_id="envsId" direction="down" %}
    <div id="envsId" class="collapse in panel-body table-responsive">
        <div class="row">
            <ul class="list-group">
                {% for name in names %}
                <a href="/env/{{ name }}" class="list-group-item"> {{ name }} </a>
                {% endfor%}
            </ul>
        </div>
        <ul class="pager">
            <li>
                <a href='/envs/?page_index={{ pageIndex|add:"-1" }}&page_size={{ pageSize }}'
                   class="btn btn-default {% if disablePrevious %}disabled{% endif %}">
                    <span class="glyphicon glyphicon-chevron-left"></span> Previous
                </a>
            </li>
            <li>
                <a href='/envs/?page_index={{ pageIndex|add:"1" }}&page_size={{ pageSize }}'
                   class="btn btn-default {% if disableNext %}disabled{% endif %}">
                    Next <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
