{% extends "base.html" %}

{% block navbar-items %}
<li><a href="/accounts">Accounts</a></li>
<li class="active"><a href="/envs">Environments</a></li>
<li><a href="/builds">Builds</a></li>
{% endblock %}

{% block navbar-search %}
<form class="navbar-form navbar-left" role="search">
    <div class="form-group has-feedback">
        <div>
        <input id="envTypeaheadId" type="text" class="form-control"
               placeholder="Search env...">
        </div>
        <span id="searchFeedbackId"
              class="pointer-cursor glyphicon glyphicon-search form-control-feedback"></span>
    </div>
</form>
<script>
    $(function () {
        var countries = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            limit: 10,
            prefetch: {
                // url points to a json file that contains an array of country names, see
                // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
                url: '/envs/names/',
                // the json file contains an array of strings, but the Bloodhound
                // suggestion engine expects JavaScript objects so this converts all of
                // those strings
                filter: function (list) {
                    return $.map(list, function (country) {
                        return { name: country };
                    });
                }
            }
        });

        // kicks off the loading/processing of `local` and `prefetch`
        countries.initialize();

        // passing in `null` for the `options` arguments will result in the default
        // options being used
        $('#envTypeaheadId').typeahead(null, {
            name: 'countries',
            displayKey: 'name',
            // `ttAdapter` wraps the suggestion engine in an adapter that
            // is compatible with the typeahead jQuery plugin
            source: countries.ttAdapter()
        });
    });

    $('#envTypeaheadId').keypress(function(event) {
        if (event.keyCode != 13) {
            return;
        }
        search_envs();
    });

    $('#searchFeedbackId').click(function() {
        search_envs();
    });

    function search_envs() {
        filter = $('#envTypeaheadId').val();
        window.location = "/envs/search/" + filter;
    }
</script>
{% endblock %}

{% block side-panel %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Environments</h4>
    </div>
	<div class="row">
    <a href='{{ redirect_create_env_page_url }}' target='_blank' class="deployToolTip btn btn-default btn-block">
       <span class="glyphicon glyphicon-file"></span>Create Environment
     </a>
    </div>
	<div class="row">
        <a href="/envs" type="button" class="deployToolTip btn btn-default btn-block"
            data-toggle="tooltip" title="List all the environments">
            <span class="fa fa-list-ol"></span> All Environments
        </a>
    </div>
	<div class="row">
        <a href="/envs/deploys" type="button" class="deployToolTip btn btn-default btn-block"
            data-toggle="tooltip" title="List all the deployments">
            <span class="fa fa-list-ul"></span> All Deployments
        </a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Recent Environments</h4>
    </div>
    <div id="recentEnvsId">
    </div>
</div>

{% include "environs/new_env_modal.tmpl" %}

<script>
    $(function () {
        $('#recentEnvsId').load('/envs/recent/');

        $('#allEnvBtnId').click(function () {
            window.location = "/envs/";
        });
    });
</script>

{% endblock %}
