{% load utils %}
<div class="modal fade" id="addStageModalId" tabindex="-1" role="dialog"
     aria-labelledby="addStageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" method="post" action="/env/{{ envName }}/add_stage/"
                  role="form">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="addStageModalLabel">Add a new Stage</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="stage" class="col-md-2 control-label">Name</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" name="stage"
                                   required="required"
                                   placeholder="usually beta, canary, prod etc."
                                   data-toggle="tooltip"
                                   data-placement="right"
                                   data-trigger="manual"
                                   title="Letters, numbers, underscores, and hyphens [A-Za-z0-9_-] only.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stageType" class="deployToolTip control-label col-xs-2"
                            title="Determines the version of infrastructure services deployed on the hosts in this environment-stage.">
                            Stage Type
                        </label>
                        <div class ="col-xs-6">
                            <div class="input-group">
                                <select class="form-control" name="stageType" data-toggle="tooltip"  data-placement="right"
                                data-trigger="manual" title="Select a value that is not DEFAULT" required="required">
                                    {% get_stage_types as stageTypes %}
                                    {% for stageType in stageTypes %}
                                    {% if env.stageType == stageType %}
                                    <option value="{{ stageType }}" selected="selected">{{ stageType }}</option>
                                    {% else %}
                                    <option value="{{ stageType }}">{{ stageType }}</option>
                                    {% endif %}>
                                    {% endfor %}
                                </select>
                                <span v-if="showHelp" class="input-group-btn">
                                    <button class="deployToolTip btn stage-type-btn-default" id="stage-type-btn-test" type="button" data-toggle="tooltip" title="click to see more information">
                                        <span class="glyphicon glyphicon-question-sign"></span>
                                    </button>
                                </span>
                            </div>
                            <div class="col-xs-12" id="stageTypeHelpInfo" hidden="true">
                                LATEST - Deploys the latest available build</br>
                                CANARY - Deploy the build after TESTING</br>
                                CONTROL - Deploy the commit as the production, used with CANARY</br>
                                PRODUCTION - Deploy the commit to production
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="after" class="control-label col-md-2">Clone from</label>

                        <div class="col-md-10">
                            <select class="form-control" name="from_stage">
                                <option selected />
                                {% for stage in stages %}
                                <option value={{ stage }}>
                                    {{stage}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-md-2 control-label">Description</label>

                        <div class="col-md-10">
                            <textarea type="text" class="form-control" name="description"
                                      row="3" placeholder="simple description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% load static %}

<script src="{% static "js/data-validation-helpers.js" %}"></script>

<script>
    $(function() {
        $('#addStageModalId form').submit(function (e) {
            $('[data-toggle="tooltip"]').tooltip("destroy");

            var $stageNameInput = $(this[name = "stage"]);
            validateInput($stageNameInput.val(), validName, $.noop, function () {
                $stageNameInput.tooltip("show");
                e.preventDefault();
            })
            var $stageTypeInput = $(this[name = "stageType"]);
            validateInput($stageTypeInput.val(), validStageType, $.noop, function () {
                $stageTypeInput.tooltip("show");
                e.preventDefault();
            })
        });

        $('#addStageModalId').on('hidden.bs.modal', function () {
            $('[data-toggle="tooltip"]').tooltip("destroy");

            $('#stage-type-btn-test').click(function () {
                if ($('#stageTypeHelpInfo').is(':visible')){
                    $('#stageTypeHelpInfo').attr('hidden', 'true');
                } else {
                    $('#stageTypeHelpInfo').removeAttr('hidden');
                }
            });
        });


    });
</script>