<div class="modal fade" id="removeStageModalId" tabindex="-1" role="dialog"
     aria-labelledby="removeStageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="removeStageModalLabel">Remove Stage</h4>
            </div>
            <div class="modal-body">
                Are you sure you would like to remove stage <strong>{{ stageName }}</strong>?<br/>
                {% if stages|length == 1 %}
                This is the last stage, so its removal will remove the environment as well.
                {% endif %}
            </div>
            <div class="modal-footer">
                <a href="/env/{{ envName }}/{{ stageName }}/remove" class="btn btn-primary">
                    Remove
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

