{% load utils %}
{% load static %}
<div class="row">
<ul class="list-group">
    {% for envName in envNames %}
        <a href="/env/{{ envName }}/" class="list-group-item">{{ envName }}</a>
    {% endfor%}
</ul>
</div>
