{% load utils %}
{% load static %}
<div class="row">
<ul class="list-group">
    {% if isPinterest %}
    <a href="/ngapp2/deploy/" class="list-group-item">ngapp2</a>
    {% endif %}
    {% for envName in envNames %}
    {% if envName != "ngapp2-B" and envName != "ngapp2-A" %}
    <a href="/env/{{ envName }}/" class="list-group-item">{{ envName }}</a>
    {% endif %}
    {% endfor%}
</ul>
</div>
