{% load utils %}
{% if envs_tag|isDisabledEnvTag %}
<div class="alert alert-warning" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<strong>Warning!</strong> All environments are disabled by {{ envs_tag.operator }} due to {{ envs_tag.comments }}
on {{ envs_tag.createdDate|convertTimestamp }}.<br>
You cannot make any new configuration and deploy changes until environments are enabled.
{% endif %}
