<div class="modal fade" id="rollbackConfirmId" tabindex="-1" role="dialog"
     aria-labelledby="rollbackConfirm" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Rollback Confirm</h4>
      </div>
      <form id="confirmRollbackFormId" method="POST" role="form" class="form-horizontal"
            action="NEED_TO_BE_REPLACED">
      <div class="modal-body">
        Are you sure to rollback to <a id="confirmCommitLinkId" href="#REPLACE">REPLACE</a>?
        {% csrf_token %}
        <div class="row">
            <div class="form-group">
              <input class="form-control" name="description" type="text" required="true"
                     placeholder="Rollback reason (required)" value=""/>
            </div>
        </div>
        <p><i>Note: a manual rollback will disable auto deploy on this stage by Teletraan.</i></p>
        <div class="row">
            <div class="form-group" align="center">
                <label class="radio-inline">
                    <input type="radio" name="mark_build_as_bad" value="off" >Off
                </label>
                <label class="radio-inline">
                    <input type="radio" name="mark_build_as_bad" value="on" checked>On
                </label>
                <input id="confirmCurrentBuildId" type="hidden" name="toBeMarkedBuildId" value="" />
                <label class="radio-inline">Mark Build As bad (bad build will not be auto-deployed by Teletraan).</label>
            </div>
        </div>

        {% if pindeploy_config %}
        {% if pindeploy_config.isPindeploy %}
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> This stage is managed by Pindeploy. Deployments should be performed using
            this <a href="{{ pindeploy_config.pipeline }}" target="_blank">pipeline</a>.
            Creating a deployment from other sources (such as Teletraan) will disable environment management for the pipeline in PinDeploy.
            Only proceed this way in case of emergency, and remember to re-enable environment management in PinDeploy once the emergency is resolved.
        </div>
        {% endif %}
        {% endif %}

      </div>
      <div class="modal-footer">
        <input type="submit" value="Rollback" class="btn btn-primary">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
