{% load utils %}
{% load static %}
<div class="modal fade" id="confirmDeployModalId" tabindex="-1" role="dialog"
     aria-labelledby="confirmDeployModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
                <form id="deployConfirmFormlId" class="form-horizontal" method="post"
                      action="/env/{{ env.envName }}/{{ env.stageName }}/new_deploy/" role="form">

                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="newEnvModalLabel">Are you sure you would like to create this
                            deploy?</h4>
                    </div>
                    <div class="modal-body">
                        <div id="duplicateCommitDeployMessageId"></div>
                        <div id="confirmDeployModalPrecedingDeployWarningId">
                            Warning
                        </div>
                        <div id="privateBuildDeployMessageId" class="alert alert-warning" role="alert" hidden=true>
                            <strong>Notice: </strong> This build is private and should only be deployed in testing environments and not production environments
                        </div>
                        <div id="defaultStageTypeMessageId" class="alert alert-warning" role="alert" stagetype="{{env.stageType}}" syspriority="{{env.systemPriority}}" hidden=true>
                            <strong>Notice: </strong> This stage has a value of DEFAULT for the Stage Type. Please update the Stage Type to a value other than DEFAULT. See more details at
                            <a href="{{stage_type_info_link}}">pinch/teletraan-stagetypes</a>
                        </div>
                        <div class="form-group">
                            <label for="description"
                                   class="col-md-2 control-label">Description</label>

                            <div class="col-md-10">
                                <input id="confirmDeplyDescId" type="text" class="form-control"
                                       placeholder="Simple description of this deploy (optional)"
                                       name="description">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="branch" class="col-md-2 control-label">Branch</label>

                            <div class="col-md-10">
                                <input id="confirmBranchInputId" type="text" class="form-control"
                                       name="branch" value="{{ build.branch }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="commit7" class="col-md-2 control-label">Commit</label>

                            <div class="col-md-10">
                                <input id="confirmcommit7InputId" type="text" class="form-control"
                                       name="commit7" value="{{ build.commitShort }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="commit" class="col-md-2 control-label">Commit (long)</label>

                            <div class="col-md-10">
                                <input id="confirmcommitInputId" type="text" class="form-control"
                                       name="commit" value="{{ build.commit }}" readonly>
                            </div>
                        </div>
                        <input id="confirmBuildIdInputId" type="hidden" class="form-control"
                               name="buildId" value="{{ build.id }}" readonly>
                        <input id="currentBuildId" type="hidden" class="form-control"
                               name="current_build_id" value="{{ current_build.id }}" readonly>
                    </div>

                    {% if pindeploy_config %}
                    {% if pindeploy_config.isPindeploy %}
                    <div class="alert alert-warning" role="alert">
                        <strong>Warning!</strong> This stage is managed by Pindeploy. Deployments should be performed using
                        this <a href="{{ pindeploy_config.pipeline }}" target="_blank">pipeline</a>.
                        Creating a deployment from other sources (such as Teletraan) will disable resource management in the PinDeploy pipeline.
                        This means PinDeploy will stop automatically deploying new builds to the stage/resource in this pipeline.
                        Only proceed this way in case of emergency, and remember to re-enable resource management in PinDeploy once the emergency is resolved.
                    </div>
                    {% endif %}
                    {% endif %}

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <span class="hidden">Build id is EMPTY! you can not deploy this build.</span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
        </div>
    </div>
</div>

<script src="{% static "js/data-validation-helpers.js" %}"></script>

<script>
    var stageType = $('#defaultStageTypeMessageId').attr('stagetype');
    var systemPriority = $('#defaultStageTypeMessageId').attr('syspriority');
    $('#deployConfirmFormlId').submit(function (e) {
        $(this).find('button[type=submit]').prop('disabled', 'disabled');
        $(this).find('button[type=submit]').text('Creating...');
    });

    $('#confirmDeployModalId').on('show.bs.modal', function () {
        $('#duplicateCommitDeployMessageId').load('/env/{{env.envName}}/{{env.stageName}}/'
                +trid.find(".hiddenBuildId").val()+'/'
                +'get_duplicate_commit_message/');
    });

    $('#confirmDeployModalId').on('shown.bs.modal', function () {
        $('#confirmDeployModalPrecedingDeployWarningId').load(
                '/env/{{ env.envName }}/{{ env.stageName }}/'
                + $('#confirmBuildIdInputId').val()
                + '/warn_for_deploy/'
        );
        if ($('#confirmBranchInputId').val() == "private") {
            $('#privateBuildDeployMessageId').show();
        } else {
            $('#privateBuildDeployMessageId').hide();
        }
        if (stageType == "DEFAULT" && systemPriority == 'None') {
            validateInput(stageType, validStageType, $.noop, function () {
                $('#defaultStageTypeMessageId').show();
            });
        } else {
            $('#defaultStageTypeMessageId').hide();
        }
    });
</script>
