{% load utils %}
{% load static %}
{% include "deploys/deploys_pagination_header.tmpl" with url_prefix='/env/'|add:env.envName|add:'/'|add:env.stageName|add:'/deploys' %}
<form id="deploy_history_form">
    <table id="deployHistoryTableId" class="table table-condensed table-striped table-hover">
        <tr>
            <th></th>
            <th>Start(-08:00)</th>
            <th>Type</th>
            <th>State</th>
            <th>Acceptance</th>
            <th>Success</th>
            <th>Build</th>
            <th>Operator</th>
            <th>Account</th>
            <th>Details</th>
        </tr>
        {% for deploy_summary in deploy_summaries %}
        <tr>
            <td>
                <input type="checkbox" value="{{ deploy_summary.build.id }}"
                       name="chkbox_{{forloop.counter}}">
            </td>
            <td>
                <a class="pointer-cursor" data-toggle="collapse"
                   data-target="#deployAction{{forloop.counter}}">
                    <span id="deployAction{{forloop.counter}}Toggler"
                          class="glyphicon glyphicon-chevron-right">
                    </span>
                    {{ deploy_summary.deploy.startDate|convertTimestamp }}
                </a>
                <input type="hidden" value="{{ deploy_summary.deploy.id }}">
            </td>
            <td>
                <span class="glyphicon {{ deploy_summary.deploy.type|deployTypeIcon }}"></span>
                <small>{{ deploy_summary.deploy.type }}</small>
            </td>
            <td>
                <span class="deployToolTip pointer-cursor {{ deploy_summary.deploy.state|deployStateIcon }}"
                      data-toggle="tooltip" title="{{ deploy_summary.deploy.state|deployStateTip }}">
                </span>
                <small>{{ deploy_summary.deploy.state }}</small>
            </td>
            <td>
                <span class ="deployToolTip pointer-cursor {{ deploy_summary.deploy.acceptanceStatus|deployAcceptanceIcon }}"
                  data-toggle="tooltip" title="{{ deploy_summary.deploy.acceptanceStatus|deployAcceptanceTip }}">
                </span>
                <small>{{ deploy_summary.deploy.acceptanceStatus }}</small>
            </td>
            <td>
                <span class="deployToolTip pointer-cursor" data-toggle="tooltip" title="{{ deploy_summary.deploy|successRateTip }}">
                <small>{{ deploy_summary.deploy|successRate }}</small>
                </span>
            </td>
            <td>
                <a href="/builds/{{ deploy_summary.build.id }}">
                    {{ deploy_summary.build|branchAndCommit }}</a>
                {% if deploy_summary.buildTag %}
                     {%if deploy_summary.buildTag.value == "BAD_BUILD" %}
                        <span class="label label-danger">{{deploy_summary.buildTag.value}}</span>
                     {%elif deploy_summary.buildTag|tagBuildId == deploy_summary.build.id %}
                        <span class="label label-success">{{deploy_summary.buildTag.value}}</span>
                     {% endif %}
                {% endif %}
            </td>
            <td>{{ deploy_summary.deploy.operator }}</td>
            <td>
                {% for account in deploy_summary.deploy_accounts %}
                    {% if account.legacy_name %}
                    <div class="deployToolTip btn btn-xs btn-default host-btn">
                    {{ account.legacy_name }}
                    </div>
                    {% else %}
                    <a class="deployToolTip btn btn-xs btn-default host-btn" href="/clouds/accounts/{{ account.cloudProvider }}/{{ account.cell }}/{{ account.id }}">
                        {{ account.data.ownerId }} / {{ account.name }}
                    </a>
                    {% endif %}
                {% endfor %}
            </td>
            <td><a href="/deploy/{{ deploy_summary.deploy.id }}">Details</a></td>
        </tr>
        <tr id="deployAction{{forloop.counter}}" class="collapse out deployActionPanel">
            <td></td>
            <td colspan="8">
                <input class="hiddenCommit7" type="hidden"
                       value="{{ deploy_summary.build.commitShort }}"/>
                <input class="hiddenBranch" type="hidden"
                       value="{{ deploy_summary.build.branch }}"/>
                <input class="hiddenDeployId" type="hidden"
                       value="{{ deploy_summary.deploy.id }}"/>
                <input class="hiddenBuildId" type="hidden"
                       value="{{ deploy_summary.build.id }}"/>
                <div class="row showContent">
                    {% if deploy_summary.deploy.description %}
                        {{ deploy_summary.deploy.description }}
                    {% endif %}
                </div>
                <div class="row">
                    <a class="showdiffer deployToolTip btn btn-default btn-sm"
                        data-loading-text="Loading from {{ deploy_summary.build.type }}..."
                        data-toggle="tooltip"
                        title="Show all the new commits since last deploy">
                        <span class="glyphicon glyphicon-zoom-in"></span> Show Commits
                    </a>
                    {% if env|isEnvEnabled %}
                    {% if stages|length > 1 %}
                    <a href="/env/{{ env.envName }}/{{ env.stageName }}/promote/{{ deploy_summary.deploy.id }}"
                       type="button" class="deployToolTip btn btn-default btn-sm" data-toggle="tooltip"
                       title="Promote this deployment to other stages">
                       <span class="glyphicon glyphicon-transfer"></span> Promote It
                    </a>
                    {% endif %}
                    {% if deploy_summary.deploy|canRollbackTo %}
                    <a class="rollbacker deployToolTip btn btn-default btn-sm"
                       data-toggle="tooltip"
                       title="Rollback to this deployment">
                       <span class="glyphicon glyphicon-repeat icon-flipped"></span> Rollback to It
                    </a>
                    {% endif %}
                    {% if pinterest %}
                    <a href="/env/{{ env.envName }}/{{ env.stageName }}/patch/?base_deploy={{ deploy_summary.deploy.id }}"
                       class="deployToolTip btn btn-default btn-sm" data-toggle="tooltip"
                       title="Create a hotfix based on this deployment">
                       <span class="glyphicon glyphicon-fire"></span> Patch It
                    </a>
                    {% endif %}
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor%}
        {% csrf_token %}
    </table>
    <button type="button" id="compareDeploymentsBtn" class="btn btn-default">Compare deploys</button>
</form>
{% include "deploys/deploys_pagination_footer.tmpl" with url_prefix='/env/'|add:env.envName|add:'/'|add:env.stageName|add:'/deploys' %}
{% include "deploys/confirm_rollback.tmpl" %}

<script>
    $('#compareDeploymentsBtn').attr('disabled','disabled');

    jQuery(function(){
        var maxCheckedAllowed = 2;
        var checkboxes = $("#deployHistoryTableId").find('input[type="checkbox"]');
            checkboxes.change(function(){
                var numChecked = checkboxes.filter(':checked').length;
                checkboxes.filter(':not(:checked)').prop('disabled', numChecked >= maxCheckedAllowed);
                if(numChecked == 2) {
                    $('#compareDeploymentsBtn').removeAttr('disabled');
                } else {
                    $('#compareDeploymentsBtn').attr('disabled','disabled');
                }
            });
    });

    $(function () {
        $('.deployToolTip').tooltip();

        $('.deployActionPanel').on('hidden.bs.collapse shown.bs.collapse', function () {
            var currentId = $(this).attr('id');
            $('#' + currentId + 'Toggler').toggleClass('glyphicon-chevron-right glyphicon-chevron-down', 100);
        });

        $('#deployHistoryTableId tr .rollbacker').click(function () {
            var currentBuildId = '{{ current_build_id }}';
            trid = $(this).closest('tr');
            commit7 = trid.find(".hiddenCommit7").val();
            branch = trid.find(".hiddenBranch").val();
            deployId = trid.find(".hiddenDeployId").val();
            buildId = trid.find(".hiddenBuildId").val();
            buildUrl = "/builds/" + buildId;
            $("#confirmCommitLinkId").attr("href", buildUrl);
            $("#confirmCommitLinkId").text(branch + '/' + commit7);
            $("#confirmCurrentBuildId").val(currentBuildId);
            url = "/env/{{ env.envName }}/{{ env.stageName }}/rollback_to/" + deployId;
            $('#confirmRollbackFormId').attr("action", url);
            $('#rollbackConfirmId').modal();
        });

        $('#deployHistoryTableId tr .showdiffer').click(function () {
            btn = $(this);
            $(btn).button('loading');
            $(btn).tooltip('hide');
            trid = $(this).closest('tr');
            deploy_id = trid.find(".hiddenDeployId").val();
            contentId = trid.find('.showContent');
            url = '/env/{{ env.envName }}/{{ env.stageName }}/compare_deploys/?start_deploy=' + deploy_id;
            contentId.load(url, function () {
                $(btn).button('reset');
            });
        });

        $('#compareDeploymentsBtn').click(function () {
            var query_string = $('#deploy_history_form').serialize();
            window.location="/env/{{ env.envName }}/{{ env.stageName }}/compare_deploys_2/?" + query_string;
        });

    });
</script>
