<div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <nav>
            <ul class="pagination">
                {% if prevPageIndex != 0 %}
                <li>
                    <a href="{{ url_prefix }}/?{{ query_string }}page_index={{ prevPageIndex }}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                </li>
                {% endif %}
                {% for i in pageRange %}
                {% if i == pageIndex %}
                <li class="active">
                    <a href="#">{{ i }}</a>
                    {% else %}
                <li>
                    <a href="{{ url_prefix }}/?{{ query_string }}page_index={{ i }}">{{ i }}</a>
                    {% endif %}
                </li>
                {% endfor %}
                {% if nextPageIndex != 0 %}
                <li>
                    <a href="{{ url_prefix }}/?{{ query_string }}page_index={{ nextPageIndex }}"
                       aria-label="Next">
                        <span aria-hidden="true">Next &raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>