{% extends 'environs/env_base.html' %}

{% load utils %}
{% load static %}

{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/envs">Environments</a></li>
    <li><a href="/env/{{ env.envName }}/{{ env.stageName }}">{{ env.envName }} ({{ env.stageName }})</a></li>
    <li class="active">Commits</li>
</ul>
{% endblock %}

{% block side-panel-actions %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Actions</h4>
    </div>
    <div class="row">
        <button id="envDeployBtn" type="button" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-flash"></span> Current Deployment
        </button>
    </div>
</div>

<script>
    $(function () {
        $('#envDeployBtn').click(function () {
            window.location = "/env/{{ env.envName }}/{{ env.stageName }}/deploy/";
        });
    });
</script>
{% endblock %}

{% block new-builds-panel %}
{% endblock %}
{% block new-pred-deploys-panel %}
{% endblock %}

{% block main %}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">{{ title }}
        </h4>
        {% if repo|commitRepoType == "Github" %}
        <div class="btn-group pull-right">
            <button id="githuber"
                    class="deployToolTip btn btn-default" data-toggle="tooltip"
                    title="Show all the new commits in Gitbhub">
                <i class="fa fa-github"></i> Show New Commits in Github
            </button>
        </div>
        {% endif %}
    </div>
    <div class="panel-body table-responsive">
        <div id="newCommitsDivId">
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-spinner fa-spin"></i>Loading...</li>
            </ul>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#newCommitsDivId').load('/commits/compare_commits_datatables/?start_sha={{ startSha }}' +
                '&end_sha={{ endSha }}&repo={{ repo }}'
        );

        $('#githuber').click(function () {
            window.open('{{ diffUrl }}');
        });
    });
</script>
{% endblock %}
