{% load utils %}
{% load static %}
<script type="text/javascript" src="{% static "js/private/env_landing.js"%}"></script>
<div class="panel panel-default table-responsive">
  <table class="table table-striped table-condensed table-hover">
    <tr>
        <th class="col-lg-2">Build</th>
        <th class="col-lg-1">Type</th>
        <th class="col-lg-1">State</th>
        <th class="col-lg-2">Progress</th>
        <th class="col-lg-1">Elapsed</th>
        <th class="col-lg-1">Acceptance</th>
        <th class="col-lg-1">Operator</th>
        {% if accounts %}
            <th class="col-lg-1">
                <span>Account</span>
                <span class="ml-1 deployToolTip glyphicon glyphicon-question-sign"
                    data-toggle="tooltip" title=""
                    data-original-title="This is the AWS account is being used in this stage">
                </span>
            </th>
        {% endif %}
        <th class="col-lg-1">Details</th>
        <th class="col-lg-1">Schedule</th>
    </tr>
    <tr>
    <td>
        <a class="deployToolTip" data-toggle="tooltip"
           title="Click to see the build details"
           href="/builds/{{ build.id }}">
           {{ build|branchAndCommit }}
        </a>
        {% if tag %}
          {%if tag.value == "BAD_BUILD" %}
            <span class="label label-danger">{{tag.value}}</span>
            <div id="envErrorMsg" style="display: none;">The environment is running on a bad build tagged by {{tag.operator}} on {{ tag.createdDate|convertTimestamp }}</div>
          {%elif tag|tagBuildId == build.id %}
            <span class="label label-success">{{tag.value}}</span>
          {% endif %}
        {% endif %}
    </td>
    <td>
        <span class="deployToolTip pointer-cursor glyphicon {{ deploy.type|deployTypeIcon }}"
              data-toggle="tooltip" title="{{ deploy.type|deployTypeTip }}">
        </span>
        <small>{{ deploy.type }}</small>
    </td>
    <td>
        <span class="deployToolTip pointer-cursor {{ deploy.state|deployStateIcon }}"
              data-toggle="tooltip" title="{{ deploy.state|deployStateTip }}">
        </span>
        <small>{{ deploy.state }}</small>
    </td>
    <td>
        <div class="progress deployToolTip" data-toggle="tooltip">
            <div class="deployToolTip progress-bar {{ deploy|progressType }}"
                 data-toggle="tooltip" title="{{ deploy|progressTip }}"
                 role="progressbar" aria-valuenow="{{ deploy|successRatePercentage }}"
                 aria-valuemin="0" aria-valuemax="100"
                 style="width: {{ deploy|successRatePercentage }}%;">
                <span class="show">{{ deploy|successRate }}</span>
            </div>
        </div>
    </td>
    <td>
        <span class="deployToolTip label label-default" data-toggle="tooltip"
              title="{{ deploy|deployDurationTip }}">
            {{ deploy.startDate|computeDuration }}
        </span>
    </td>
    <td>
        <span class="deployToolTip pointer-cursor {{ deploy.acceptanceStatus|deployAcceptanceIcon }}"
              data-toggle="tooltip" title="{{ deploy.acceptanceStatus|deployAcceptanceTip }}">
        </span>
        <small>{{ deploy.acceptanceStatus }}</small>
    </td>
    <td>{{ deploy.operator }}</td>
    {% if accounts %}
        <td>
            {% for account in accounts %}
                {% if account.legacy_name %}
                <a href="#" class="deployToolTip btn btn-xs btn-default host-btn disabled" style="opacity:1;">
                    <small>{{ account.legacy_name }}</small>
                    <i class="fa fa-fw fa-user"></i>
                </a>
                {% else %}
                <a href="/clouds/accounts/{{ account.cloudProvider }}/{{ account.cell }}/{{ account.id }}" class="deployToolTip btn btn-xs btn-default host-btn">
                    <small>{{ account.data.ownerId }} / {{ account.name }}</small>
                    <i class="fa fa-fw fa-user"></i>
                </a>
                {% endif %}
            {% endfor %}
        </td>
    {% endif %}
    <td><a href="/deploy/{{ deploy.id }}">view</a></td>
    <td><a href="/env/{{ env.envName }}/{{ env.stageName }}/schedule">view</a></td>
  </tr>
</table>
</div>
