{% extends 'environs/env_base.html' %}

{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/envs">Environments</a></li>
    <li><a href="/env/{{ env.envName }}/{{ env.stageName }}">{{ env.envName }} ({{ env.stageName }})</a></li>
    <li class="active">Create a deploy</li>
</ul>
{% endblock %}

{% block side-panel-actions %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Actions</h4>
    </div>
    <div class="row">
        <a type="button" class="deployToolTip btn btn-default btn-block"
           href="/env/{{ env.envName }}/{{ env.stageName }}/deploy"
           data-toggle="tooltip" title="Return to the current deployment page">
           <i class="fa fa-flash"></i> Back to Current Deploy
        </a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Choose different branch</h4>
    </div>
    <div class="row input-group">
        <input id="newBranchInputId" type="text" value="{{ branch }}" class="form-control"
                placeholder="Show all branches">
        <span class="input-group-btn">
            <button id="newBranchBtnId" class="deployToolTip btn btn-default" type="button"
                    data-toggle="tooltip" title="Show builds from different branch">
                Show
            </button>
        </span>
    </div>
</div>

<script>
    $(function () {
        var branches = new Bloodhound({
            datumTokenizer: function(d) {
                var branch = Bloodhound.tokenizers.whitespace(d.name);
                $.each(branch,function(k,v){
                    i = 0;
                    while( (i+1) < v.length ){
                        branch.push(v.substr(i,v.length));
                        i++;
                    }
                })
                return branch;
            },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            limit: 10,
            prefetch: {
                url: '/builds/names/{{ env.envName }}/branches',
                // the json file contains an array of strings, but the Bloodhound
                // suggestion engine expects JavaScript objects so this converts all of
                // those strings
                filter: function (list) {
                  return $.map(list, function (branch) {
                       return { name: branch };
                   });
                }
            }
        });

        // kicks off the loading/processing of `local` and `prefetch`
        branches.initialize();

        // passing in `null` for the `options` arguments will result in the default
        // options being used
        $('#newBranchInputId').typeahead(null, {
            name: 'branches',
            displayKey: 'name',
            // `ttAdapter` wraps the suggestion engine in an adapter that
            // is compatible with the typeahead jQuery plugin
            source: branches.ttAdapter()
        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Specify a commit</h4>
    </div>
    <div class="row input-group">
        <input id="newCommitInputId" type="text" class="form-control">
        <span class="input-group-btn">
            <button id="newCommitBtnId" class="deployToolTip btn btn-default" type="button"
                    data-toggle="tooltip" title="Show all builds based on this specific commit">
                Show
            </button>
        </span>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Specify a build</h4>
    </div>
    <div class="row input-group">
        <input id="newBuildInputId" type="text" class="form-control">
        <span class="input-group-btn">
            <button id="newBuildBtnId" class="deployToolTip btn btn-default" type="button"
                    data-toggle="tooltip" title="Show this specific build">
                Show
            </button>
        </span>
    </div>
</div>

{% endblock %}

{% block new-builds-panel %}
<!-- disable the new builds section side panel -->
{% endblock %}

{% block main %}

{% load utils %}

<div class="panel panel-default">
   <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Pick a build to deploy</h4>
        <div class="pull-right" style="display: flex; align-items: center; line-height: 1;">
            <label style="font-size: 0.85em; margin: 0; display: flex; align-items: center;">
                <input type="checkbox" id="showCommitInfoCheckbox" style="margin-right: 5px; height: auto; margin-top: -2px;"> Show Commit Info
            </label>
        </div>
    </div>
    <div id="buildPickDivId" class="panel-body table-responsive">
    </div>
</div>

<script>
    $(function () {
        $('#buildPickDivId').load(
            '/builds/get_all_builds/?name={{ buildName }}&branch={{ branch }}&page_index={{ pageIndex }}&page_size={{ pageSize }}&current_build_id={{ current_build.id }}&override_policy={{ env.overridePolicy }}&deploy_id={{ env.deployId }}');
    });

    $("#newBranchBtnId").click(function () {
        newBranch = $('#newBranchInputId').val();
        $('#buildPickDivId').load(
            '/builds/get_all_builds/?name={{ buildName }}&branch=' + newBranch + '&override_policy={{ env.overridePolicy }}&deploy_id={{ env.deployId }}');
    });

    $("#newCommitBtnId").click(function () {
        commit = $('#newCommitInputId').val();
        window.location = '/env/{{ env.envName }}/{{ env.stageName }}/commit/' + commit;
    });

    $("#newBuildBtnId").click(function () {
        build = $('#newBuildInputId').val();
        window.location = '/env/{{ env.envName }}/{{ env.stageName }}/build/' + build;
    });

    $(document).ready(function() {
        const showCommitInfo = localStorage.getItem('showCommitInfo') === 'true';
        $('#showCommitInfoCheckbox').prop('checked', showCommitInfo);

        $('#showCommitInfoCheckbox').change(function () {
            localStorage.setItem('showCommitInfo', $(this).is(':checked'));
            if ($(this).is(':checked')) {
                $('.commitInfo').show();
            } else {
                $('.commitInfo').hide();
            }
        });
    });
</script>

{% include "builds/pick_a_build.tmpl" %}
{% include "deploys/confirm_deploy.tmpl" %}
{% include "deploys/confirm_override.tmpl" %}
{% endblock %}
