{% load utils %}

<!-- {% include "panel_heading.tmpl" with panel_title="Deploy Schedule" panel_body_id="envScheduleId" direction="down" %} -->
<div id="envScheduleId" class="collapse in panel-body">
    <div class="container-fluid">
        <form id="envCapacityFormId" class="form-horizontal" role="form">
            <!-- <fieldset id="envCapacityFieldSetId">
                <div class="form-group">
                    <label for="hostCapacity" class="control-label col-xs-2">Hosts</label>
                    <div class="col-xs-10">
                        <input id="hostText" class="form-control" name="hosts" required="false"
                            placeholder="host1,host2,...etc." type="text" value="{{ hosts }}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="groupCapacity" class="control-label col-xs-2">Groups</label>
                    <div class="col-xs-10">
                        <input id="groupText" class="form-control" name="groups" required="false"
                            placeholder="group1,group2...etc." type="text" value="{{ groups }}"/>
                    </div>
                </div>
            </fieldset> -->
            <table class="table">
            <tr>
                <th class="col-md-2">Session #</th>
                <th class="col-md-2">Success Rate</th>
                <th class="col-md-2">Number of Hosts</th>
                <th class="col-md-2">Cooldown Period</th>
                <th class="col-md-2">State</th>
                <th class="col-md-2"></th>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <div class="progress deployToolTip" data-toggle="tooltip">
                        <div class="deployToolTip progress-bar"
                            data-toggle="tooltip" title="adf"
                            role="progressbar" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"
                            style="width: 90%;">
                            <span class="show">9/10</span>
                        </div>
                     </div>
                </td>
                <td>
                    10
                </td>
                <td>30 min</td>
                <td>FINISHED</td>
                <td class="text-right">
                    <!-- <button type="button" class="btn btn-danger">Override</button> -->
                </td>
            </tr>
            <tr style="border: 2px solid #428bca">
                <td>2</td>
                <td>
                    <div class="progress deployToolTip" data-toggle="tooltip">
                        <div class="deployToolTip progress-bar"
                            data-toggle="tooltip" title="adf"
                            role="progressbar" aria-valuenow="49"
                            aria-valuemin="0" aria-valuemax="100"
                            style="width: 98%;">
                            <span class="show">49/50</span>
                        </div>
                     </div>
                </td>
    <!--             <td>
                    <div class="progress deployToolTip" data-toggle="tooltip">
                        <div class="deployToolTip progress-bar"
                            data-toggle="tooltip" title="adf"
                            role="progressbar" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="50"
                            style="width: 50%;">
                            <span class="show">25/50</span>
                        </div>
                     </div>
                </td> -->
                <td>
                    50
                </td>
                <td>30 min (Time Left: 25:30)</td>
                <!-- <td>30 min</td> -->
                <!-- <td>RUNNING</td> -->
                <td>COOLING DOWN</td>
                <td class="text-right">
                    <button type="button" class="btn btn-danger">Override</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <div class="progress deployToolTip" data-toggle="tooltip">
                        <div class="deployToolTip progress-bar"
                            data-toggle="tooltip" title="adf"
                            role="progressbar" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"
                            style="width: 0%;">
                            <span class="show">0/400</span>
                        </div>
                     </div>
                </td>
                <td>
                    400
                </td>
                <td>N/A</td>
                <td>NOT STARTED</td>
                <td class="text-right">
                    <!-- <button type="button" class="btn btn-danger">Override</button> -->
                </td>
            </tr>
          <!--   <tr>
                <td>2</td>
            </tr>
 -->
            </table>
            {% csrf_token %}
        </form>
    </div>
</div>

<!-- <div class="panel-footer clearfix">
    <div class="pull-right">
        <button id="resetEnvCapacityBtnId" class="btn btn-default"
                data-loading-text="Reloading...">
            <span class="glyphicon glyphicon-refresh"></span> Reload
        </button>
        {% if env|isEnvEnabled %}
        <button id="saveEnvCapacityBtnId" class="btn btn-primary" data-target="#saveHostGroup" data-toggle="modal" data-loading-text="Saving...">
            <span class="glyphicon glyphicon-floppy-save"></span> Save
        </button>
        {% endif %}
    </div>
</div> -->

<script type="text/javascript">

</script>
