<div id="envScheduleId" class="collapse in panel-body">
    <div class="container-fluid">
        <form id="envCapacityFormId" class="form-horizontal" role="form">
            <table id="sessionTable" class="table">
            <tr>
                <th class="col-md-2">Session #</th>
                <th class="col-md-2">Number of Hosts</th>
                <th class="col-md-2">Cooldown Period (min)</th>
                <th class="col-md-2">State</th>
                <th class="col-md-2"></th>
            </tr>
            <tr id="sessionsComplete" class="info" style="display:none;border-radius:25px">
                <td colspan="4" style="padding:14px 8px">
                    <i class="fa fa-check-circle color-green" style="margin-right:5px"></i>
                    Deploy schedule is complete. All hosts can proceed
                </td>
            </tr>
            </table>
            {% csrf_token %}
        </form>
        <div>Configure schedule <a href="/env/{{ env.envName }}/{{ env.stageName }}/config/schedule">here</a> </div>
    </div>
</div>

<script type="text/javascript">
     {% if schedule %}
        var cooldownTimes = "{{ schedule.cooldownTimes }}";
        var timesArray = cooldownTimes.split(",");
        var hostNumbers = "{{ schedule.hostNumbers }}";
        var currentSession = {{ schedule.currentSession }};
        var numbersArray = hostNumbers.split(",");
        var scheduleState = "{{ schedule.state }}";
        var stateStartTime = {{ schedule.stateStartTime }};

        for (i = 1; i<=numbersArray.length; i++) {
            state = "FINISHED";
            if (i == currentSession && scheduleState != "FINAL") {
                var state = scheduleState;
            } else if (i > currentSession) {
                var state = "NOT STARTED";
            }

            var button = '';
            if (i == currentSession && scheduleState != "FINAL") {
                button = '<td class="text-right"><button id="overrideBtn" type="button" class="btn btn-danger">Override</button></td>';
            }
            $('#sessionTable tr:last').before('<tr id=session' + i +'><td class="sessionNumber" id=sessionNumber'+i+'><strong>'+i+'</strong></td><td class="hostNumber"><div>'+numbersArray[i-1]+' hosts</div></td><td class="cooldownTime"><div>'+getCooldownTimeDisplay(timesArray[i-1])+'</div></td><td class="state">'+state+'</td>'+button+'</tr>');
        }

        if (scheduleState == "FINAL") {
            $("#sessionsComplete")[0].style.display = "table-row";
        } else {
            if (scheduleState == "COOLING_DOWN" && timesArray[currentSession - 1] !== "-1") {
                // calculates time left until next session
                var d = new Date();
                var timeLeft = (timesArray[currentSession - 1]* 60000) - (d.getTime() - stateStartTime);
                var min = Math.round((timeLeft/1000/60) << 0);
                var sec = Math.round((timeLeft/1000) % 60);
                sec = ("0" + sec).slice(-2); // make it always two integers for seconds
                $("#session" + currentSession).find(".cooldownTime").text(timesArray[currentSession - 1] + " min (Time Left: " + min + ":" + sec + ")");

            }
            $("#session" + currentSession).addClass("info");
            $("#session" + currentSession).css('borderRadius', '3em');
        }
    {% endif %}

    $(document).on('click', '#overrideBtn', function () {
      var sessionNum = parseInt($(this).closest('tr').find('.sessionNumber strong').text());
      $.ajax({
            type: 'POST',
            url: '/env/{{ env.envName }}/{{ env.stageName }}/override_session/?session_num='+sessionNum,
            data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
            dataType: "json",
            success: function (data) {
                location.reload(true);
                if(data != null && data.success == false) {
                    $('#errorBannerId').append(data.error);
                    $('#errorBannerId').show();
                } else {
                    $("#envScheduleId").parent().html(data.html);
                    $('#errorBannerId').empty().hide();
                }
            },
            error: function (data) {
                $('#errorBannerId').append(data.responseText);
                $('#errorBannerId').show();
            }
        });
    })

    function getCooldownTimeDisplay(cooldownTime) {
      if (cooldownTime === "-1") {
        return "Infinite";
      }
      return `${cooldownTime} min`;
    }
</script>
