{% load utils %}
{% load static %}

    <div id="noProjectNoDeployAlert" class="alert alert-danger" role="alert" align="center" style="{{ hidden }}">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <i><b style="font-size:24px;">No owner, no deploys :) </b></i>
      <p>By February 26th, we will disable all deploys for any stages not owned by a project.</p>
      <p>You can claim a stage <a href="{{transfer_ownership_url}}" target="_blank" rel="noopener">here</a>.
      <p>Visit <a href="{{resource_ownership_wiki_url}}" target="_blank" rel="noopener">here</a> for more info. Thank you!</p>
      
    </div>

<script>

    function closeBanner() {
        document.getElementById("noProjectNoDeployAlert").remove();
    }
</script>
