<div id="noTier3Alert" class="alert alert-danger" role="alert" align="center">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <i><b style="font-size:24px;">Tier 3 new service onboarding to Teletraan is now disabled.</b></i>
  <p>
     Please launch new Tier 3 services in PinCompute. PinCompute onboarding documentation may be found
     <a href="{{ pincompute_onboarding_link }}">here</a>.
     For any exceptions, please complete the
     <a href="{{ pincompute_exception_form_link }}">exception form</a>.
     For questions, please reach out to
     <a href="{{ pincompute_slack_link }}">#pincompute</a>.
  </p>
  <p>
    • PinCompute mass migration for stateless Tier 3 services begins Monday, May 4.
  </p>
  <p>
    • Stateless Tier 2 onboarding and mass migration begins June 2. Starting June 2, no new Tier 2 environments may onboard to Teletraan.
  </p>
  <p>
    • Stateless Tier 1 onboarding and mass migration begins July 6. Starting July 6, no new Tier 1 environments may onboard to Teletraan.
  </p>
</div>
