<div id="noTier3Alert" class="alert alert-danger" role="alert" align="center">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <i><b style="font-size:24px;">Tier 3 new service onboarding to Teletraan will be restricted starting Feb 9th, 2026.</b></i>
  <p>
     Please launch new Tier 3 services in PinCompute. PinCompute onboarding documentation may be found
     <a href="{{ pincompute_onboarding_link }}">here</a>.
     For any exceptions, please complete the
     <a href="{{ pincompute_exception_form_link }}">exception form</a>.
     For questions, please reach out to
     <a href="{{ pincompute_slack_link }}">#cloud-runtime-k8s</a>.
  </p>
</div>
