{% load utils %}
{% load static %}

    <div id="noDeployAlert" class="alert alert-danger" role="alert" align="center" style="{{ hidden }}">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <i><b style="font-size:24px;">Change freeze in effect !</b></i>
      <p>You can create a change ticket <a href="{{jira_source_url}}" target="_blank">here</a>.</p>
      <p>Visit <a href="{{code_freeze_url}}">pinch/changefreeze</a> for more info</p>
    </div>

<script>

    function closeBanner() {
        document.getElementById("noDeployAlert").remove();
    }
</script>
