<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="jiehou">

    <title>{% block title %}Teletraan{% endblock %}</title>

    {%load static %}
    {% load utils %}

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"/>

    <!-- Custom styles for this template -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/deploy-board.css" %}" rel="stylesheet">
    <link href="{% static "css/fuelux.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" >
    <link href="{% static "css/typeahead.css" %}" rel="stylesheet" >
    <link href="{% static "css/star-rating.min.css" %}" rel="stylesheet" >
    <link href="{% static "css/bootstrap-chosen.css" %}" rel="stylesheet" >
    <link href="{% static "datatables/css/dataTables.bootstrap.min.css" %}" rel="stylesheet" >
    <link href="{% static "editable/css/bootstrap-editable.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-sortable.css" %}" rel="stylesheet" >

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster (but it does not work ) -->
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/deploy-board.js"%}?changedate=2023.07.26.150000"></script>
<script src="{% static "js/fuelux.min.js" %}"></script>
<script src="{% static "js/typeahead.bundle.min.js" %}"></script>
<script src="{% static "js/star-rating.min.js" %}"></script>
<script src="{% static "js/chosen.jquery.min.js" %}"></script>
<script src="{% static "js/js.cookie-2.0.3.min.js" %}"></script>
<script src="{% static "datatables/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "datatables/js/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static "editable/js/bootstrap-editable.js" %}"></script>
<script src="{% static "js/bootstrap-uploadprogress.js" %}"></script>
<script src="{% static "js/bootstrap-sortable.js" %}"></script>
<script src="{% static "js/vue.min.js" %}"></script>
<script src="{% static "js/bootstrap-table.js" %}"></script>
<script src="{% static "js/bootstrap-table-filter-control.js" %}"></script>
</head>

<body>

<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBarItemsId">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
          <img style="max-width:100px; margin-top: -7px;"
             src="{% static "images/teletraan-logo.png" %}"> Teletraan
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navBarItemsId" class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
            {% block navbar-items %}
            {% endblock %}
        </ul>
        {% block navbar-search %}
        {% endblock %}
        <ul class="nav navbar-nav">
            <li><a href="https://github.com/pinterest/teletraan/wiki">Help</a></li>
            {% if isPinterest %}
                <li><a href="#" data-toggle="modal" data-target="#feedbackModal">Feedback</a></li>
            {% endif %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{request.teletraan_user_id.name }}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout/">Logout</a></li>
                    </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div>
{% block breadcrumb-items %}
{% endblock %}
    <div id="tagMessageDetailsId"></div>
    <div id="errorBannerId" style="display:none; text-align:center;" class="alert alert-danger alert-dismissible" role="alert" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    {% verbatim %}
    <div id="pageNotificationPanel">
        <div id="vuePageInfomessage" style="display:none; text-align:center" class="alert alert-success alert-dismissible" v-show="info">{{info}}
           <button type="button" class="close" v-on:click="info=''" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div id="vuePageErrorBanner" style="display:none; text-align:center" class="alert alert-danger alert-dismissible" v-show="error" role="alert">{{error}}
            <button type="button" class="close" v-on:click="error=''" ><span aria-hidden="true">&times;</span></button>
        </div>
        <div id="vuePageWarningBanner" style="display:none; text-align:center" class="alert alert-warning alert-dismissible" v-show="warning" role="alert">{{warning}}
            <button type="button" class="close" v-on:click="warning=''" ><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
    <script type="text/javascript">
        globalNotificationBanner = new Vue({
            el:"#pageNotificationPanel",
            data:{
                error:"",
                info:"",
                warning: "",
            }
        });
    </script>
    {% endverbatim %}
</div>

<script>
function loadDetails() {
    var url = "/envs/get_tag_message/";
    $.get(url, function(response) {
        $("#tagMessageDetailsId").html(response);
    });
}

$(document).ready(function() {
    loadDetails();
});

</script>

{% include "feedbacks/feedback_modal.tmpl" %}
<div class="container-fluid" id="pageMainContent">
<div class="row">
  <div class="col-sm-2">
    {% block side-panel %}
    {% endblock %}
  </div>

  <div class="col-sm-10">
    {% block main %}
    {% endblock %}
    {% block hidden %}
    {% endblock %}
  </div>
</div>
</div>

<div id="toolTipContent"></div>
</body>
</html>
