{%load static %}
<div class="panel-heading clearfix">
    <h4 class="panel-title pull-left">Hosts</h4>
</div>

{% if pinterest %}
{% if show_terminate %}
<div class="row">
    <button class="deployToolTip btn btn-default btn-block" data-target="#terminateHost"
            data-toggle="modal" title="Gracefully shutdown the service and terminate the host">
        <span class="glyphicon glyphicon-off"></span> Terminate Host
    </button>
</div>

<div class="modal fade" id="terminateHost" tabindex="-1" role="dialog" aria-labelledby="newEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="terminateHostForm" class="form-horizontal" method="post" role="form"  action="/env/{{ env_name }}/{{ stage_name }}/terminate_hosts/?host_id={{ host_id }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Host Termination Confirm</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure to gracefully shutdown the service and then terminate {{ hostname }}?</p>
                    {% if is_unreachable %}
                        <div class="alert alert-warning" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> This host is unreachable. It cannot be gracefully shut down.
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="terminateInstanceBtnId">Terminate</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                {% csrf_token %}
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}

{% if hosts and show_force_terminate  %}
<div class="row">
    <button class="deployToolTip btn btn-default btn-block" data-target="#forceTerminateHost"
            data-toggle="modal" title="Force Terminate Host">
        <span class="glyphicon glyphicon-remove"></span> Force Terminate
    </button>
</div>

<div class="modal fade" id="forceTerminateHost" tabindex="-1" role="dialog" aria-labelledby="newEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="forceTerminateHostForm" class="form-horizontal" method="post" role="form"  action="/env/{{ env_name }}/{{ stage_name }}/force_terminate_hosts/?host_id={{ host_id }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Host Termination Confirm</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure to force terminate {{ hostname }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="terminateInstanceBtnId">Terminate</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                {% csrf_token %}
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
{% endif %}


<!--- detach instances -->
{% if asg_group %}
<div class="row">
<button class="deployToolTip btn btn-default btn-block" data-target="#detachHost"
        data-toggle="modal" title="Detach Host">
    <span class="glyphicon glyphicon-eject"></span> Detach Host
</button>
</div>

<div class="modal fade" id="detachHost" tabindex="-1" role="dialog"
     aria-labelledby="newEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="detachHostForm" class="form-horizontal" method="post" role="form" action="/groups/{{ asg_group }}/detach_host/?hostId={{ host_id }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Detach Confirm</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure to detach {{ hostname }} from {{ asg_group }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="detachInstanceBtnId">Detach</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                {% csrf_token %}
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
