{% extends 'environs/envs_base.html'%}
{% load utils %}
{% load static %}

{% block navbar-items %}
<li><a href="/envs">Environments</a></li>
<li><a href="/builds">Builds</a></li>
{% endblock %}

{% block main %}
{% include "environs/site_health.tmpl" %}

<div class="panel panel-default">
    {% include "panel_heading.tmpl" with panel_title="Ongoing Deployments" panel_body_id="onGoingDeployId" direction="down" %}
    <div id="onGoingDeployId" class="collapse in panel-body table-responsive">
    </div>
</div>
<script>
    $(function () {
        $('#onGoingDeployId').load('/deploys/ongoing/');

        setInterval(function() {
            $('#onGoingDeployId').load('/deploys/ongoing/');
        }, 30000);
    });
</script>
{% endblock %}
