{% if messages %}
    {% for message in messages %}
        {% if message.level == 40 %}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> {{ message | safe}} <a href= {{message.extra_tags.link | safe}}>{{message.extra_tags.text | safe}}</a>
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> {{ message | safe}}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}