{% load utils %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    This build is tagged as <span class="label label-danger">{{tag.value}}</span> by {{tag.operator}} on {{ tag.createdDate|convertTimestamp }}. 
    Do you really want to deploy this commit?
</div>
