{% extends 'environs/env_base.html' %}
{% load static %}
{% load utils %}

{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/groups/">Groups</a></li>
    <li><a href="/groups/{{ group_name }}/">{{ group_name }}</a></li>
    <li>Config</li>
</ul>
{% endblock %}

{% block side-panel-actions %}
<div class="panel panel-default">
{% include "groups/group_side_panel.html" %}
</div>

{% endblock %}

{% block new-builds-panel %}
{% endblock %}
{% block new-pred-deploys-panel %}
{% endblock %}

{% block main %}

{% if storage %}
    {% for message in storage %}
        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{ message | safe}}
        </div>
    {% endfor %}
{% endif %}

{% if not is_cmp %}
<div id="launchConfigPid" class="panel panel-default">
</div>
{% endif %}

<div id="groupConfigPid" class="panel panel-default">
{% include "groups/group_config.tmpl" with config=group_config %}
</div>

{% if asg_vm_config.asgStatus != "UNKNOWN" %}
<script type="text/javascript" src="{% static "js/components/sharedcomponents.js"%}?changedate=2023.01.30"></script>
<script type="text/javascript" src="{% static "js/components/capacitycomponents.js"%}?changedate=2023.01.30"></script>
<div id="asgConfigPid" class="panel panel-default">
</div>
{% endif %}
<script>
    $(function() {
        $.get('/groups/{{ group_name }}/autoscaling/get_launch_config/', function(response){
            $('#launchConfigPid').html(response);
        });

        $.get('/groups/{{ group_name }}/autoscaling/get_asg_config/', function(response) {
            $('#asgConfigPid').html(response);
        });
    });
</script>
{% endblock %}
