{% load utils %}
{% include "panel_heading.tmpl" with panel_title="Scaling Policies" panel_body_id="autoscalingPolicyId" direction="down" %}

<div id="autoscalingPolicyId" class="collapse in panel-body">
    <div class="container-fluid">
        <div class="tab">
            <button id="simple-scaling-btn" class="tablinks" onclick="openPolicy(event, 'simple-scaling')">Simple Scaling</button>
            <button id="step-scaling-btn" class="tablinks" onclick="openPolicy(event, 'step-scaling')">Step Scaling</button>
            <button id="target-tracking-scaling-btn" class="tablinks" onclick="openPolicy(event, 'target-tracking-scaling')">Target Tracking Scaling</button>
        </div>

        <div id="simple-scaling" class="tabcontent">
        <h4>Simple Scaling</h4>
            <form id="simpleAutoscalingPolicyConfigFormId" class="form-horizontal" role="form" method="post" action="/groups/{{ group_name }}/autoscaling/update_policy/">
            <fieldset id="envConfigFieldSetId">
                <div class="form-group">
                    <label for="scaleUpSize" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Scale up size adjustment">
                        Scale up:
                    </label>

                    <div class="col-xs-1">
                        <div class="input-group">
                            {% if scaleupPolicies %}
                                {% with scaleupPolicies|first as first %}
                                    <input class="form-control col-xs-1" name="scaleupSize" required="true"
                                    type="text" value="{{ first.scaleSize }}"/>
                                {% endwith %}
                            {% else %}
                                <input class="form-control col-xs-1" name="scaleupSize" required="true"
                                    type="text" value=""/>
                            {% endif %}
                        </div>
                    </div>

                <div class="col-xs-2">
                    <select class="form-control" name="scaleupType" required="true" id="scaleupSelectId">
                    {% if scaleupPolicies %}
                        {% with scaleupPolicies|first as first %}
                            {% if first.scalingType == "PercentChangeInCapacity" %}
                                <option value="PercentChangeInCapacity" selected>Percent of the group</option>
                                <option value="ChangeInCapacity">Instances</option>
                            {% else %}
                                <option value="ChangeInCapacity" selected>Instances</option>
                                <option value="PercentChangeInCapacity">Percent of the group</option>
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        <option value="ChangeInCapacity">Instances</option>
                        <option value="PercentChangeInCapacity">Percent of the group</option>
                    {% endif %}

                    </select>
                    </div>
                        <label for="maxSize" class="deployToolTip control-label col-xs-2"
                            data-toggle="tooltip"
                            title="cool down period">
                            and then wait for:
                        </label>

                        <div class="col-xs-2">
                        <div class="input-group">
                        {% if scaleupPolicies %}
                            {% with scaleupPolicies|first as first %}
                                <input class="form-control" name="scaleupCooldownTime" required="true"
                                type="text" value="{{ first.coolDown }}"/>
                            {% endwith %}
                        {% else %}
                            <input class="form-control" name="scaleupCooldownTime" required="true"
                                type="text" value=""/>
                        {% endif %}
                        <span class="input-group-addon">minutes</span>
                        </div>
                        </div>
                        <label for="maxSize" class="deployToolTip control-label col-xs-2"
                            style="font-weight: normal !important">
                            before allowing another activity
                        </label>

                    </div>
                    <div class="form-group">
                        <label for="minSize" class="deployToolTip control-label col-xs-2"
                            data-toggle="tooltip"
                            title="Scale down size adjustment">
                            Scale down:
                        </label>
                        <div class="col-xs-1">
                        <div class="input-group">
                        {% if scaledownPolicies %}
                            {% with scaledownPolicies|first as first %}
                                <input class="form-control col-xs-1" name="scaledownSize" required="true"
                                type="text" value="{{ first.scaleSize }}"/>
                            {% endwith %}
                        {% else %}
                            <input class="form-control col-xs-1" name="scaledownSize" required="true"
                                type="text" value=""/>
                        {% endif %}
                        </div>
                        </div>
                <div class="col-xs-2">
                <select class="form-control" name="scaledownType" required="true" id="scaledownSelectId">
                    {% if scaledownPolicies %}
                        {% with scaledownPolicies|first as first %}
                            {% if first.scalingType == "PercentChangeInCapacity" %}
                                <option value="PercentChangeInCapacity" selected>Percent of the group</option>
                                <option value="ChangeInCapacity">Instances</option>
                            {% else %}
                                <option value="ChangeInCapacity" selected>Instances</option>
                                <option value="PercentChangeInCapacity">Percent of the group</option>
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        <option value="ChangeInCapacity">Instances</option>
                        <option value="PercentChangeInCapacity">Percent of the group</option>
                    {% endif %}
               </select>
               </div>
                    <label for="maxSize"  class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="cool down period">
                         and then wait for:
                    </label>

                    <div class="col-xs-2">
                    <div class="input-group">
                    {% if scaledownPolicies %}
                        {% with scaledownPolicies|first as first %}
                            <input class="form-control" name="scaleDownCooldownTime" required="true"
                            type="text" value="{{ first.coolDown }}"/>
                        {% endwith %}
                    {% else %}
                        <input class="form-control" name="scaleDownCooldownTime" required="true"
                            type="text" value=""/>
                    {% endif %}
                    <span class="input-group-addon">minutes</span>
                    </div>

                    </div>

                     <label for="maxSize" style="font-weight: normal !important" class="control-label col-xs-2">
                        before allowing another activity
                    </label>
                </div>
            </fieldset>
            {% csrf_token %}
            </form>
        </div>

        <div id="step-scaling" class="tabcontent">
            <h4>Step Scaling <sup><a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-scaling-simple-step.html" target="_blank">What is step scaling?</a></sup></h4>
            <form id="stepAutoscalingPolicyConfigFormId" class="form-horizontal" role="form" method="post" action="/groups/{{ group_name }}/autoscaling/update_policy/">
            <fieldset id="envConfigFieldSetId">
                <div class="form-group">
                    <label for="scalingType" class="deployToolTip control-label"
                        data-toggle="tooltip"
                        title="scalingType">
                        Adjustment Type:
                    </label>
                    
                    <select class="form-control" name="scalingType" required="true" id="scalingType" style="width: 250px;">
                        {% if stepScalingPolicy %}
                            {% if stepScalingPolicy.scalingType == "PercentChangeInCapacity" %}
                                <option value="PercentChangeInCapacity" selected>Percent Change In Capacity</option>
                                <option value="ChangeInCapacity">Change In Capacity</option>
                            {% else %}
                                <option value="ChangeInCapacity" selected>Change In Capacity</option>
                                <option value="PercentChangeInCapacity">Percent Change In Capacity</option>
                            {% endif %}
                        {% else %}
                            <option value="ChangeInCapacity">Change In Capacity</option>
                            <option value="PercentChangeInCapacity">Percent Change In Capacity</option>
                        {% endif %}
                    </select>

                    <div>
                        <label for="scaleUpSteps" class="deployToolTip control-label"
                            style="color:blue;"
                            data-toggle="tooltip"
                            title="Scale up Steps">
                            Scale up Steps
                        </label>
                        <p> (Must START with 0. Increasing sequence. E.g. 0, 10, 20 will create step1[0, 10], step2[10, 20], step3[20, positive-infinity])</p>
                    </div>
                    <div class="input-group">
                        {% if stepScalingPolicy and stepScalingPolicy.scale_up_steps_string %}
                            <input class="form-control" name="scaleUpSteps" required="true" size="50" type="text" value="{{ stepScalingPolicy.scale_up_steps_string }}">
                        {% else %}
                            <input class="form-control" name="scaleUpSteps" required="true" size="50" type="text" placeholder="example: 0, 10, 20, null">
                        {% endif %}
                    </div>

                    <div>
                        <label for="scaleUpAdjustments" class="deployToolTip control-label"
                            style="color:blue;"
                            data-toggle="tooltip"
                            title="Adjustments corresponds to scale up steps">
                            Scale up Adjustments
                        </label>
                        <p>(Adjustments for scale up steps. Must be 0 or <b>POSITIVE</b> integers. There must be an adjustment for each step. E.g. with step1[0, 10], step2[10, 20], step3[20, positive-infinity], you must provide 3 numbers here.)</p>
                    </div>
                    <div class="input-group">
                        {% if stepScalingPolicy and stepScalingPolicy.scale_up_adjustments_string %}
                            <input class="form-control" name="scaleUpAdjustments" required="true" size="50" type="text" value="{{ stepScalingPolicy.scale_up_adjustments_string }}">
                        {% else %}
                            <input class="form-control" name="scaleUpAdjustments" required="true" size="50" type="text" placeholder="example: 0, 10, 30">
                        {% endif %}
                    </div>

                    <div>
                        <label for="scaleDownSteps" class="deployToolTip control-label"
                            style="color:red;"
                            data-toggle="tooltip"
                            title="Scale down Steps">
                            Scale down Steps
                        </label>
                        <p>(Must END with 0. Increasing sequence. E.g. -20, -10, 0 will create step1[negative-infinity, -20], step2[-20, -10], step3[-10, 0])</p>
                    </div>
                    <div class="input-group">
                        {% if stepScalingPolicy and stepScalingPolicy.scale_down_steps_string %}
                            <input class="form-control" name="scaleDownSteps" required="true" size="50" type="text" value="{{ stepScalingPolicy.scale_down_steps_string }}">
                        {% else %}
                            <input class="form-control" name="scaleDownSteps" required="true" size="50" type="text" placeholder="example: -20, -10, 0">
                        {% endif %}
                    </div>
                  
                    <div>
                        <label for="scaleDownAdjustments" class="deployToolTip control-label"
                            style="color:red;"
                            data-toggle="tooltip"
                            title="Adjustments corresponds to scale down steps">
                            Scale down Adjustments
                        </label>
                        <p>(Adjustments for scale down steps. Must be 0 or <b>NEGATIVE</b> integers. There must be an adjustment for each step. E.g. with step1[negative-infinity, -20], step2[-20, -10], step3[-10, 0]), you must provide 3 numbers here.)</p>
                    </div>
                    <div class="input-group">
                        {% if stepScalingPolicy and stepScalingPolicy.scale_down_adjustments_string %}
                            <input class="form-control" name="scaleDownAdjustments" required="true" size="50" type="text" value="{{ stepScalingPolicy.scale_down_adjustments_string }}">
                        {% else %}
                            <input class="form-control" name="scaleDownAdjustments" required="true" size="50" type="text" placeholder="example: -30, -10, 0">
                        {% endif %}
                    </div>

                    <label for="minAdjustmentMagnitude" class="deployToolTip control-label"
                        data-toggle="tooltip"
                        title="The minimum value to scale by when the adjustment type is PercentChangeInCapacity">
                        Min Adjustment Magnitude (Only applied for PercentChangeInCapacity):
                    </label>
                    <div class="input-group">
                        {% if stepScalingPolicy and stepScalingPolicy.minAdjustmentMagnitude %}
                            <input class="form-control" name="minAdjustmentMagnitude" required="true" size="50" type="number" min="1" value="{{ stepScalingPolicy.minAdjustmentMagnitude }}">
                        {% else %}
                            <input class="form-control" name="minAdjustmentMagnitude" required="true" min="0" size="50" type="number" min="1" placeholder="1">
                        {% endif %}
                    </div>

                    <label for="instanceWarmup" class="deployToolTip control-label"
                        data-toggle="tooltip"
                        title="The estimated time, in minutes, until a newly launched instance can contribute to the CloudWatch metrics.">
                        Instance Warmup (minutes):
                    </label>
                    <div class="input-group">
                        {% if stepScalingPolicy and stepScalingPolicy.instanceWarmup %}
                            <input class="form-control" name="instanceWarmup" required="true" size="50" type="number" min="0" value="{{ stepScalingPolicy.instanceWarmup }}">
                        {% else %}
                            <input class="form-control" name="instanceWarmup" required="true" size="50" type="number" min="0" placeholder="0">
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            {% csrf_token %}
            </form>
        </div>

        <div id="target-tracking-scaling" class="tabcontent">
            <h4>Target Tracking Scaling <sup><a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-scaling-target-tracking.html" target="_blank">What is target tracking scaling?</a></sup></h4>
            <h5>(With target tracking scaling, you don't need to create alarms directly)</h5>
            
            <div>
                {% for policy in scalingPolicies %}
                    {% if policy.policyType == "TargetTrackingScaling" %}
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title pull-left pointer-cursor">
                            <a data-toggle="collapse" style="line-height:2.0;">
                                {{ policy.targetTrackingScalingConfiguration.predefinedMetricSpecification.predefinedMetricType }}
                            </a>
                        </h4>
                        <div>
                            <button id="deleteItem_{{ alarm.alarmId }}" type="button" style="float:right; margin-left:6px;" class="delete_button metricDeleteBtn btn btn-primary">Delete</button>
                        </div>
                    </div>

                        <form id="newTargetScalingEntryFormId" class="form-horizontal" method="post" role="form" action="/groups/{{ group_name }}/autoscaling/update_policy/">
                            <input type="hidden" id="policyType" name="policyType" value="TargetTracking">
                            
                            <div class="modal-body" id="newMetricModal">
                                <div class="form-group">
                                    <label for="value" class="deployToolTip control-label col-xs-2" data-toggle="tooltip">
                                        Target:
                                    </label>
                                    <div class="col-xs-2">
                                        <input class="form-control" name="target" required="true" type="text" value={{ policy.targetTrackingScalingConfiguration.targetValue }} />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="value" class="deployToolTip control-label col-xs-2" data-toggle="tooltip">
                                        Instance Warmup (>= 10 minutes recommended):
                                    </label>
                                    <div class="col-xs-2">
                                        <input class="form-control" name="instanceWarmup" required="true" type="text" value={{ policy.instanceWarmup }} />
                                    </div>
                                    <label class="deployToolTip control-label text-center col-xs-1">
                                        minutes.
                                    </label>
                                </div>

                                <div>
                                    <label class="switch" data-toggle="tooltip" title="Disable Scale in">
                                        Disable Scale In
                                        <input type="checkbox" id="disableScaleIn" name="disableScaleIn" {% if policy.targetTrackingScalingConfiguration.disableScaleIn %} checked {% endif %}>
                                        <div class="slider round"></div>
                                    </label>
                                </div>

                            </div>
                            {% csrf_token %}
                        </form>
                    {% endif %}

                    <script>
                        $(function() {
                            $('#deleteItem_{{alarm.alarmId}}').click(function () {
                                        var btn = $(this);
                                        $.ajax({
                                            type: 'POST',
                                            url: '/groups/{{ group_name }}/autoscaling/delete_metrics/',
                                            data: {'csrfmiddlewaretoken': '{{csrf_token}}',
                                                'alarmId': '{{alarm.alarmId}}'},
                                            datatype: 'json',
                                            beforeSend: function () {
                                                btn.button('loading');
                                            },
                                            success: function (data) {
                                                btn.button('reset');
                                                $("#asMetricsId").parent().html(data);
                                            }
                                        });
                            });
                        });
                    </script>
                {% endfor %}
            </div>

            <div class="modal fade" id="newTargetScalingEntryModalId" tabindex="-1" role="dialog" aria-labelledby="newTargetScalingEntryModalLabel"
aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form id="newTargetScalingEntryFormId" class="form-horizontal" method="post" role="form" action="/groups/{{ group_name }}/autoscaling/update_policy/">
                            <input type="hidden" id="policyType" name="policyType" value="TargetTracking">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="newEnvModalLabel">Add target tracking scaling policy</h4>
                            </div>
                            
                            <div class="modal-body" id="newMetricModal">
            
                                <div class="form-group">
                                    <label for="awsMetrics" class="deployToolTip control-label col-xs-2" data-toggle="tooltip"
                                        title="Select an Amazon CloudWatch metric">
                                        AWS Metric:
                                    </label>
                                    <div class="col-md-7">
                                        <select class="form-control" name="awsMetrics" v-model="metrics" @change="showWarningIfNeeded">
                                            <option value="ASGAverageCPUUtilization" selected>Average CPU Utilization</option>
                                            <option value="ASGAverageNetworkIn">Average Network In</option>
                                            <option value="ASGAverageNetworkOut">Average Network Out</option>
                                        </select>
                                    </div>
                                </div>
            
                                <div class="form-group">
                                    <label for="value" class="deployToolTip control-label col-xs-2" data-toggle="tooltip">
                                        Target:
                                    </label>
                                    <div class="col-xs-2">
                                        <input class="form-control" name="target" required="true" type="text" value="" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="value" class="deployToolTip control-label col-xs-2" data-toggle="tooltip">
                                        Instance Warmup (>= 10 minutes recommended):
                                    </label>
                                    <div class="col-xs-2">
                                        <input class="form-control" name="instanceWarmup" required="true" type="text" value="15" />
                                    </div>
                                    <label class="deployToolTip control-label text-center col-xs-1">
                                        minutes.
                                    </label>
                                </div>

                                <div>
                                    <label class="switch" data-toggle="tooltip" title="Disable Scale in">
                                        Disable Scale In
                                        {% comment %} <input type="checkbox" id="disableScaleIn" name="disableScaleIn" {% if auto_refresh_enabled %} checked {% endif %}> {% endcomment %}
                                        <input type="checkbox" id="disableScaleIn" name="disableScaleIn">
                                        <div class="slider round"></div>
                                    </label>
                                    <p><i>Indicates whether scaling in by the target tracking scaling policy is disabled. If scaling in is disabled, the target tracking scaling policy doesn't remove instances from the Auto Scaling group. Otherwise, the target tracking scaling policy can remove instances from the Auto Scaling group. The default is false .</i></p>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button id="addTargetScalingBtnId" type="submit" class="btn btn-primary">Add</button>
                                <button id="targetScalingModalCloseBtnId" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            openPolicy(event, 'simple-scaling');

            function openPolicy(evt, policyType) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");

                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                document.getElementById(policyType).style.display = "block";

                var asgAlarmElement = document.getElementById("asMetricsId")
                var asgAlarmButtonElement = document.getElementById("resetAsMetricsBtnDivId")
                var createTargetScalingButton = document.getElementById("addTargetScalingBtnId")
                
                console.log(asgAlarmElement)
                console.log(asgAlarmButtonElement)
                console.log(createTargetScalingButton)

                if (policyType == "target-tracking-scaling") {
                    createTargetScalingButton.style.display = "block"
                    asgAlarmElement.style.display = "none"
                    asgAlarmButtonElement.style.display = "none"
                }
                else {
                    asgAlarmElement.style.display = "block"
                    asgAlarmButtonElement.style.display = "block"
                    createTargetScalingButton.style.display = "none"
                }

                evt.currentTarget.className += " active";
            }

            function hello(event) {
                console.log("New button clicked")
                var newTargetScalingEntryModalElement = document.getElementById("newTargetScalingEntryModalId")
                $('#newTargetScalingEntryModalId').modal('show');
            }
        </script>
    </div>
</div>

<div class="panel-footer clearfix">
    <div class="pull-right">
        <button id="resetAsgPolicyBtnId" class="btn btn-default"
                data-loading-text="Reloading...">
            <span class="glyphicon glyphicon-refresh"></span> Reload
        </button>
        <button id="saveAsgPolicyBtnId" class="btn btn-primary"
                data-loading-text="Saving...">
            <span class="glyphicon glyphicon-floppy-save"></span> Save
        </button>
        <button id="addTargetScalingBtnId" onclick="hello(event)" class="btn btn-primary"
                data-loading-text="Creating..."> Add
        </button>
    </div>
</div>

<script>
    function validate() {
        policyForm = document.getElementById("simpleAutoscalingPolicyConfigFormId")
        policyType = "simple-scaling";

        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            if (tabcontent[i].style.display == "block") {
                policyType = tabcontent[i].id;
                break;
            }
        }

        if (policyType == "step-scaling") {
            policyForm = document.getElementById("stepAutoscalingPolicyConfigFormId");
        }

        var btn = $(this);
        $.ajax({
            type: 'POST',
            url: '/groups/{{ group_name }}/autoscaling/update_policy/',
            data: $('#' + policyForm.id).serialize() + "&policyType=" + policyType,
            dataType: 'json',
            beforeSend: function () {
                btn.button('loading');
            },
            success: function (data) {
                if(data != null && data.success == false) {
                    $('#errorBannerId').append(data.error);
                    $('#errorBannerId').show();
                } else {
                    $("#autoscalingPolicyId").parent().html(data);
                    $('#errorBannerId').empty().hide();
                }
                btn.button('reset');
            },
            error: function (data) {
                $('#errorBannerId').append(data.responseText);
                $('#errorBannerId').show();
            }
        });
    }

    const saveAsgPolicyBtnElement = document.getElementById("saveAsgPolicyBtnId");
    saveAsgPolicyBtnElement.addEventListener("click", validate);

    console.log("Hello Khoi")

    $(function () {
        $('#saveAsgPolicyBtnId').attr('disabled','disabled');
        $('#resetAsgPolicyBtnId').attr('disabled','disabled');

        $('#autoscalingPolicyId input').keyup(function() {
            $('#saveAsgPolicyBtnId').removeAttr('disabled');
            $('#resetAsgPolicyBtnId').removeAttr('disabled');
        });

        $('#autoscalingPolicyId select').change(function() {
            $('#saveAsgPolicyBtnId').removeAttr('disabled');
            $('#resetAsgPolicyBtnId').removeAttr('disabled');
        });

        $('#autoscalingPolicyId input').change(function() {
            $('#saveAsgPolicyBtnId').removeAttr('disabled');
            $('#resetAsgPolicyBtnId').removeAttr('disabled');
        });

        $('#resetAsgPolicyBtnId').click(function () {
            var btn = $(this);
            $.ajax({
                type: 'GET',
                url: '/groups/{{ group_name }}/autoscaling/get_asg_policy/',
                beforeSend: function () {
                    btn.button('loading');
                },
                success: function (data) {
                    btn.button('reset');
                    $("#autoscalingPolicyId").parent().html(data);
                }
            });
        });
    });
</script>
