{% load utils %}
{% include "panel_heading.tmpl" with panel_title="Group Launch Configuration" panel_body_id="launchConfigId" direction="down" %}
<div class="panel-heading clearfix">
<table><tr><th class="col-lg-2">
<span class="pointer-cursor glyphicon fa fa-spinner fa-spin fa-lg"  data-toggle="tooltip">
    </span>
<h5>Loading default launch configurations....</h5>

</th></tr>
</table>
</div>
