<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Deletion Confirm</h4>
</div>
<div class="modal-body">
<span class="pointer-cursor glyphicon fa fa-spinner fa-spin fa-lg"  data-toggle="tooltip">
    </span>
<h5>Remove auto scaling group....</h5>
</div>
