{%load utils %}
<select class="form-control" name="imageId" required="true">
{% for image in aws_images %}
{% if image.provider_name == curr_image_id %}
    <option value="{{ image.provider_name }}" selected>{{ image|genImageInfo }}</option>
{% else %}
    <option value="{{ image.provider_name }}">{{ image|genImageInfo }}</option>
{% endif %}
{% endfor %}
</select>
<script>
    $('#launchConfigIdFormId select').change(function() {
        $('#saveLaunchConfigBtnId').removeAttr('disabled');
        $('#resetLaunchConfigBtnId').removeAttr('disabled');
    });
</script>
