{%load utils %}
<select class="form-control" name="imageId" required="true">
{% for image in aws_images %}
{% if image.id == curr_image_id %}
    <option value="{{ image.id }}" selected>{{ image|genImageInfo }}</option>
{% else %}
    <option value="{{ image.id }}">{{ image|genImageInfo }}</option>
{% endif %}
{% endfor %}
</select>
<script>
    $('#launchConfigIdFormId select').change(function() {
        $('#saveGroupConfigBtnId').removeAttr('disabled');
        $('#resetGroupConfigBtnId').removeAttr('disabled');
    });
</script>