{% load utils %}
{% include "panel_heading.tmpl" with panel_title="Advanced Configurations" panel_body_id="groupConfigId" direction="down" %}
<div id="groupConfigId" class="collapse in panel-body">
    <div class="container-fluid">
        <form id="groupConfigIdFormId" class="form-horizontal" role="form">
            <fieldset id="envConfigFieldSetId">
                <div class="form-group">
                    <label for="chatroom" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Slack channel where to send autoscaling notifications, e.g. room1,room2">
                        Slack Channels
                    </label>
                    <div class="col-xs-4">
                        <input class="form-control" name="chatroom" required="false"
                               type="text" value="{{ config.chatroom |default_if_none:'' }}"/>
                    </div>

                    <label for="chatRecipients" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Slack users to send autoscaling notifications, e.g. user1,user2">
                        Slack Users
                    </label>
                    <div class="col-xs-4">
                        <input class="form-control" name="watch_recipients" required="false"
                               type="text" value="{{ config.watchRecipients | default_if_none:'' }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailRecipients" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Email addressses to send autoscaling and health check notifications, e.g. user1@email.com,user2@email.com">
                        Email Recipients
                    </label>
                    <div class="col-xs-4">
                        <input class="form-control" name="email_recipients" required="false"
                               type="text" value="{{ config.emailRecipients |default_if_none:'' }}"/>
                    </div>

                    <label for="pagerRecipients" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Pager email addressses to send health check alert, e.g. user1@email.com,user2@email.com">
                        Pager Recipients
                    </label>
                    <div class="col-xs-4">
                        <input class="form-control" name="pager_recipients" required="false"
                               type="text" value="{{ config.pagerRecipients | default_if_none:'' }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="healthcheck_state" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Whether or not to enable health check">
                        Enable Health Check
                    </label>
                    <div class="col-xs-4">
                        <div class="input-group">
                        {% if config.healthcheckState %}
                            <input class="" id="healthcheck_state" name="healthcheck_state" type="checkbox" value="" checked>
                        {% else %}
                            <input class="" id="healthcheck_state" name="healthcheck_state" type="checkbox" value="">
                        {% endif %}
                        <span class="input-group-btn">
                            <button id="healthCheckExpressionId" class="deployToolTip btn btn-default"
                                    type="button" data-toggle="tooltip"
                                    title="click for more information on health check">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                        </span>
                        </div>
                    </div>

                    <label for="healthcheck_period" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Schedule a new health check every x minutes">
                        Health Check Interval
                    </label>
                    <div class="col-xs-4">
                        <div class="input-group">
                        <input class="form-control" name="healthcheck_period" required="true"
                               type="text" value="{{ config.healthcheckPeriod|default_if_none:'10' }}"/>
                        <span class="input-group-addon">Minutes</span>
                        </div>
                    </div>
                </div>
                <div class="form-group collapse" id="healthCheckExpressionDetailsId">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-10">
                        <b>Health Check</b> is used to check the health of auto scaling and your service.
                         By enabling the checkbox, it will start health checks periodically based on the health check interval.
                         If this TIME triggered health check failed, it will stop scaling down and send you notifications. <br>
                         You can see health check activities <a href="/groups/{{ group_name }}/health_check_activities/">here</a>.
                        </div>
                </div>
                <div class="form-group">
                    <label for="lifecycle_state" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Whether or not to enable lifecycle hook">
                        Enable Lifecycle Hook
                    </label>
                    <div class="col-xs-4">
                        <div class="input-group">
                        {% if config.lifecycleState %}
                            <input class="" id="lifecycle_state" name="lifecycle_state" type="checkbox" value="" checked>
                        {% else %}
                            <input class="" id="lifecycle_state" name="lifecycle_state" type="checkbox" value="">
                        {% endif %}
                        <span class="input-group-btn">
                            <button id="lifecycleExpressionId" class="deployToolTip btn btn-default"
                                    type="button" data-toggle="tooltip"
                                    title="click for more information on lifecycle hook">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                        </span>
                        </div>
                    </div>

                    <label for="lifecycle_timeout" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Force to terminate the host if shutdown runtime exceeds x minutes">
                        Lifecycle Timeout
                    </label>
                    <div class="col-xs-4">
                        <div class="input-group">
                            <input class="form-control" name="lifecycle_timeout" required="true" min="0" max="120"
                                type="number" value="{{ config.lifecycleTimeout|default_if_none:10 }}"/>
                            <span class="input-group-addon">Minutes</span>
                        </div>
                    </div>
                </div>
                <div class="form-group collapse" id="lifecycleExpressionDetailsId">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-10">
                        <b>Lifecycle Hook</b> is used to work on gracefully shutdown processes.
                        When you enabled this hook, Teletraan will execute the STOP script you provided.
                        After the script is executed completely, Teletraan will proceed to terminate the host.
                        </div>
                </div>
                <div class="form-group">
                    <label for="launchLatencyTh" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="The length of time that the launch latency should not exceed. The grace period begins when an instance is created.">
                        Launch Grace Period
                    </label>
                    <div class="col-xs-4">
                        <div class="input-group">
                        <input class="form-control" name="launch_latency_th" required="true"
                               type="text" value="{{ config.launchLatencyTh }}"/>
                        <span class="input-group-addon">Minutes</span>
                        </div>
                    </div>
                    <label for="lifecycle_notifications" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Receive email notifications for lifecycle events">
                        Instance Launch Notification
                    </label>
                    <div class="col-xs-4">
                        <div class="input-group">
                        {% if config.lifecycleNotifications %}
                            <input class="" id="lifecycle_notifications" name="lifecycle_notifications" type="checkbox" value="" checked>
                        {% else %}
                            <input class="" id="lifecycle_notifications" name="lifecycle_notifications" type="checkbox" value="">
                        {% endif %}
                        <span class="input-group-btn">
                            <button id="notificationsExpressionId" class="deployToolTip btn btn-default"
                                    type="button" data-toggle="tooltip"
                                    title="click for more information on lifecycle notifications">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="form-group collapse" id="notificationExpressionDetailsId">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-10">
                        <b>Lifecycle Notifications</b> are used to notify service owners when a host working
                        on their service is launched/terminated. An email and slack message (if available)
                        detailing the event will be sent out.
                        </div>
                </div>
                <div class="form-group">
                    <label for="load_balancers" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Enter the name of load balancers to attach to this autoscaling group">
                        Classic Load Balancers
                    </label>
                    <div class="col-xs-4">
                        <div class="input-group">
                            <input class="form-control" id="load_balancers" name="load_balancers" required="false"
                                   type="text" value="{{ config.loadBalancers |default_if_none:'' }}"/>
                            <span class="input-group-btn">
                                <button id="loadbalancersExpressionId" class="deployToolTip btn btn-default"
                                        type="button" data-toggle="tooltip"
                                        title="click for more information on load balancers">
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <label for="runbook_link" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Enter the link to the runbook need for any any healthcheck failure alerts">
                        Runbook Link
                    </label>
                    <div class="col-xs-4">
                        <div class="input-group">
                            <input class="form-control" id="runbook_link" name="runbook_link" required="false"
                                type="text" value="{{ config.runbookLink |default_if_none:'' }}"/>
                            <span class="input-group-btn">
                                <button id="runbooklinkExpressionId" class="deployToolTip btn btn-default"
                                        type="button" data-toggle="tooltip"
                                        title="click for more information on the runbook link">
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group collapse" id="loadbalancersExpressionDetailsId">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-10">
                        Please enter the load balancers you would like to attach to this group seperated by commas.
                        </div>
                </div>
                <div class="form-group collapse" id="runbooklinkExpressionDetailsId">
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-4">
                    Please enter the runbook link that you would like to attach to health check failure messages.
                    </div>
                </div>
                <div class="form-group">
                    <label for="target_groups" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Enter the name of target group arns to attach to this autoscaling group">
                        Target Group ARNs
                    </label>
                    <div class="col-xs-10">
                        <div class="input-group">
                            <input class="form-control" id="target_groups" name="target_groups" required="false"
                                   type="text" value="{{ config.targetGroups |default_if_none:'' }}"/>
                            <span class="input-group-btn">
                                <button id="targetgroupsExpressionId" class="deployToolTip btn btn-default"
                                        type="button" data-toggle="tooltip"
                                        title="click for more information on target groups">
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group collapse" id="targetgroupsExpressionDetailsId">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-10">
                        Please enter the target group ARNs you would like to attach to this autoscaling group seperated by commas.
                        </div>
                </div>
            </fieldset>
            {% csrf_token %}
        </form>
    </div>
</div>
<div class="panel-footer clearfix">
    <div class="pull-right">
        <button id="resetGroupConfigBtnId" class="btn btn-default"
                data-loading-text="Reloading...">
            <span class="glyphicon glyphicon-refresh"></span> Reload
        </button>
        <button id="saveGroupConfigBtnId" class="btn btn-primary"
                data-loading-text="Saving...">
            <span class="glyphicon glyphicon-floppy-save"></span> Save
        </button>
    </div>
</div>

<script>


    $(function () {
        $(".chosen-select").chosen({"width": "100%"});
        $('#saveGroupConfigBtnId').attr('disabled','disabled');
        $('#resetGroupConfigBtnId').attr('disabled','disabled');

        $('#groupConfigIdFormId input').keyup(function() {
            $('#saveGroupConfigBtnId').removeAttr('disabled');
            $('#resetGroupConfigBtnId').removeAttr('disabled');
        });

        $('#groupConfigIdFormId input:checkbox').click(function() {
            $('#saveGroupConfigBtnId').removeAttr('disabled');
            $('#resetGroupConfigBtnId').removeAttr('disabled');
        });

        $('#groupConfigIdFormId textarea').keyup(function() {
            $('#saveGroupConfigBtnId').removeAttr('disabled');
            $('#resetGroupConfigBtnId').removeAttr('disabled');
        });


        $('#saveGroupConfigBtnId').click(function () {
            var btn = $(this);
            $.ajax({
                type: 'POST',
                url: '/groups/{{ group_name }}/autoscaling/update_group_config/',
                data: $("#groupConfigIdFormId").serialize(),
                dataType: 'json',
                beforeSend: function () {
                    btn.button('loading');
                },
                success: function (data) {
                    if(data != null && data.success == false) {
                        $('#errorBannerId').append(data.error);
                        $('#errorBannerId').show();
                    } else {
                        $("#groupConfigId").parent().html(data);
                        $('#errorBannerId').empty().hide();
                    }
                    btn.button('reset');
                },
                error: function (data) {
                    $('#errorBannerId').append(data.responseText);
                    $('#errorBannerId').show();
                }
            });
        });

        $('#resetGroupConfigBtnId').click(function () {
            var btn = $(this);
            $.ajax({
                type: 'GET',
                url: '/groups/{{ group_name }}/autoscaling/get_group_config/',
                beforeSend: function () {
                    btn.button('loading');
                },
                success: function (data) {
                    btn.button('reset');
                    $("#launchConfigId").parent().html(data);
                }
            });
        });



        $("#healthCheckExpressionId").click(function() {
            $("#healthCheckExpressionDetailsId").collapse('toggle');

        });

        $("#lifecycleExpressionId").click(function() {
            $("#lifecycleExpressionDetailsId").collapse('toggle');
        });

        $("#notificationsExpressionId").click(function() {
            $("#notificationExpressionDetailsId").collapse('toggle');
        });
        $("#loadbalancersExpressionId").click(function() {
            $("#loadbalancersExpressionDetailsId").collapse('toggle');
        });
        $("#targetgroupsExpressionId").click(function() {
            $("#targetgroupsExpressionDetailsId").collapse('toggle');
        });
        $("#runbooklinkExpressionId").click(function() {
            $("#runbooklinkExpressionDetailsId").collapse('toggle');
        });
    });
</script>
