<div id="groupInfoId" class="panel panel-default">
  <table class="table table-striped table-condensed table-hover">
    <tr>
        <th class="col-lg-1">Instance Type</th>
        <th class="col-lg-1">Security Group</th>
        <th class="col-lg-1">Min Size</th>
        <th class="col-lg-1">Max Size</th>
        <th class="col-lg-1">Fleet Size</th>
        <th class="col-lg-1">Auto Scaling Status</th>
    </tr>
    <tr>
        <td>{{ instance_type }}</td>
        <td>{{ security_group }}</td>
        {% if has_spot_group %}
        <td>{{ asg.minSize }} ({{spot_asg.minSize}})</td>
        <td>{{ asg.maxSize }} ({{spot_asg.maxSize}})</td>
        <td> {{ fleet_size }} ({{spot_size}}) </td>
        {% else %}
        <td>{{ asg.minSize }}</td>
        <td>{{ asg.maxSize }}</td>
        <td>{{ fleet_size }}</td>
        {% endif %}
        <td>{{ asg_status }}</td>
    </tr>
  </table>
</div>

{% if asg_hosts %}
<div class="panel panel-default table-responsive">
    <table class="table table-condensed table-hover">
        <tr class="row">
            <td class="col-lg-2">
                <span class="deployToolTip" data-toggle="tooltip"
                   title="New hosts being installed for the first time">
                <small>Hosts in  on demand auto scaling group</small>
                </span>
            </td>

            <td class="col-lg-10">
        {% for host in asg_hosts %}
           <a type="button" class="deployToolTip btn btn-xs btn-default host-btn" href="/groups/{{group_name}}/host/{{host}}/">
           <small>{{ host }}</small>
           <i class="fa fa-fw fa-check"></i></a>
        {% endfor %}
    <br><br>
    </td>
    </tr>
    </table>
</div>
{% endif %}
{% if spot_asg_hosts %}
<div class="panel panel-default table-responsive">
    <table class="table table-condensed table-hover">
        <tr class="row">
            <td class="col-lg-2">
                <span class="deployToolTip" data-toggle="tooltip"
                   title="New hosts being installed for the first time">
                <small>Hosts in spot auto scaling group</small>
                </span>
            </td>

            <td class="col-lg-10">
        {% for host in spot_asg_hosts %}
           <a type="button" class="deployToolTip btn btn-xs btn-default host-btn" href="/groups/{{group_name}}/host/{{host}}/">
           <small>{{ host }}</small>
           <i class="fa fa-fw fa-check"></i></a>
        {% endfor %}
    <br><br>
    </td>
    </tr>
    </table>
</div>
{% endif %}
{% if other_hosts %}
<div class="panel panel-default table-responsive">
    <table class="table table-condensed table-hover">
        <tr>
            <td class="col-lg-2">
                <span class="deployToolTip" data-toggle="tooltip"
                   title="New hosts being installed for the first time">
                <small>{%if asg_hosts %} Other hosts {% else %} Hosts {% endif %}in the group</small>
                </span>
            </td>
            <td class="col-lg-10">
                <small>
                    {% for other_host in other_hosts %}
                        <a type="button" class="deployToolTip btn btn-xs btn-default host-btn" href="/groups/{{group_name}}/host/{{host}}/"
                           title="">
                           <small>{{ other_host }}</small>
                           <i class="fa fa-fw fa-check"></i>
                        </a>
                    {% endfor %}
                </small>
            </td>
        </tr>
    </table>
</div>
{% endif %}
