{% load utils %}
{% load static %}
<div class="row">
<ul class="list-group">
    {% for env in envs %}
        <a href="/env/{{ env.envName }}/{{ env.stageName }}" class="list-group-item">{{ env.envName }}/{{ env.stageName }}</a>
    {% endfor%}
</ul>
</div>
