{% extends 'groups/group_base.html' %}

{% load utils %}
{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/groups/">Groups</a></li>
    <li>{{ group_name }}</li>
</ul>
{% endblock %}

{% block side-panel %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Groups</h4>
    </div>
	<div class="row">
        <a type="button" href="/groups/"
                class="deployToolTip btn btn-default btn-block"
            data-toggle="tooltip" title="List all existing groups">
            <span class="glyphicon glyphicon-leaf"></span> List All Groups
        </a>
    </div>
    {% if asg_status|hasScalingActivities %}
	<div class="row">
        <a type="button" href="/groups/{{ group_name }}/scaling_activities/"
                class="deployToolTip btn btn-default btn-block"
            data-toggle="tooltip" title="List all scaling activities for the group in the past.">
            <span class="glyphicon glyphicon-calendar"></span> Scaling Activities
        </a>
    </div>
    <div class="row">
        <a type="button" href="/groups/{{ group_name }}/health_check_activities/"
                class="deployToolTip btn btn-default btn-block"
            data-toggle="tooltip" title="List all health checkss for the group in the past.">
            <span class="glyphicon glyphicon-heart-empty"></span> Health Check Activities
        </a>
    </div>
    {% endif %}
    <div class="row">
        <button id="launchInstance" class="deployToolTip btn btn-default btn-block"
            data-toggle="modal" title="Launch Instances">
            <span class="glyphicon glyphicon-plus-sign"></span> Launch Instance
        </button>
    </div>
    <div class="row">
        <button id="terminateAllHosts" class="deployToolTip btn btn-default btn-block"
            data-toggle="modal" title="Terminate All Hosts">
            <span class="glyphicon glyphicon-remove"></span> Terminate All Hosts
        </button>
    </div>
	<div class="row">
        <a type="button" href="/groups/{{ group_name }}/config/"
                class="deployToolTip btn btn-default btn-block"
            data-toggle="tooltip" title="Config current group.">
            <span class="glyphicon glyphicon-cog"></span>  Configuration
        </a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Environments</h4>
    </div>
    <div id="EnvsId">
    </div>
</div>

{% endblock %}

{% block main %}
<!---- Group Metrics Panel --->
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left pointer-cursor">
            <a data-toggle="collapse" data-target="#metricStatId">
                <span id="groupStatsToggler"
                      class="glyphicon glyphicon-chevron-down">
                </span>
                Group Metrics
            </a>
        </h4>
    </div>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["corechart"]});
    </script>

    <div id="metricStatId" class="collapse in panel-body">
        <div align="center" id="groupStatsId" class="collapse in panel-body">
            <div id="container" class="chartContainer">
                <div id="line_latencystats"></div>
                <div id="launch_rate_id"></div>
                {% include "groups/latency_stats.tmpl" %}
                {% include "groups/launch_rate.tmpl" %}

                {% if pas_enabled == 'ENABLED' %}
                <div id="pas_stats_id"></div>
                {% include "groups/pas_stats.tmpl" %}
                {% endif %}

                <style>
                .chartContainer>div {
                    width:550px;
                    height:350px;
                    display:inline-block;
                }
                </style>
            </div>
            <div id="loadGroupInfo"></div>
        </div>
        <div align="left" id="tsdLinksId">
            <a type="button" class="deployToolTip btn btn-xs" data-toggle="tooltip"
                href="{{group_size_url}}"
                title="" data-original-title="Click to see more group size information in TSDB">
                <strong>Group Size</strong>
            </a>
            {% for env in envs %}

                <a type="button" class="deployToolTip btn btn-xs" data-toggle="tooltip"
                    href="{{env.launchlatencylink}}"
                    title="" data-original-title="Click to see more launch latency information in TSDB">
                    <strong>Launch Latency for {{ env.envName }}</strong>
                </a>
                <a type="button" class="deployToolTip btn btn-xs" data-toggle="tooltip"
                    href="{{env.deploylatencylink}}"
                    title="" data-original-title="Click to see more deploy latency information in TSDB">
                <strong>Deploy Latency for {{ env.envName }}</strong>
                <a type="button" class="deployToolTip btn btn-xs" data-toggle="tooltip"
                    href="{{env.deployfailedlink}}"
                    title="" data-original-title="Click to see more launch failed count information in TSDB">
                <strong>Launch failed count for {{ env.envName }}</strong>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<!--- launch instances button dialog-->
{% if messages %}
    {% for message in messages %}
        {% if message.level == 40 %}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> {{ message | safe}}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Launch Succeeded!</strong> {{ message | safe}}
            </div>
        {% endif %}

    {% endfor %}
{% endif %}

<!---- Group Details Panel --->
{% if not scaling_down_event_enabled and asg_status == "ENABLED" %}
<div class="panel panel-warning">
{% elif asg_status == "DISABLED" %}
<div class="panel panel-danger">
{% else %}
<div class="panel panel-default">
{% endif %}
   <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left pointer-cursor">
            <a data-toggle="collapse" data-target="#groupDetailsDivId">
                <span id="groupDetailsDivIdToggler"
                    class="glyphicon glyphicon-chevron-down">
                </span>
                {% if not scaling_down_event_enabled and asg_status == "ENABLED" %}
                    Group Information (Scaling down is disabled. Scale up can still happen)
                {% elif asg_status == "DISABLED" %}
                    Group Information (Auto Scaling is disabled)
                {% else %}
                    Group Information
                {% endif %}
            </a>
        </h4>

        <!---- Buttons --->
        {% if not scaling_down_event_enabled and asg_status == "ENABLED" %}
            <div class="btn-group pull-right">
                <button type="button" class="deployToolTip btn btn-default btn-sm"
                        data-toggle="modal" data-target="#enableScalingDownModelId"
                        title="Start Scaling Down Event">
                <span class="glyphicon glyphicon-play"></span> Start Scaling Down
                </button>
            </div>
        {% elif asg_status == "ENABLED" %}
            <div class="btn-group pull-right">
                <button type="button" class="deployToolTip btn btn-default btn-sm"
                        data-toggle="modal" data-target="#disableScalingDownModelId"
                        title="Stop Scaling Down Event">
                <span class="glyphicon glyphicon-pause"></span> Stop Scaling Down
                </button>
            </div>
        {% endif %}
        {% if asg_status == "DISABLED" and not disallow_autoscaling %}
            <div class="btn-group pull-right">
                <button type="button" class="deployToolTip btn btn-default btn-sm"
                        data-toggle="modal" data-target="#resumeAutoScalingModalId"
                        title="Enable the auto scaling group">
                <span class="glyphicon glyphicon-play"></span> Enable Auto Scaling
                </button>
            </div>
        {% elif asg_status == "ENABLED" %}
            <div class="btn-group pull-right">
                <button type="button" class="deployToolTip btn btn-default btn-sm"
                        data-toggle="modal" data-target="#disableAutoScalingModalId"
                        title="Disable the auto scaling group">
                <span class="glyphicon glyphicon-stop"></span> Disable Auto Scaling
                </button>
            </div>
        {% endif %}
   </div>


   <div id="groupInfoDivId" class="collapse in panel-body">
   </div>
</div>
{% if asg_status|hasScalingActivities %}
    <div class="panel panel-default">
        <div id="scalingDivid" class="panel-heading clearfix">
            <h4 class="panel-title pull-left pointer-cursor">On demand auto scaling group activities</h4>
       </div>
        <div id="scalingActivityDivid" class="collapse in panel-body">
        </div>
    </div>
    {%  if enable_spot %}
    <div class="panel panel-default">
        <div id="spotScalingDivid" class="panel-heading clearfix">
            <h4 class="panel-title pull-left pointer-cursor">Spot auto scaling group activities</h4>
       </div>
       <div id="spotScalingActivityDivId" class="collaps in panel-body">
       </div>
    </div>
    {% endif %}
{% endif %}


<!--- launch instances button dialog-->
<div class="modal fade" id="addNewInstancesModalId" tabindex="-1" role="dialog" aria-labelledby="newInstanceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form id="addInstanceFormId" class="form-horizontal" role="form" method="post" action="/groups/{{ group_name }}/add_instance/">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Launch Confirm</h4>
                </div>
                <div class="modal-body" id="newMetricModal">
                    <div class="form-group">
                        <label class="deployToolTip control-label text-center col-xs-6">
                            Number of instances:
                        </label>
                        <div class="control-label col-md-4">
                            <input class="form-control" name="instanceCnt" required="true" type="number" min="1" max="2000" value=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class ="col-md-12" id="config_div_id"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addMetricBtnId" type="submit" class="btn btn-primary">Launch</button>
                    <button id="modalCloseBtnId" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                {% csrf_token %}
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--- terminate hosts modal-->
<div class="modal fade" id="terminateAllHostsModalId" tabindex="-1" role="dialog" aria-labelledby="terminateAllHostsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form id="terminateAllHostsFormId" class="form-horizontal" role="form" method="delete" action="/groups/{{ group_name }}/terminate/all">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Terminate All Hosts</h4>
                </div>
                <div class="modal-body" id="newMetricModal">
                    <h4 style="color: darkred;"> <span class="glyphicon glyphicon-warning-sign"></span> Do you wish to terminate all hosts in this group ?</h4>
                    <br>
                    <h4> Warning</h4>
                    <p> This will only delete the hosts. Not the group.</p>
                    <p> If auto scaling is set up, this will re launch the hosts to manage capacity</p>
                </div>
                <div class="modal-footer">
                    <button id="addMetricBtnId" type="submit" class="btn btn-primary">Terminate</button>
                    <button id="modalCloseBtnId" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                {% csrf_token %}
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--- Enable Scaling Down event button dialog-->
<div class="modal fade" id="enableScalingDownModelId" tabindex="-1" role="dialog"
     aria-labelledby="enableScalingDownModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Starting Scaling Down Confirm</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to start scaling down event?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a type="button" href="/groups/{{ group_name }}/scaling_down/enable/"
                    class="btn btn-primary">Start</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--- Disable Scaling Down event button dialog-->
<div class="modal fade" id="disableScalingDownModelId" tabindex="-1" role="dialog"
     aria-labelledby="disableScalingDownModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Stopping Scaling Down Confirm</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to stop scaling down event?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a type="button" href="/groups/{{ group_name }}/scaling_down/disable/"
                    class="btn btn-primary">Stop</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--- Enable Auto Scaling button dialog-->
<div class="modal fade" id="resumeAutoScalingModalId" tabindex="-1" role="dialog"
     aria-labelledby="confirmDeployModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Enable Confirm</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure to enable auto scaling on the group?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a type="button" href="/groups/{{ group_name }}/resume_asg"
           class="btn btn-primary">Enable</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--- Disable Auto Scaling button dialog-->
<div class="modal fade" id="disableAutoScalingModalId" tabindex="-1" role="dialog"
     aria-labelledby="confirmDeployModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Disable Confirm</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure to disable auto scaling on this group?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a type="button" href="/groups/{{ group_name }}/disable_asg"
           class="btn btn-primary">Disable</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="launchWarningModalId" tabindex="-1" role="dialog"
     aria-labelledby="launchWarningModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Cannot Launch New Host</h4>
      </div>
      <div class="modal-body">
        <strong>Warning!</strong> An instance cannot be launched. Please update the <a href="https://deploy.pinadmin.com/groups/{{ group_name }}/config/">Group Launch Configuration</a> before launching hosts! Please make sure to fill out the IAM role and subnets.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(function() {
        $.get("/groups/{{ group_name }}/group_info/", function(response) {
           $("#groupInfoDivId").html(response.html)
        });
        $.get("/groups/{{ group_name }}/scaling_activity/", function(response){
           $("#scalingActivityDivid").html(response.html)
        });

        $.get("/groups/{{ group_name }}-spot/scaling_activity/", function(response) {
            $("#spotScalingActivityDivId").html(response.html)
        });
        $('#EnvsId').load('/groups/{{ group_name }}/envs/');

        $.get("/groups/{{ group_name }}/group_size/", function(response) {
            $("#loadGroupInfo").html(response.html)
        })
    });

    $("#launchInstance").click(function () {
        {% if group_info and launch_config and launch_config.subnets %}
        $("#addNewInstancesModalId").modal();
        {% else %}
        $("#launchWarningModalId").modal();
        {% endif %}
    });

    $('#terminateAllHosts').click(function () {
        $('#terminateAllHostsModalId').modal();
    });

    $(document).ready(function() {
        var config_url = "/aws_info/get_configs/?group_name={{ group_name }}";
        $.get(config_url, function(response) {
            $("#config_div_id").html(response);
        });
    });
</script>
{% endblock %}
