{% extends 'environs/env_base.html' %}
{% load utils %}
{% load static %}

{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/groups/">Groups</a></li>
    <li><a href="/groups/{{ group_name }}/">{{ group_name }}</a></li>
    <li>Health Check Activities</li>
</ul>
{% endblock %}

{% block side-panel-actions %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Groups</h4>
    </div>
    <div class="row">
        <a id="listGroupsBtnId" href="/groups/{{ group_name }}/" class="deployToolTip btn btn-default btn-block">
            <span class="glyphicon glyphicon-asterisk"></span> Current Status
        </a>
    </div>
	<div class="row">
        <a type="button" href="/groups/{{ group_name }}/config/"
            class="deployToolTip btn btn-default btn-block" data-toggle="tooltip">
            <span class="glyphicon glyphicon-cog"></span> Configuration
        </a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Environments</h4>
    </div>
    <div id="EnvsId">
    </div>
</div>
{% endblock %}

{% block new-builds-panel %}
{% endblock %}
{% block new-pred-deploys-panel %}
{% endblock %}

{% block main %}

{% if not scaling_down_event_enabled and asg_status == "ENABLED" %}
<div class="panel panel-warning">
{% elif asg_status == "DISABLED" %}
<div class="panel panel-danger">
{% else %}
<div class="panel panel-default">
{% endif %}
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">
            {% if not scaling_down_event_enabled and asg_status == "ENABLED" %}
                Health Check Activities  (Scaling down is disabled. Scale up can still happen)
            {% elif asg_status == "DISABLED" %}
                Health Check Activities (Auto Scaling is disabled)
            {% else %}
                Health Check Activities
            {% endif %}
        </h4>

         <!---- Buttons --->
        {% if not scaling_down_event_enabled and asg_status == "ENABLED" %}
            <div class="btn-group pull-right">
                <button type="button" class="deployToolTip btn btn-default btn-sm"
                        data-toggle="modal" data-target="#enableScalingDownModelId"
                        title="Enable Scaling Down Event">
                <span class="glyphicon glyphicon-play"></span> Start Scaling Down
                </button>
            </div>
        {% elif asg_status == "ENABLED" %}
            <div class="btn-group pull-right">
                <button type="button" class="deployToolTip btn btn-default btn-sm"
                        data-toggle="modal" data-target="#disableScalingDownModelId"
                        title="Disable Scaling Down Event">
                <span class="glyphicon glyphicon-pause"></span> Stop Scaling Down
                </button>
            </div>
        {% endif %}
        <div class="btn-group pull-right">
            <button type="button" class="deployToolTip btn btn-default btn-sm"
                    data-toggle="modal" data-target="#addHealthCheckModelId"
                    title="Manually create a new Health Check ">
            <span class="glyphicon glyphicon-plus"></span> Create a health check
            </button>
        </div>
    </div>
    <div class="panel-body table-responsive">
        {% include "groups/health_check_activities.tmpl" %}
        {% if health_checks|length >= 2 %}
            <ul class="pager">
                <li>
                    <a href='/groups/{{ group_name }}/health_check_activities/?page_index={{ pageIndex|add:"-1" }}&page_size={{ pageSize }}'
                       class="btn btn-default {% if disablePrevious %}disabled{% endif %}">
                        <span class="glyphicon glyphicon-chevron-left"></span> Previous
                    </a>
                </li>
                <li>
                    <a href='/groups/{{ group_name }}/health_check_activities/?page_index={{ pageIndex|add:"1" }}&page_size={{ pageSize }}'
                       class="btn btn-default {% if disableNext %}disabled{% endif %}">
                        Next <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>

<!--- Enable Scaling Down event button dialog-->
<div class="modal fade" id="enableScalingDownModelId" tabindex="-1" role="dialog"
     aria-labelledby="enableScalingDownModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Starting Scaling Down Confirm</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to start scaling down event?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a type="button" href="/groups/{{ group_name }}/scaling_down/enable/"
                    class="btn btn-primary">Start</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--- Disable Scaling Down event button dialog-->
<div class="modal fade" id="disableScalingDownModelId" tabindex="-1" role="dialog"
     aria-labelledby="disableScalingDownModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Stopping Scaling Down Confirm</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to stop scaling down event?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a type="button" href="/groups/{{ group_name }}/scaling_down/disable/"
                    class="btn btn-primary">Stop</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--- Create new Health check dialog -->
<div class="modal fade" id="addHealthCheckModelId" tabindex="-1" role="dialog"
     aria-labelledby="addHealthCheckModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Create Health Check Confirm</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to create a new health check for group {{ group_name }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a type="button" href="/groups/{{ group_name }}/manually_health_check/"
                    class="btn btn-primary">Create</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$(function() {
    $("#show_more").click(function() {
        $("#showMoreDivId").addClass("hidden");
        $.get("/groups/{{ group_name }}/more_scaling_activities/?token={{next_token}}", function(response){
           $("#scalingInfoId").append(response.html)
        });
    });
    $('#EnvsId').load('/groups/{{ group_name }}/envs/');
});
</script>
{% endblock %}
