{% load utils %}
{% include "panel_heading.tmpl" with panel_title="Group Launch Configuration" panel_body_id="launchConfigId" direction="down" %}
<div id="launchConfigId" class="collapse in panel-body">
    <div class="container-fluid">
        <form id="launchConfigIdFormId" class="form-horizontal" role="form">
            <fieldset id="envConfigFieldSetId">
                <div class="form-group">
                    <label for="instanceType" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Instance Type">
                        Instance Type
                    </label>

                    <div class="col-xs-4" id="type_id_div_id">
                        <select class="form-control" name="instanceType">
                        {% if config.instanceType == "" %}
                        <option value="" selected="selected"></option>
                        {% endif %}
                        {% for instance_type in instance_types %}
                            {% if config.instanceType == instance_type %}
                            <option value={{ instance_type }} selected="selected">{{ instance_type }}</option>
                            {% else %}
                            <option value={{ instance_type }}>{{ instance_type }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>

                    <label for="securityGroup" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="">
                        Security Group
                    </label>
                    <div class="col-xs-4" id="sg_id_div_id">
                        <select class="form-control" name="securityGroup">
                        {% if config.securityGroup == "" %}
                        <option value="" selected="selected"></option>
                        {% endif %}
                        {% for group in security_groups %}
                            {% if config.securityGroup == group.id %}
                              <option value={{ group.id }} selected="selected">{{ group.info.name }}</option>
                            {% else %}
                              <option value={{ group.id }}>{{ group.info.name }}</option>
                            {% endif %}
                        {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="appName" class="deployToolTip control-label col-xs-2" data-toggle="tooltip" title="application name for AMI">
                    AMI application name:
                    </label>
                    <div class="col-xs-4">
                        <select class="form-control" id="app_name" name="appName" required="true">
                        {% for app_name in app_names %}
                            {% if curr_image.app_name == app_name %}
                                <option value="{{ app_name }}" selected>{{app_name }}</option>
                            {% else %}
                                <option value="{{ app_name }}">{{app_name }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <label for="imageId" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="Image AMI used by the deploy group">
                        Image Id
                    </label>

                    <div class="col-xs-4" id="image_id_div_id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="iam_role" class="deployToolTip control-label col-xs-2"
                        data-toggle="tooltip"
                        title="IAM role">
                        IAM Role
                    </label>
                    <div class="col-xs-4">
                        <input class="form-control" name="iamRole" required="false"
                               type="text" value="{{ config.iamRole |default_if_none:'' }}"/>
                    </div>

                    <label for="assignIp" class="deployToolTip control-label col-xs-2"
                           data-toggle="tooltip" title="Assign public IP address to the instance in VPC">
                       Assign Public IP:
                    </label>
                    <div class="col-xs-4">
                      <select class="form-control" name="assignPublicIP">
                      {% if config.assignPublicIp %}
                      <option value="True" selected>Always assign public IP to the instance in VPC</option>
                      <option value="False">Do not assign a public IP address to any instances</option>
                      {% else %}
                      <option value="True">Always assign public IP to the instance in VPC</option>
                      <option value="False" selected>Do not assign a public IP address to any instances</option>
                      {% endif %}
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="subnets" class="deployToolTip control-label col-xs-2" data-toggle="tooltip"
                        title="">
                        Subnet(s)
                    </label>
                    <div class="col-xs-10" id="subnets_id_div_id">
                        <select class="form-control chosen-select" name="subnets" required multiple>
                        {% for subnet in subnets %}
                            {% if subnet.id in config.subnetArrays %}
                                <option value="{{ subnet.id }}" selected>{{ subnet|genSubnetInfo }}</option>
                            {% else %}
                                <option value="{{ subnet.id }}">{{ subnet|genSubnetInfo }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="userData" class="deployToolTip control-label col-xs-2"
                       data-toggle="tooltip" title="Puppet parameters">
                       User Data
                    </label>
                    <div class="col-xs-4">
                      <textarea class="form-control" name="userData" type="text" rows="5">{{config.userData}}</textarea>
                    </div>
                </div>
            </fieldset>
            {% csrf_token %}
        </form>
    </div>
</div>
<div class="panel-footer clearfix">
    <div class="pull-right">
        <button id="resetLaunchConfigBtnId" class="btn btn-default"
                data-loading-text="Reloading...">
            <span class="glyphicon glyphicon-refresh"></span> Reload
        </button>
        <button id="saveLaunchConfigBtnId" class="btn btn-primary"
                data-loading-text="Saving...">
            <span class="glyphicon glyphicon-floppy-save"></span> Save
        </button>
    </div>
</div>
<script>
    function getImageId() {
        var selected_value = $("#app_name option:selected").val();
        var ami_url = "/aws_info/get_ami_ids/?app_name=" + selected_value + "&curr_image_id={{ config.imageId }}";
        $.get(ami_url, function(response) {
            $("#image_id_div_id").html(response);
        });
    }

    $(document).ready(function() {
        getImageId();
        $.get("/specs/get_sgs/?curr_sg={{config.securityGroup}}", function(response) {
            $("#sg_id_div_id").html(response);
        });

        $.get("/specs/get_types/?curr_instance_type={{config.instanceType}}", function(response) {
            $("#type_id_div_id").html(response);
        });

        $.get("/specs/get_subnets/?curr_id={{config.subnets}}", function(response) {
            $("#subnets_id_div_id").html(response);
        });
    });

    $(function () {
        $("#app_name").change(function() {
            getImageId();
        });

        $(".chosen-select").chosen({"width": "100%"});
        $('#saveLaunchConfigBtnId').attr('disabled','disabled');
        $('#resetLaunchConfigBtnId').attr('disabled','disabled');

        $('#launchConfigIdFormId input').keyup(function() {
            $('#saveLaunchConfigBtnId').removeAttr('disabled');
            $('#resetLaunchConfigBtnId').removeAttr('disabled');
        });

        $('#launchConfigIdFormId textarea').keyup(function() {
            $('#saveLaunchConfigBtnId').removeAttr('disabled');
            $('#resetLaunchConfigBtnId').removeAttr('disabled');
        });

        $('#launchConfigIdFormId select').change(function() {
            $('#saveLaunchConfigBtnId').removeAttr('disabled');
            $('#resetLaunchConfigBtnId').removeAttr('disabled');
        });

        $('#launchConfigIdFormId input').change(function() {
            $('#saveLaunchConfigBtnId').removeAttr('disabled');
            $('#resetLaunchConfigBtnId').removeAttr('disabled');
        });

        $('#saveLaunchConfigBtnId').click(function () {
            var btn = $(this);
            $.ajax({
                type: 'POST',
                url: '/groups/{{ group_name }}/autoscaling/update_launch_config/',
                data: $("#launchConfigIdFormId").serialize(),
                dataType: 'json',
                beforeSend: function () {
                    btn.button('loading');
                },
                success: function (data) {
                    if(data != null && data.success == false) {
                        $('#errorBannerId').append(data.error);
                        $('#errorBannerId').show();
                    } else {
                        $("#launchConfigId").parent().html(data);
                        $('#errorBannerId').empty().hide();
                    }
                    btn.button('reset');
                },
                error: function (data) {
                    $('#errorBannerId').append(data.responseText);
                    $('#errorBannerId').show();
                }
            });
        });

        $('#resetLaunchConfigBtnId').click(function () {
            var btn = $(this);
            $.ajax({
                type: 'GET',
                url: '/groups/{{ group_name }}/autoscaling/get_launch_config/',
                beforeSend: function () {
                    btn.button('loading');
                },
                success: function (data) {
                    btn.button('reset');
                    $("#launchConfigId").parent().html(data);
                }
            });
        });
    });
</script>
