<html>
    <script>
        var data_options4 = {};
        var charts4 = {};
    </script>

    <script type="text/javascript">
        google.load("visualization", "1.1", {packages:["corechart"]}, "callback": drawChart4);

        function drawChart4() {
            var data = new google.visualization.DataTable();
            data.addColumn("datetime", "Date");

            var options = {
                title: 'Predictive Autoscaling Stats',
                titleFontSize: 15,
                height: 300,
                min: 0,
                max: 50,
                curveType: 'function',
                legend: 'top',
                series: {
                    0: {targetAxisIndex: 0,
                        color: 'red',
                        lineWidth: 3,
                        side: 'top'},
                    1: {targetAxisIndex: 0,
                        color: 'purple',
                        lineWidth: 2},
                    2: {targetAxisIndex: 0,
                        color: 'green',
                        lineWidth: 2},
                    3: {targetAxisIndex: 0,
                        color: 'blue',
                        lineWidth: 2},
                    4: {targetAxisIndex: 0,
                        color: 'yellow',
                        lineWidth: 2},
                    5: {targetAxisIndex: 0,
                        color: 'gray',
                        lineWidth: 2}
                },
                vAxes: {
                    0: {title: 'Group Size',
                        titleTextStyle: {italic: false}}
                },
                interpolateNulls: true,
            };
            var chart4 = new google.visualization.LineChart(document.getElementById('pas_stats_id'));
            charts4['Requests'] = chart4;
            chart4.draw(data, options);
            data_options4['Requests'] = [data, options];
        }
    </script>

    <script>
        function updateCharts4(response) {
            if(data_options4['Requests'] && data_options4['Requests'].length > 1){
                var data = data_options4['Requests'][0];
                var options = data_options4['Requests'][1];

                var arcee_data = response['arcee'];
                var data_len = arcee_data.length;

                data.addColumn("number", "Min Size Changes");

                for (var j = 0; j < data_len; ++j) {
                    var d = new Date(arcee_data[data_len - j - 1][0]);
                    data.addRow([d, arcee_data[data_len - j - 1][1]]);
                }

                var metric_chart = charts4["Requests"];
                metric_chart.draw(data, options);
            }
        }

        function poll_metrics4() {
            $.get('/pas_stats/{{ group_name }}', function(response) {
                updateCharts4(response);
            }).fail(function() {
            });
        }

        $(document).ready(function() {
            poll_metrics4();
        });
    </script>
</html>
