{% extends 'environs/env_base.html' %}

{% load utils %}
{% load static %}
{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/envs">Environments</a></li>
</ul>
{% endblock %}

{% block side-panel-actions %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Actions</h4>
    </div>
    <div class="row">
        <button class="deployToolTip btn btn-default btn-block"
            title="Start hotfix based on current deploy"
            data-toggle="modal" data-target="#hotfixModalId">
            <span class="glyphicon glyphicon-fire"></span> Hotfix
        </button>
    </div>
	<div class="row">
        <a href="/ngapp2/deploys/"
            type="button" class="deployToolTip btn btn-default btn-block"
            data-toggle="tooltip" title="Show deploy history combining both ngapp-A and ngapp-B">
            <span class="glyphicon glyphicon-time"></span> Deploy History
        </a>
    </div>
</div>

<div class="well">
    <a href="https://w.pinadmin.com/display/enKB/ngapp2+deploy+directions">
        <span class="glyphicon glyphicon-info-sign"></span> ngapp2 deploy help
    </a>
</div>

<div class="modal fade" id="hotfixModalId" tabindex="-1" role="dialog"
     aria-labelledby="hotfixModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">ngapp2 Hotfix</h4>
      </div>
      <div class="modal-body">
        <div class="well">
        <p>ngapp2 deploy is conducted by ngapp2-A and ngapp2-B alternately. The current
            version <em>{{ curr_env.build|shortenCommit }}</em> is deployed by
            <a href="/env/{{ curr_env.envName }}/{{ curr_env.stageName }}">
                {{ curr_env.envName }}/{{ curr_env.stageName }}</a>.
            Once confirmed, you will be redirected to {{ curr_env.envName }}/{{ curr_env.stageName }}
            and perform hotfix there on top of <em>{{ curr_env.build|shortenCommit }}</em>.</p>
        <p>If you'd like to create hotfix based on different version, please go to the deploy
            history page of either
            <a href="/env/{{ curr_env.envName }}/">{{ curr_env.envName }}</a>
            or <a href="/env/{{ prev_env.envName }}/">{{ prev_env.envName }}</a>, and pick a
            previous deploy.</p>
        </div>
        <div class="alert alert-warning">
        <p>It is very important that after the hotfix job being built successfully,
            come back to this page to do the deployment! Do not deploy in either
            ngapp2-A or ngapp2-B environment directly!</p>
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" href="/env/{{ curr_env.envName }}/{{ curr_env.stageName }}/hotfixes/"
           class="btn btn-primary">Let's Do It</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}


{% block new-builds-panel %}
{% endblock %}
{% block new-pred-deploys-panel %}
{% endblock %}

{% block main %}
<div id="hotfixDiv" class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Deploy ngapp2</h4>
    </div>
    <div class="panel-body table-responsive">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left">Current serving versions</h4>
        </div>
        <table id="baseCommitTableId" class="table table-condensed">
    <tr>
        <th class="col-lg-2"></th>
        <th class="col-lg-2">Build Version</th>
        <th class="col-lg-1">Environment</th>
        <th class="col-lg-2">Deploy Date</th>
        <th class="col-lg-1">Operator</th>
        <th class="col-lg-2">Details</th>
    </tr>
    <tr class="info">
        <td>
           Default Version:
        </td>
        <td>{{ curr_env.build|shortenCommit }}</td>
        <td>
            <span class="glyphicon {{ curr_env.deployType|deployTypeIcon }}"></span>
                {{ curr_env.envName }}
        </td>
        <td>
            {{ curr_env.startDate|convertTimestamp}}
        </td>
        <td>
            {{ curr_env.operator }}
        </td>
        <td>
            <a href="/env/{{ curr_env.envName }}/prod/deploy/">Details</a>
        </td>
    </tr>
     <tr>
        {% if serve_version_count <= 1 %}
        <td>
           Previous Version (disabled):
        </td>
        <td>{{ prev_env.build|shortenCommit }}</td>
        <td>
            <span class="glyphicon {{ prev_env.deployType|deployTypeIcon }}"></span>
                {{ prev_env.envName }}
        </td>
        <td>
            {{ prev_env.startDate|convertTimestamp}}
        </td>
        <td>
            {{ prev_env.operator }}
        </td>
        <td>
            <a href="/env/{{ prev_env.envName }}/prod/deploy/">Details</a>
        </td>
         {% else %}
            <td>
           Previous Version:
        </td>
        <td>{{ prev_env.build|shortenCommit }}</td>
        <td>
            <span class="glyphicon {{ prev_env.deployType|deployTypeIcon }}"></span>
                {{ prev_env.envName }}
        </td>
        <td>
            {{ prev_env.startDate|convertTimestamp}}
        </td>
        <td>
            {{ prev_env.operator }}
        </td>
        <td>
            <a href="/env/{{ prev_env.envName }}/prod/deploy/">Details</a>
        </td>

         {% endif %}
    </tr>
            <tr><td colspan="6">
                {% if deploy_stage == 0 %}
                    <button id="cherrypickBtn"
                            class="ngappdeployToolTip btn btn-primary" data-toggle="tooltip"
                            title="Start a new deploy on ngapp2.">
                            Create new ngapp deploy
                    </button>
                    <button id="rollBackDeployBtn"
                            class="ngappFinishToolTip btn btn-default" data-toggle="tooltip"
                            title="rollback ngapp2 deploy to the previous stable version">
                        Rollback
                    </button>
                {% endif %}

            </td> </tr>
</table>
    </div>
    <div id="disableVarnishDivId" class="panel-body table-responsive sr-only">
        <button id="disableVarnish" class="disableVarnishToolTip btn btn-primary" data-toggle="tooltip"
                title="Disable varnish traffic to the previous version">
            Disable varnish traffic
        </button>
    </div>
<!-- varnish drain traffic div -->
    <div id="ngappPredeployDivId" class="panel-body table-responsive sr-only">
        {% include "ngapp2/ngapp2_pre_deploy.html" with progress=0 current_status="RUNNING" %}
    </div>
    <div id="ngappPredeployButtonDivId" class="panel-footer sr-only">
        <button id="cancelDeployBtn"
                class="ngappCancelToolTip btn btn-default" data-toggle="tooltip"
                title="cancel current ngapp2 deploy">
         Rollback
        </button>
        <a type="button" id="deployCanaryBtn" class="deployCanaryToolTip btn btn-primary invisible" data-toggle="tooltip"
                title="Pick a build and deploy to canary host." href="/env/{{ deploying_env }}/canary/new_deploy/">
                Select a build for canary
        </a>
    </div>

<!-- start to deploy to canary -->
    <div id="ngappDeployToCanaryDivId" class="panel-body table-responsive sr-only">
    </div>
    <div id="ngappDeployToCanaryButtonDivId" class="panel-footer sr-only">
        <button id="cancelDeployBtn"
                class="ngappCancelToolTip btn btn-default" data-toggle="tooltip"
                title="cancel current ngapp2 deploy">
         Rollback
        </button>
        <button id="runTestBtn" class="runTestToolTip btn btn-default invisible">
            Acknowledge integration tests passed
        </button>
        <button id="canaryFineBtn" class="runTestToolTip btn btn-default invisible">
            Acknowledge no new errors on canary
        </button>
        <button id="deployProdBtn" class="deployProdToolTip btn btn-primary invisible" data-toggle="tooltip"
                title="promote the deploy to prod.">
            Promote to prod
        </button>
    </div>

<!-- start to deploy to prod -->
    <div id="ngappDeployToProdDivId" class="panel-body table-responsive sr-only">
    </div>
    <div id="ngappDeployToProdButtonDivId" class="panel-footer sr-only">
        <button id="cancelDeployBtn"
                class="ngappCancelToolTip btn btn-default" data-toggle="tooltip"
                title="cancel current ngapp2 deploy">
         Rollback
        </button>
        <button id="enableVarnishBtn" class="enableVarnishToolTip btn btn-primary invisible" data-toggle="tooltip"
                    title="Enable varnish traffic on the new build.">
                Enable new version
        </button>
    </div>

<!-- start to post deploy -->
    <div id="ngappPostdeployDivId" class="panel-body table-responsive sr-only">
        {% include "ngapp2/ngapp2_post_deploy.html" with progress=0 current_status="RUNNING" %}
    </div>
    <div id="ngappPostdeployButtonDivId" class="panel-footer sr-only">
        <button id="cancelDeployBtn"
                class="ngappCancelToolTip btn btn-default" data-toggle="tooltip"
                title="cancel current ngapp2 deploy">
         Rollback
        </button>
        <button id="finishDeployBtn" class="deployCanaryToolTip btn btn-primary invisible" data-toggle="tooltip"
                title="Click to finish deploy.">
                Finish deploy
        </button>
    </div>

<!-- rollback -->
    <div id="ngappRollbackDivId" class="panel-body table-responsive sr-only">
        {% include "ngapp2/ngapp2_rollback.html" with progress=0 current_status="RUNNING" %}
    </div>
</div>

    {% include "ngapp2/ngapp2_confirm_rollback.tmpl" %}

<script>
    function auto_refresh(elem, url, to_enable, stop_function) {
        if (stop_function()) {
            if (to_enable != undefined) {
                to_enable.removeClass("invisible");
            }
            return;
        }

        var startTime = new Date().getTime();
        var intervalId = setInterval(function() {
            if (new Date().getTime() - startTime > 3600000) {
                clearInterval(intervalId);
            }

            elem.load(url, function() {
                if (stop_function()) {
                    clearInterval(intervalId);
                    if (to_enable != undefined) {
                        //to_enable.removeClass("sr-only");
                        to_enable.removeClass("invisible");
                    } else {
                        window.location = "/ngapp2/deploy/";
                    }
                }
            });
        }, 30000);
    }

    function is_ready(elem, match_text) {
        if (elem == undefined || elem[0] == undefined) {
            return false;
        }
        return match_text.indexOf(elem[0].value) >= 0;
    }

    function is_pre_deploy_done() {
        return is_ready($('#currentPreDeployStatusId'), ["DONE", "TIMEOUT", "FAILING"]);
    }

    function is_canary_deploy_done() {
        return is_ready($("#ngappDeployToCanaryDivId #currentDeployStatusId"),
                        ["SUCCEEDING", "FAILING"]);
    }

    function is_production_deploy_done() {
        return is_ready($("#ngappDeployToProdDivId #currentDeployStatusId"),
                        ["SUCCEEDING", "FAILING"]);
    }

    function is_post_deploy_ready() {
        return is_ready($("#ngappPostdeployDivId #currentPostDeployStatusId"),
                        ["DONE", "TIMEOUT", "FAILING"]);
    }

    function is_rollback_ready() {
        return is_ready($("#ngappRollbackDivId #currentRollbackStatusId"), ["DONE", "TIMEOUT", "FAILING"]);
    }

    $(function () {
        var elem;
        var url;
        var deploy_stage = {{ deploy_stage }};
        if (deploy_stage < 0) {
            var rollback_div = $("#ngappRollbackDivId");
            rollback_div.removeClass("sr-only");
            url = '/ngapp2/update_deploy_progress/?env_name={{ deploying_env }}&deploy_stage=rollback';
            rollback_div.load(url, function() {
                auto_refresh(rollback_div, url, undefined, is_rollback_ready);
            });
        }

        if ( deploy_stage >= 1) {
            elem = $('#ngappPredeployDivId');
            elem.removeClass('sr-only');
            url = '/ngapp2/update_deploy_progress/?env_name={{ deploying_env }}&deploy_stage=pre_deploy';
            elem.load(url, function() {
                // var to_enable = $("#ngappPredeployButtonDivId");
                var to_enable = $("#ngappPredeployButtonDivId #deployCanaryBtn");
                if (deploy_stage == 1) {
                    $("#ngappPredeployButtonDivId").removeClass("sr-only");
                    auto_refresh(elem, url, to_enable, is_pre_deploy_done);
                }
            });
        }

        if (deploy_stage >= 2) {
            var elem2 = $('#ngappDeployToCanaryDivId');
            elem2.removeClass('sr-only');
            url = '/ngapp2/update_deploy_progress/?env_name={{ deploying_env }}&deploy_stage=deploy_to_canary';
            elem2.load(url, function() {
                if (deploy_stage == 2) {
                    $("#ngappDeployToCanaryButtonDivId").removeClass('sr-only');
                    var to_enable2 = $("#ngappDeployToCanaryButtonDivId #runTestBtn");
                    auto_refresh(elem2, url, to_enable2, is_canary_deploy_done);
                }
            });
        }

        if (deploy_stage >= 3) {
            var elem3 = $('#ngappDeployToProdDivId');
            elem3.removeClass('sr-only');
            url = '/ngapp2/update_deploy_progress/?env_name={{ deploying_env }}&deploy_stage=deploy_to_prod';
            elem3.load(url, function () {
                if (deploy_stage == 3) {
                    $("#ngappDeployToProdButtonDivId").removeClass("sr-only");
                    var to_enable3 = $("#ngappDeployToProdButtonDivId #enableVarnishBtn");
                    auto_refresh(elem3, url, to_enable3, is_production_deploy_done);
                }
            });
        }

        if (deploy_stage >= 4) {
            var elem4 = $('#ngappPostdeployDivId');
            elem4.removeClass('sr-only');
            url = '/ngapp2/update_deploy_progress/?env_name={{ deploying_env }}&deploy_stage=post_deploy';
            elem4.load(url, function() {
                if (deploy_stage == 4) {
                    auto_refresh(elem4, url, undefined, is_post_deploy_ready);
                }
            });
        }

        // pre-deploy click button
        $('#cherrypickBtn').click(function () {
            $("#disableVarnishDivId").removeClass("sr-only");
        });

        // premote to production button
        $("#ngappDeployToCanaryButtonDivId #deployProdBtn").click(function () {
            $('#confirmToStagesId').val("prod");
            $('#confirmCommentId').val();
            $('#toStagesDescId').text("prod");
            $('#promoteConfirmModelId').modal();
        });


        // enable new version
        $("#ngappDeployToProdButtonDivId #enableVarnishBtn").click(function () {
            $('#enableVarnishModelId').modal();
        });

        // disable varnish
        $("#disableVarnishDivId #disableVarnish").click(function() {
           $('#disableVarnishModalId').modal();
        });

        // rollback to the previous
        $('#rollBackDeployBtn').click(function () {
            $("#buildId").text("{{ prev_env.build|shortenCommit }}");
            $('#rollbackConfirmId').modal();
        });

        // cancel the current deploy
        $("* #cancelDeployBtn").click(function() {
            $("#cancelDeployModalId").modal();
        });

        $("#runTestBtn").click(function() {
           $("#runTestBtn").prop('disabled', 'disabled');
           $("#canaryFineBtn").removeClass("invisible");
        });

        $("#canaryFineBtn").click(function() {
           $("#canaryFineBtn").prop('disabled', 'disabled');
           $("#deployProdBtn").removeClass("invisible");
        });
    });
</script>

<div class="modal fade" id="cancelDeployModalId" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="confirmEnablelId" class="form-horizontal" method="post" role="form"
              action="/ngapp2/new_deploy/">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    Are you sure to rollback the current deploy?
                </h4>
            </div>
            <input id="confirmCommentId" class="form-control" name="current_stage"
              type="hidden" value="{{ deploy_stage|stageToString }}" readonly/>
            <input class="form-control" type="hidden" name="action" value="cancel" readonly />
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="disableVarnishModalId" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="confirmEnablelId" class="form-horizontal" method="post" role="form"
              action="/ngapp2/new_deploy/">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    Are you sure to disable varnish traffic to start a new deploy?
                </h4>
            </div>
            <input id="confirmCommentId" class="form-control" name="current_stage"
              type="hidden" value="pre_deploy" readonly/>
            <input class="form-control" type="hidden" name="action" value="deploy" readonly />
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $('#cancelDeployModalId').submit(function () {
        $(this).find('button[type=submit]').prop('disabled', 'disabled');
        $(this).find('button[type=submit]').text('Cancelling...');
    });
</script>

{% endblock %}
