{% extends 'environs/env_base.html' %}

{% load utils %}
{% load static %}
{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/envs">Environments</a></li>
</ul>
{% endblock %}

{% block side-panel-actions %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Actions</h4>
    </div>
	<div class="row">
        <a type="button" class="deployToolTip btn btn-default btn-block"
           href="/ngapp2/deploy/"
           data-toggle="tooltip" title="Return the current deployment page">
           <i class="fa fa-flash"></i> Current Deployment
        </a>
    </div>
</div>
<div class="well">
    <a href="https://w.pinadmin.com/display/enKB/ngapp2+deploy+directions">
        <span class="glyphicon glyphicon-info-sign"></span> ngapp2 deploy help
    </a>
</div>
{% endblock %}

{% block new-builds-panel %}
{% endblock %}
{% block new-pred-deploys-panel %}
{% endblock %}

{% block main %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">ngapp2 Deploy History</h4>
    </div>
    <div class="panel-body table-responsive">

<form id="deploy_history_form">
    <table id="deployHistoryTableId" class="table table-condensed table-striped table-hover">
        <tr>
            <th class="col-sm-1"></th>
            <th class="col-lg-3">StartDate(-08:00)</th>
            <th class="col-lg-1">Type</th>
            <th class="col-lg-2">State</th>
            <th class="col-lg-2">Acceptance</th>
            <th class="col-lg-1">SucRate</th>
            <th class="col-lg-2">Build Info</th>
            <th class="col-lg-1">Operator</th>
            <th class="col-lg-1">Details</th>
        </tr>
        {% for deploy_summary in deploy_summaries %}
        <tr>
            <td>
                <input type="checkbox" value="{{ deploy_summary.build.id }}"
                       name="chkbox_{{forloop.counter}}">
            </td>
            <td>
                <a class="pointer-cursor" data-toggle="collapse"
                   data-target="#deployAction{{forloop.counter}}">
                    <span id="deployAction{{forloop.counter}}Toggler"
                          class="glyphicon glyphicon-chevron-right">
                    </span>
                    {{ deploy_summary.deploy.startDate|convertTimestamp }}
                </a>
                <input type="hidden" value="{{ deploy_summary.deploy.id }}">
            </td>
            <td>
                <span class="glyphicon {{ deploy_summary.deploy.type|deployTypeIcon }}"></span>
                <small>{{ deploy_summary.deploy.type }}</small>
            </td>
            <td>
                <span class="deployToolTip pointer-cursor {{ deploy_summary.deploy.state|deployStateIcon }}"
                      data-toggle="tooltip" title="{{ deploy_summary.deploy.state|deployStateTip }}">
                </span>
                <small>{{ deploy_summary.deploy.state }}</small>
            </td>
            <td>
                <span class ="deployToolTip pointer-cursor {{ deploy_summary.deploy.acceptanceStatus|deployAcceptanceIcon }}"
                  data-toggle="tooltip" title="{{ deploy_summary.deploy.acceptanceStatus|deployAcceptanceTip }}">
                </span>
                <small>{{ deploy_summary.deploy.acceptanceStatus }}</small>
            </td>
            <td>
                <span class="deployToolTip pointer-cursor" data-toggle="tooltip" title="{{ deploy_summary.deploy|successRateTip }}">
                <small>{{ deploy_summary.deploy|successRate }}</small>
                </span>
            </td>
            <td>
                <a href="/build/{{ deploy_summary.build.id}}">
                    {{ deploy_summary.build.branch }}/{{deploy_summary.build.commitShort }}</a>
            </td>
            <td>{{ deploy_summary.deploy.operator }}</td>
            <td><a href="/deploy/{{ deploy_summary.deploy.id }}">Details</a></td>
        </tr>
        {% endfor%}
        {% csrf_token %}
    </table>
    <button type="button" id="compareDeploymentsBtn" class="btn btn-default">Compare deploys</button>
    <ul class="pager">
        <li>
            <a href='/ngapp2/deploys/?page_index={{ pageIndex|add:"-1" }}&page_size={{ pageSize }}'
               class="btn btn-default {% if disablePrevious %}disabled{% endif %}">
                <span class="glyphicon glyphicon-chevron-left"></span> Previous
            </a>
        </li>
        <li>
            <a href='/ngapp2/deploys/?page_index={{ pageIndex|add:"1" }}&page_size={{ pageSize }}'
               class="btn btn-default {% if disableNext %}disabled{% endif %}">
                Next <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </li>
    </ul>
</form>

<script>
    $('#compareDeploymentsBtn').attr('disabled','disabled');

    jQuery(function(){
        var maxCheckedAllowed = 2;
        var checkboxes = $('input[type="checkbox"]');
            checkboxes.change(function(){
                var numChecked = checkboxes.filter(':checked').length;
                checkboxes.filter(':not(:checked)').prop('disabled', numChecked >= maxCheckedAllowed);
                if(numChecked == 2) {
                    $('#compareDeploymentsBtn').removeAttr('disabled');
                } else {
                    $('#compareDeploymentsBtn').attr('disabled','disabled');
                }
            });
    });

    $(function () {
        $('.deployToolTip').tooltip();

        $('#compareDeploymentsBtn').click(function () {
            var query_string = $('#deploy_history_form').serialize();
            window.location ="/ngapp2/compare_deploys/?" + query_string;
        });

    });
</script>

    </div>
</div>
{% endblock %}
