<div class="modal fade" id="rollbackConfirmId" tabindex="-1" role="dialog"
     aria-labelledby="rollbackConfirm" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Rollback Confirm</h4>
      </div>
      <form id="confirmRollbackFormId" method="POST" role="form" class="form-horizontal">
      <div class="modal-body">
        Are you sure to rollback to previous version <label id="buildId">#REPLACE</label>?
        {% csrf_token %}
        <div class="row">
        <div class="form-group">
          <input id="descriptionId" class="form-control" name="description" type="text" required="true"
                 placeholder="Rollback reason (required)" value=""/>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="confirmRollBackDeployBtn"
           type="button" class="btn btn-default" data-dismiss="modal">
            Rollback
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
        $('#confirmRollBackDeployBtn').click(function () {
            var description = $('#descriptionId').val();
            var build = $('#buildId').text();
            $.ajax({
                type: 'POST',
                url: '/ngapp2/new_deploy/',
                data: {
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'current_stage': 'rollback',
                    'description': description,
                    'build': build
                },
                datatype: 'json',
                success: function (data) {
                    window.location = "/ngapp2/deploy";
                }
            })
        });
</script>
