{% load utils %}
<table id="buildPickTableId" class="table table-condensed table-striped table-hover">
    <tr>
        <th>Publish Date</th>
        <th>Commit</th>
        <th>Branch</th>
        <th>Repo</th>
        <th>Build Name</th>
        <th>More Info</th>
        <th>Details</th>
        <th>Tag</th>
    </tr>
    {% for buildInfo in builds %}
    <tr>
        <td>{{ buildInfo.build.publishDate|convertTimestamp }}</td>
        <td><a class="deployToolTip" href="{{ buildInfo.build.commitInfo }}"
               title="Click to see commit in {{ buildInfo.build.type }}">
            <i class="{{ buildInfo.build|commitIcon }}"></i> {{ buildInfo.build.commitShort }}
        </a>
        </td>
        <td>{{ buildInfo.build.branch }}</td>
        <td>{{ buildInfo.build.repo }}</td>
        <td>{{ buildInfo.build.name }}</td>
        <td><a class="deployToolTip" data-toggle="tooltip"
               title="Click to see the details of publish job info"
               href='{{ buildInfo.build.publishInfo }}'><i class="fa fa-wrench"></i></a>
            <a class="deployToolTip" data-toggle="tooltip" title="Click to download the build"
               href='{{ buildInfo.build.artifactUrl }}'><i class="fa fa-solid fa-cloud-arrow-down"></i></a>
        </td>
        <td><a href="/builds/{{ buildInfo.build.id }}">view</a></td>
        <td>
              {% if buildInfo.tag %}
                {%if buildInfo.tag.value == "BAD_BUILD" %}
                  <span class="label label-danger">{{buildInfo.tag.value}}</span>
                {%elif buildInfo.tag|tagBuildId == buildInfo.build.id %}
                  <span class="label label-success">{{buildInfo.tag.value}}</span>
                {% endif %}
              {% endif %}
        </td>
    </tr>
    {% endfor%}
</table>
