{% load utils %}
{% load static %}
<table id="buildPickTableId" class="table table-condensed table-striped table-hover">
    <tr>
        <th class="col-lg-2">Publish Date</th>
        <th class="col-lg-2">Commit</th>
        <th class="col-lg-2">Branch</th>
        <th class="col-lg-2">Repo</th>
        <th class="col-lg-2">Build Name</th>
        <th class="col-lg-1">Build Job URL</th>
        <th class="col-lg-1">Details</th>
    </tr>
    {% for buildInfo in builds %}
    <tr>
        <td>
            <a class="deployToolTip pointer-cursor" data-toggle="collapse"
               title="Click to see all deploy options"
               data-target="#deployAction{{forloop.counter}}">
                <span id="deployAction{{forloop.counter}}Toggler"
                      {% if builds|length > 1 %}
                      class="glyphicon glyphicon-chevron-right">
                      {% else %}
                      class="glyphicon glyphicon-chevron-down">
                      {% endif %}
                </span>
                {% if buildInfo.build.publishDate %}
                    {{ buildInfo.build.publishDate|convertTimestamp }}
                {% endif %}
            </a>
            <input class="hiddenBuildId" type="hidden" value="{{ buildInfo.build.id }}"/>
            <input class="hiddenCommit" type="hidden" value="{{ buildInfo.build.commit }}"/>
            <input class="hiddenCommit7" type="hidden" value="{{ buildInfo.build.commitShort }}"/>
            <input class="hiddenBranch" type="hidden" value="{{ buildInfo.build.branch }}"/>
            <input class="hiddenType" type="hidden" value="{{ buildInfo.build.type }}"/>
            <input class="hiddenRepo" type="hidden" value="{{ buildInfo.build.repo }}"/>
        </td>
        <td>
            {% if buildInfo.build.branch == "private" %}
            <i class="{{ buildInfo.build|commitIcon }}"></i> {{ buildInfo.build.commitShort }}
            {% else %}
            <a class="deployToolTip" href="{{ buildInfo.build.commitInfo }}" target="_blank"
               title="Click to see commit details in {{ buildInfo.build.type }}">
                <i class="{{ buildInfo.build|commitIcon }}"></i> {{ buildInfo.build.commitShort }}
            </a>
            {% endif %}
            {% if not current_build or buildInfo.build.publishDate > current_build.publishDate %}
            <span class="label label-info">New</span>
            {% endif %}
            {% if buildInfo.build.branch == "private" %}
            <span class="label label-warning">Private</span>
            {% endif %}
            {% if buildInfo.tag %}
                {%if buildInfo.tag.value == "BAD_BUILD" %}
                    <span class="label label-danger">{{buildInfo.tag.value}}</span>
                {%elif buildInfo.tag|tagBuildId == buildInfo.build.id %}
                    <span class="label label-success">{{buildInfo.tag.value}}</span>
                {% endif %}
            {% endif %}
        </td>
        <td>{{ buildInfo.build.branch }}</td>
        <td>{{ buildInfo.build.repo }}</td>
        <td>{{ buildInfo.build.name }}</td>
        <td><a href="{{ buildInfo.build.publishInfo }}">view</a></td>
        <td><a href="/builds/{{ buildInfo.build.id }}">view</a></td>
    </tr>
    {% if builds|length > 1 %}
    <tr id="deployAction{{forloop.counter}}" class="collapse out deployActionPanel">
    {% else %}
    <tr id="deployAction{{forloop.counter}}" class="collapse in deployActionPanel">
    {% endif %}
        <td colspan="6">
            <div class="row showContent">
            </div>
            <div class="row">
                <button class="deployer deployToolTip btn btn-primary"
                        data-toggle="tooltip" title="Deploy this build">
                    <span class="glyphicon glyphicon-check"></span> Deploy It
                </button>
                {% if current_build %}
                    {% if buildInfo.build.publishDate > current_build.publishDate %}
                    <button class="showdiffer deployToolTip btn btn-default"
                            data-loading-text="Loading..." data-toggle="tooltip"
                            title="Show all the new commits since last deploy">
                        <span class="glyphicon glyphicon-zoom-in"></span> Show New Commits
                    </button>
                    {% endif %}
                    {% if singleBuildPage is None %}
                    <button class="showdiffbetween deployToolTip btn btn-default"
                            data-loading-text="Loading..." data-toggle="tooltip"
                            title="Show commits between two adjacent builds">
                        <span class="glyphicon glyphicon-zoom-in"></span> Show Commits Between Builds
                    </button>
                    {% endif %}
                    {% if buildInfo.build.type == "Github" %}
                    <button class="githuber deployToolTip btn btn-default" data-toggle="tooltip"
                            title="Show all the new commits in Gitbhub">
                        <i class="fa fa-github"></i> Show New Commits in Github
                    </button>
                    {% endif %}
                {% endif %}
            </div>
        </td>
    </tr>
    {% endfor%}
</table>
{% if builds|length >= 10 %}
<ul class="pager">
    <li>
        <button id="buildsPreviousId" type="button"
                class="btn btn-default {% if disablePrevious %}disabled{% endif %}">
            <span class="glyphicon glyphicon-chevron-left"></span> Previous
        </button>
    </li>
    <li>
        <button id="buildsNextId" type="button"
                class="btn btn-default {% if disableNext %}disabled{% endif %}">
            Next <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </li>
</ul>
{% endif %}
<script>
    $(function () {
        $('.deployToolTip').tooltip();

        $('.deployActionPanel').on('hidden.bs.collapse shown.bs.collapse', function () {
            var currentId = $(this).attr('id');
            $('#' + currentId + 'Toggler').toggleClass('glyphicon-chevron-right glyphicon-chevron-down', 100);
        });

        $('#buildPickTableId tr .deployer').click(function () {
            {% if deployState and overridePolicy == "WARN" and deployState == "RUNNING" %}
            $('#confirmOverrideModalId').modal();
            {% else %}
            trid = $(this).closest('tr').prev();
            buildId = trid.find(".hiddenBuildId").val();
            commit = trid.find(".hiddenCommit").val();
            commit7 = trid.find(".hiddenCommit7").val();
            branch = trid.find(".hiddenBranch").val();
            $('#confirmDeployModalId').modal();
            {% endif %}
        });

        $('#confirmOverrideModalId').on('click','#overrideButton', function (e) {
            $('#confirmOverrideModalId').modal('toggle');
            trid = $( "tr:nth-child(2)" );
            buildId = trid.find(".hiddenBuildId").val();
            commit = trid.find(".hiddenCommit").val();
            commit7 = trid.find(".hiddenCommit7").val();
            branch = trid.find(".hiddenBranch").val();
            $('#confirmDeployModalId').modal();
        });

        $('#confirmDeployModalId').on('show.bs.modal', function () {
            $('#confirmcommitInputId').val(commit);
            $('#confirmcommit7InputId').val(commit7);
            $('#confirmBranchInputId').val(branch);
            $('#confirmBuildIdInputId').val(buildId);
            if (branch.startsWith("hotfix")) {
                $('#confirmDeplyDescId').prop('required', true);
                $('#confirmDeplyDescId').prop('placeholder',
                    'Simple description of this deploy (required for hotfix)');
            }
            if(buildId == null) {
                var submitBtn = $('#deployConfirmFormlId .modal-footer button[type="submit"]');
                var warning = $('#deployConfirmFormlId .modal-footer span');
                warning.removeClass('hidden');
                submitBtn.addClass('hidden');
            }
        });

        $('#buildPickTableId tr .showdiffer').click(function () {
            btn=$(this);
            $(btn).button('loading');
            $(btn).tooltip('hide');
            trid = $(this).closest('tr');
            startSha = trid.prev().find(".hiddenCommit").val();
            scmType = trid.prev().find(".hiddenType").val();
            scmRepo = trid.prev().find(".hiddenRepo").val();
            contentId = trid.find('.showContent');
            url = '/commits/compare_commits/?start_sha=' + startSha +
                '&end_sha={{ current_build.commit }}&repo=' + scmRepo +
                '&scm=' + scmType;
            contentId.load(url, function () {
                $(btn).button('reset');
            });
        });

         $('#buildPickTableId tr .showdiffbetween').click(function () {
            btn=$(this);
            $(btn).button('loading');
            $(btn).tooltip('hide');
            trid = $(this).closest('tr');
            prevSha = trid.prev().find(".hiddenCommit").val();
            currentSha = trid.next().find(".hiddenCommit").val();
            scmType = trid.prev().find(".hiddenType").val();
            scmRepo = trid.prev().find(".hiddenRepo").val();
            contentId = trid.find('.showContent');
            url = '/commits/compare_commits/?start_sha=' + prevSha +
                '&end_sha=' + currentSha + '&repo=' + scmRepo +
                '&scm=' + scmType;
            contentId.load(url, function () {
                $(btn).button('reset');
            });
        });

        $('#buildPickTableId tr .githuber').click(function () {
            btn=$(this);
            trid = $(this).closest('tr');
            commit = trid.prev().find(".hiddenCommit").val();
            url = '{{ scm_url }}/{{ current_build.repo}}/compare/' +
                '{{ current_build.commit }}...' + commit;
            window.open(url);
        });

        $("#buildsNextId").click(function () {
            $('#buildPickTableId').parent().load(
                '/builds/get_all_builds/?name={{ buildName }}&branch={{ branch }}' +
                    '&page_index={{ pageIndex|add:"1" }}&page_size={{ pageSize }}' +
                    '&current_build_id={{ current_build.id }}' + '&override_policy={{ env.overridePolicy }}&deploy_id={{ env.deployId }}');
        });

        $("#buildsPreviousId").click(function () {
            $('#buildPickTableId').parent().load(
                '/builds/get_all_builds/?name={{ buildName }}&branch={{ branch }}' +
                    '&page_index={{ pageIndex|add:"-1" }}&page_size={{ pageSize }}' +
                    '&current_build_id={{ current_build.id }}' + '&override_policy={{ env.overridePolicy }}&deploy_id={{ env.deployId }}');
        });
    });
</script>
