{% load utils %}
{% load static %}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">
        {% if show_lock %}
        <span id="predBuildLockId" class="deployToolTip pointer-cursor fa fa-lock fa-2"
              data-toggle="tooltip" title="Auto deploy is enabled.">
        </span>
        {% endif %}
        Builds to Deploy
        {% if build_deploy_pipeline_url %}
        <span  class="deployToolTip"> <a href="{{build_deploy_pipeline_url}}">(Build pipeline)</a></span>
        {% endif %}
        </h4>
        
    </div>
    <div class="row">    
        {% if env|isEnvEnabled %}
        <ul class="list-group">
            <a href="/env/{{ env.envName }}/{{ env.stageName }}/new_deploy/"
               class="list-group-item">Builds
            </a>
            {% for buildInfo in builds %}
            <a href="/env/{{ env.envName }}/{{ env.stageName }}/build/{{ buildInfo.build.id }}"
               class="list-group-item">
                {{ buildInfo.build|branchAndCommit }}
                {% if not current_publish_date or buildInfo.build.publishDate > current_publish_date %}
                    <span class="label label-info">New</span>
                {% endif %}
                {% if buildInfo.build.branch == "private" %}
                    <span class="label label-warning">Private</span>
                {% endif %}
                {% if buildInfo.tag %}
                    {% if buildInfo.tag.value == "BAD_BUILD" %}
                        <span class="label label-danger">{{buildInfo.tag.value}}</span>
                    {% elif buildInfo.tag|tagBuildId == buildInfo.build.id %}
                        <span class="label label-success">{{buildInfo.tag.value}}</span>
                    {% endif %}
                {% endif %}
            </a>
            {% endfor%}
        </ul>
        {% endif %}
    </div>
</div>

<script>
    $(function () {
        $('.deployToolTip').tooltip();
    });
</script>
