{% load utils %}
{% load static %}

<div class="modal fade" id="uploadPrivateBldModalId" tabindex="-1" role="dialog"
     aria-labelledby="uploadPrivateBldModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <form id="uploadPrivateBldFormId" class="form-horizontal" class="form-horizontal"
                    method="post" 
            action="/env/{{ env.envName }}/{{ env.stageName }}/upload_private_build/"
                    role="form" enctype="multipart/form-data">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Upload Private Build</h4>
                </div>

                <div class="modal-body">
                    <div id="uploadPrivateBldMessageId" class="alert alert-warning" role="alert" hidden=true>
                        <strong> Uploading... If this process takes more than 10 minutes, make sure entered fields are correct and check your connection.</strong>
                    </div>

                    <div class="form-group">
                            <label for="commitIdFull"
                                    class="col-md-2 control-label">SSHA Full Commit</label>
                            <div class="col-md-10">
                                <input id="commitIdFullInputId" type="text" class="form-control"
                                        placeholder=""
                                        name="commitIdFull" required="true">
                            </div>
                    </div>

                    <div class="form-group">
                        <label for="description"
                                class="col-md-2 control-label">Build Upload</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <label class="input-group-btn">
                                    <span class="btn btn-primary">
                                            Browse&hellip; <input id="fileInputId" type="file" accept=".tar.gz, .tar, .tgz, .gz, .zip" name="file" style="display: none;" required="true">
                                    </span>
                                </label>
                                    <input id="uploadFileName" type="text" class="form-control" required="true" readonly>
                                <span class="input-group-btn">
                                    <button id="uploadExpressionId" class="deployToolTip btn btn-default"
                                            type="button" data-toggle="tooltip"
                                            title="click for more information on publishing private builds ">
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group collapse" id="uploadExpressionDetailsId">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-10">
                        Make sure the tarball is valid before uploading and has a valid .tar .tar.gz or .zip extension. This build will be uploaded directly to Amazon S3, skipping the Jenkins Build.
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2"> </div>
                        <div class="col-md-10">
                            <strong> Reminder: This feature should only be used for testing and not production.</strong>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                        <button id="uploadButton" type="submit" data-loading-text="Uploading..." class="btn btn-primary">Upload</button>
                        <button id="cancelButton" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>


<script>
    $("#uploadPrivateBldFormId").uploadprogress({
        method: 'post', 
        action: "/env/{{ env.envName }}/{{ env.stageName }}/upload_private_build/",
        onComplete: function() {
            $("#uploadButton").button('reset');
            
        },
        onError: function(responseText) {
            $('#uploadPrivateBldMessageId').removeClass('alert-warning');
                    $('#uploadPrivateBldMessageId').addClass('alert-danger');
                    $('#uploadPrivateBldMessageId').removeAttr('hidden');
                    $("#uploadPrivateBldMessageId strong").html(responseText);

        }, 
        tempStopPercentage: 80,
        tempStopMessage: "Now uploading to S3, this may take a while - up to 10 minutes if the file is large. (Bar will stay at 80%)"
    });

    $("#uploadPrivateBldModalId").on('hidden.bs.modal', function () {
        $('#commitIdFullInputId').val('');
        $('#commitId7InputId').val('');
        $('#uploadFileName').val('');
        $('#uploadButton').button('reset');
        $('#uploadPrivateBldMessageId').attr("hidden", true);
        var fileButton = $('#fileInputId');
        fileButton.replaceWith(fileButton.val('').clone(true));
    });

    $('#commitIdFullInputId').on('input', function() {
        var commitFull = $(this).val();
        $('#commitId7InputId').val(commitFull.slice(0,7));
    });
    
    $("input:file").change(function (){
        var fileName = $(this).val();
        $("#uploadFileName").val(fileName);
    });

    $("#uploadExpressionId").click(function() {
        $("#uploadExpressionDetailsId").collapse('toggle');
    });

    $("#uploadButton").click(function() {
        $('#uploadPrivateBldFormId input[type="text"]:enabled').each(function() {
            $(this).closest('.form-group').removeClass('has-error');
        });
        var hasError = false;
        $('#uploadPrivateBldFormId input[type="text"]:enabled').each(function() {
            if(!$(this).val()) {
                hasError = true;
                $(this).closest('.form-group').addClass('has-error');
            }
        });
        if (!hasError) {
            $("#uploadButton").button('loading');
            $('#uploadPrivateBldMessageId').removeAttr('hidden');
        }
    });
</script>
