{% load utils %}
{% load static %}
{% for deployId, agents in agents_wrapper.items %}
<div class="panel panel-default">
  <div class="panel-heading clearfix">
      <strong>Deploy:</strong><a href="/deploy/{{ deployId }}"> {{ deployId }}</a>
       <div class="btn-group pull-right">
          <button id="pauseButton"
          class="btn btn-default btn-sm" data-toggle="tooltip"
          title="Pause selected hosts">
          <span class="glyphicon glyphicon-pause"></span> Pause Selected
          </button>
          <button id="restartButton"
          class="btn btn-default btn-sm" data-toggle="tooltip"
          title="Restart selected hosts">
          <span class="glyphicon glyphicon-repeat"></span> Restart Selected
          </button>
          <button id="terminateButton"
          class="btn btn-default btn-sm" data-toggle="tooltip"
          title="Soft terminate selected hosts">
          <span class="glyphicon glyphicon-off"></span> Terminate Selected
          </button>
        </div>
  </div>
  <div class="panel-body table-responsive">
      <table id="hostTable" class="table table-striped table-bordered table-condensed table-hover">
          <tr>
              <th></th>
              <th>Host</th>
              <th>Host Id</th>
              <th>Stage</th>
              <th>State</th>
              <th>Status</th>
              <th>StartDate(-08:00)</th>
              <th>LastUpdate</th>
              <th>ErrorCode</th>
          </tr>
          {% for agent in agents %}
          <tr>
              {% if agent.lastErrorCode|isUnknownHost %}
                  <td><input type="checkbox" value="N/A"></td>
                  <td><a href="/env/{{env.envName}}/{{env.stageName}}/host/{{ agent.hostName }}">{{ agent.hostName }}</a></td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
              {% elif agent.lastErrorCode|isProvisioningHost %}
                  <td><input type="checkbox" value="{{ agent.hostId | default_if_none:'' }}"></td>
                  <td><a href="/env/{{env.envName}}/{{env.stageName}}/host/{{ agent.hostName }}">{{ agent.hostName }}</a></td>
                  <td>{{ agent.hostId | default_if_none:'' }}</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
              {% else %}
                  <td><input type="checkbox" value="{{ agent.hostId }}"></td>
                  <td><a href="/env/{{env.envName}}/{{env.stageName}}/host/{{ agent.hostName }}">{{ agent.hostName }}</a></td>
                  <td>{{ agent.hostId }}</td>
                  <td>{{ agent.deployStage }}</td>
                  <td>{{ agent.state }}</td>
                  <td>{{ agent.status }}</td>
                  <td>{{ agent.startDate|convertTimestamp }}</td>
                  <td>{{ agent.lastUpdateDate|convertTimestamp }}</td>
                  <td>{{ agent.lastErrorCode }}</td>
              {% endif %}
          </tr>
          {% endfor %}
      </table>
  </div>

<div class="panel-footer clearfix">
    {% if is_retryable and host_ids %}
    <div class="pull-left">
        <button id="reset_{{ deployId }}"
                class="deployToolTip btn btn-primary" data-toggle="tooltip"
                title="Retry the current deploy step on this host.">
            Retry deploy on all hosts
        </button>
    </div>
    {% endif %}

    {% if pinterest and host_ids %}
    <div class="pull-left">
        <button class="deployToolTip btn btn-default btn-block" data-target="#terminateHost"
            data-toggle="modal" title="Terminate all failed hosts">
        <span class="glyphicon glyphicon-remove"></span> Terminate failed hosts
        </button>
    </div>
    {% endif %}
</div>
<script>
    var checkedHosts = [];

    $(function () {
        $('.deployToolTip').tooltip();
        $('#reset_{{ deployId }}').click(function () {
            $.ajax({
                type: 'POST',
                url: '/env/{{ env.envName }}/{{ env.stageName }}/reset_failed_hosts/{{ deployId }}/',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
                datatype: 'json',
                success: function (data) {
                    window.location = '/env/{{env.envName }}/{{env.stageName}}/';
                }
            });

        });
    });

    $('input[type="checkbox"]').click(function(){
        if ($("#hostTable input:checkbox:checked").length <= 0) {
          $(".btn").prop("disabled", true);
        } else {
          $(".btn").prop("disabled", false);
        }

        if ($(this).is(":checked")) {
          checkedHosts.push($(this).val());
        } else {
          var index = checkedHosts.indexOf($(this).val());
          if (index > -1) {
            checkedHosts.splice(index, 1);
          }
        }
    });

   $(document).ready(function() {
        $(".btn").prop("disabled", true);
    });

    $("#pauseButton").on("click", function() {
      console.log('pause');
      $('#pauseSelectedHosts').modal();
      $('#pauseSelectedHosts .modal-body #hostsList').val(checkedHosts);  
    });

    $('#pauseSelectedBtnId').on("click", function() {
       $.ajax({
              type: 'POST',
              url: '/env/{{ env.envName }}/{{ env.stageName }}/pause_hosts/{{ checkedHosts }}/',
              data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'hostIds' },
              datatype: 'json',
              success: function (data) {
                  window.location = '/env/{{env.envName }}/{{env.stageName}}/';
              }
          })
    });

    $("#restartButton").on("click", function() {
      console.log('in');
      $('#restartSelectedHosts').modal();
      $('#restartSelectedHosts .modal-body #hostsList').val(checkedHosts);
    });

    $('#restartSelectedBtnId').on("click", function() {
      {% for hostId in checkedHosts %}
       $.ajax({
              type: 'POST',
              url: '/env/{{ env.envName }}/{{ env.stageName }}/reset_hosts/{{ checkedHosts }}/',
              data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
              datatype: 'json',
              success: function (data) {
                  window.location = '/env/{{env.envName }}/{{env.stageName}}/';
              }
          })
      {% endfor %}
    });

    $("#terminateButton").on("click", function() {
      $('#terminateSelectedHosts').modal();
      $('#terminateSelectedHosts .modal-body #hostsList').val(checkedHosts);
    });

   $('#terminateSelectedHosts').on('show.bs.modal', function () {
      $('#terminateSelectedHosts .modal-body #hostsList').val(checkedHosts);
   });
</script>
</div>
{% endfor %}

<div class="modal fade" id="pauseSelectedHosts" tabindex="-1" role="dialog" aria-labelledby="newEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="pauseSelectedHostForm" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Host(s) Pause Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you would like to pause the following hosts?</p>
                    <input id="hostsList" class="form-control" name="hostIds" type="text" value=""/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="pauseSelectedBtnId">Pause</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                {% csrf_token %}
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="restartSelectedHosts" tabindex="-1" role="dialog" aria-labelledby="newEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="restartSelectedHostForm" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Host(s) Restart Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you would like to restart the following hosts?</p>
                    <input id="hostsList" class="form-control" name="hostIds" type="text" value=""/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="restartSelectedBtnId">Restart</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                {% csrf_token %}
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="terminateHost" tabindex="-1" role="dialog" aria-labelledby="newEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="terminateHostForm" class="form-horizontal" method="post" role="form"  action="/env/{{ env.envName }}/{{ env.stageName }}/terminate_hosts/?host_ids={{ checkedHosts }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Host Termination Confirm</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure to terminate the following hosts?</p>
                    <input class="form-control" name="hostIds" type="text" value="{{ host_ids }}"/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="terminateSelectedBtnId">Terminate</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                {% csrf_token %}
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="terminateSelectedHosts" tabindex="-1" role="dialog" aria-labelledby="newEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="terminateSelectedHostForm" class="form-horizontal" method="post" role="form"  action="/env/{{ env.envName }}/{{ env.stageName }}/terminate_hosts/">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Host(s) Termination Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you would like to terminate the following hosts?</p>
                    <input id="hostsList" class="form-control" name="hostIds" type="text" value=""/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="terminateInstanceBtnId">Terminate</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                {% csrf_token %}
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
