{% extends 'hosts/hosts_base.html' %}

{% block breadcrumb-items %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    {% if env_name %}
        <li><a href="/envs">Environments</a></li>
        <li><a href="/env/{{ env_name }}/{{ stage_name }}">{{ env_name }} ({{ stage_name }})</a></li>
    {% elif group_name %}
        <li><a href="/groups">Groups</a></li>
        <li><a href="/groups/{{ group_name }}/">{{ group_name }}</a></li>
    {% endif %}
    <li class="active">host</li>
    <li class="active">{{ hostname }}</li>
</ul>
{% endblock %}

{% load utils %}

{% block side-panel %}
<div class="panel panel-default">
    {% include "host_side_panel.html" %}
</div>
{% endblock %}

{% block main %}

{% if hosts and show_warning_message %}
<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> {{ hostname }} has been marked for termination.
</div>
{% endif %}

{% if duplicate_stage %}
<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> Cannot add host {{ hostname }} to multiple stages. Please remove it from
    <a href="/env/{{ env_name }}/{{ duplicate_stage }}/config/capacity/">{{ env_name }}/{{ duplicate_stage }}</a>
</div>
{% endif %}

{% if agent_wrappers %}
<div class="panel panel-default">
    {% if has_failed_sidecars_or_host_env_sidecars %}
    {% include "panel_heading.tmpl" with panel_title="Sidecar Agent Details" panel_body_id="sidecarAgentDetailsId" direction="down" copy_host_name_button=True %}
    <div id="sidecarAgentDetailsId" class="collapse in panel-body">
    {% else %}
    {% include "panel_heading.tmpl" with panel_title="Sidecar Agent Details" panel_body_id="sidecarAgentDetailsId" direction="right" copy_host_name_button=True %}
    <div id="sidecarAgentDetailsId" class="collapse panel-body">
    {% endif %}
        {% for agent_wrapper in agent_wrappers.sidecars %}
            {% with env=agent_wrapper.env agent=agent_wrapper.agent %}
            <button
                class="sidecarButton {% if agent.status == 'SUCCEEDED' %}bg-success{% elif agent.status not in 'UNKNOWN' or agent.state == 'PAUSED_BY_SYSTEM' %}bg-danger{% endif %} deployToolTip btn btn-xs btn-default"
                onclick="scrollToSidecar('{{agent.deployId}}')">
                {% if env and env_name == env.envName and stage_name == env.stageName %}
                <i class="fa fa-star"></i>
                {% endif %}
                {{ env.envName }}
            </button>
            {% endwith %}
        {% endfor %}
        {% for agent_wrapper in agent_wrappers.sidecars %}
        {% with env=agent_wrapper.env agent=agent_wrapper.agent hostdetailsvalue=host_details|getValue:"Phobos Link" %}
        {% if env and env_name == env.envName and stage_name == env.stageName %}
        {% include "hosts/host_details.tmpl" with agent=agent env=env hostdetailsvalue=hostdetailsvalue host_related_sidecar=1%}
        {% else %}
        {% include "hosts/host_details.tmpl" with agent=agent env=env hostdetailsvalue=hostdetailsvalue%}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
</div>
<div class="panel panel-default">
    {% include "panel_heading.tmpl" with panel_title="Service Agent Details" panel_body_id="serviceAgentDetailsId" direction="down" copy_host_name_button=True %}
    <div id="serviceAgentDetailsId" class="collapse in panel-body">
        {% for agent_wrapper in agent_wrappers.services %}
        {% with env=agent_wrapper.env agent=agent_wrapper.agent hostdetailsvalue=host_details|getValue:"Phobos Link" %}
        {% include "hosts/host_details.tmpl" with agent=agent env=env hostdetailsvalue=hostdetailsvalue%}
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="panel panel-default">
{% include "panel_heading.tmpl" with panel_title="Host Details" panel_body_id="hostDetailId" direction="down" copy_host_name_button=True %}

<div id="hostDetailId" class="collapse in panel-body table-responsive">
<table class="table table-striped table-bordered table-condensed table-hover">
    <tr>
        {% if account_id and account_id != "null" %}
        <th class="col-lg-1">Acccount Id</th>
        {% endif %}
        <th class="col-lg-1">Host Name</th>
        <th class="col-lg-2">Host Id</th>
        <th class="col-lg-2">Host Group</th>
        <th class="col-lg-2">Ip Address</th>
        <th class="col-lg-1">State</th>
        <th class="col-lg-2">Create Date</th>
        <th class="col-lg-2">Last Update</th>
        <th class="col-lg-2">Normandie</th>
        <th class="col-lg-2">Knox</th>
    </tr>
    {% for host in hosts %}
    <tr class="{{ host.state|hostStateClass}}">
        {% if account_id and account_id != "null" %}
        <td>{{ host.accountId }}</td>
        {% endif %}
        <td>{{ host.hostName }}</td>
        <td>{{ host.hostId }}</td>
        <td>{{ host.groupName }}</td>
        <td>{{ host.ip }}</td>
        <td><span class="deployToolTip pointer-cursor" data-toggle="tooltip" title="{{ host|hostTip }}">{{ host.state }}</span></td>
        <td>{{ host.createDate|convertTimestamp }}</td>
        <td>{{ host.lastUpdateDate|convertTimestamp }}</td>
        <td>{{ host.normandieStatus }}</td>
        <td>{{ host.knoxStatus }}</td>
    </tr>
    {% endfor %}
</table>
    <div class="row">
    {% if pinterest %}
    <div class="row">
        <a href="javascript:void(0)" id="seeMoreLink">See more host details</a>
        <a class="pull-right" href="#" data-toggle="modal" data-target="#rawHostInfoModal">Raw Host Info</a>
    </div>
    <div id="moreHostDetails" hidden="true">
    {% for key, value in host_details.items %}
    <div class="row">
        <div class="col-lg-2"><strong> {{ key }} </strong></div>
        {% if key == 'Phobos Link' %}
            <div><a href="{{ value }}">{{ value }}</a></div>
        {% elif value|getType == 'dict' %}
        <div>
            {% for k, v in value.items %}
                <i>{{ k }}: </i>{{ v }},
            {% endfor %}
        </div>
        {% elif value|getType == 'list' %}
        <div>
            {% for item in value %}
            {{ item }},
            {% endfor %}
        </div>
        {% else %}
        <div>{{ value }}</div>
        {% endif %}
    </div>
    {% endfor %}
    <span>For complete host details, </span>
    {% if account_id and account_id != "null" %}
        <a href="{{ host_information_url }}/instance/{{ host_id }}?account={{ account_id }}">click here</a>
    {% else %}
        <a href="{{ host_information_url }}/instance/{{ host_id }}">click here</a>
    {% endif %}
    </div>

    <div id="rawHostInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Raw Host Info</h4>
            </div>
            <div class="modal-body">
                {% for host in hosts %}
                <code>{{ host }}</code>
                {% endfor %}
            </div>
        </div>
      </div>
      </div>
    </div>
    {% endif %}
    </div>
</div>

<script>
    $("#seeMoreLink").click(function() {
        $("#moreHostDetails").toggle('slow', function() {
            if ($("#moreHostDetails").is(':visible')) {
                $("#seeMoreLink").text('Hide more host details');
            } else {
                $("#seeMoreLink").text('See more host details');
            }
        });
    });
    $("#copyHostName").click(function() {
        const el = document.createElement('textarea');
        el.value = '{{ hostname }}';
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    });

    function scrollToSidecar(sideCarId) {
        const el = document.getElementById(`hostInfo${sideCarId}`);
        el?.scrollIntoView({behavior: 'smooth', block: 'start'});
    }
</script>
<style>
    .sidecarButton.bg-success{background-color:#dff0d8}
    .sidecarButton.bg-success:hover{background-color:#c1e2b3}
    .sidecarButton.bg-success:focus{background-color:#c1e2b3}
    .sidecarButton.bg-danger{background-color:#f2dede}
    .sidecarButton.bg-danger:hover{background-color:#e4b9b9}
    .sidecarButton.bg-danger:focus{background-color:#e4b9b9}
</style>
{% endblock %}
