{% load utils %}
<div id="hostInfo" class="panel panel-default">
    {% if host_related_sidecar %}
    <div class="panel-heading host-related-sidecar">
    {% else %}
    <div class="panel-heading">
    {% endif %}
        <strong>Environment:</strong><a href="/env/{{ env.envName }}/{{ env.stageName }}"> {{ env.envName }}/{{ env.stageName }}</a>
        <strong>Deploy:</strong><a href="/deploy/{{ agent.deployId }}"> {{ agent.deployId }}</a>
    </div>
    <div class="panel-body table-responsive">
        <table id="hostInfoTb{{agent.envId}}" class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <td>Stage</td>
                <td>{{ agent.deployStage }}</td>
            </tr>
            <tr class="{{agent.state|agentStateClass}}">
                <td>State</td>
                <td>{{ agent.state }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{ agent.status }}</td>
            </tr>
            <tr>
                <td>Container Health Status</td>
                <td>
                    {% if agent.containerHealthStatus == "" %}
                        N/A (Not Applicable)
                    {% else %}
                        {{ agent.containerHealthStatus }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>StartDate(-08:00)</td>
                <td>{{ agent.startDate|convertTimestamp }}</td>
            </tr>
            <tr>
                <td>Last Update</td>
                <td>{{ agent.lastUpdateDate|convertTimestamp }}</td>
            </tr>
            <tr>
                <td>Operator</td>
                <td>{{ agent.lastOperator }}</td>
            </tr>
            <tr>
                <td>Error Code</td>
                <td>{{ agent.lastErrno }}</td>
            </tr>
            <tr>
                <td>Failed Count</td>
                <td>{{ agent.failCount }}</td>
            </tr>
            <tr>
                <td>Error Message
                    {% if pinterest %}
                    <a href="{{ hostdetailsvalue }}/log/deploylog?file={{env.envName}}.log">Full deploy log for {{env.envName}}</a>
                    {% endif %}
                </td>
                <td><pre style="white-space: pre-wrap;">{{ agent_wrapper.error }}</pre></td>
            </tr>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-left">
            {% if agent|agentRetryable %}
            <button id="reset_agent_{{ env.envName }}_{{ env.stageName }}"
                    class="deployToolTip btn btn-default" data-toggle="tooltip"
                    title="Restart an environment on this host.">
                <span class="glyphicon glyphicon-repeat"></span> Restart
            </button>
            {% endif %}
            {% if agent|agentPausable %}
            <button id="pause_agent_{{ env.envName }}_{{ env.stageName }}"
                    class="deployToolTip btn btn-default" data-toggle="tooltip"
                    title="Pause this host for any future deploys.">
                <span class="glyphicon glyphicon-pause"></span> Pause
            </button>
            {% else %}
            <button id="resume_agent_{{ env.envName }}_{{ env.stageName }}"
                    class="deployToolTip btn btn-default" data-toggle="tooltip"
                    title="Resume deploy on this host.">
                <span class="glyphicon glyphicon-play"></span> Resume
            </button>
            {% endif %}
        </div>
    </div>
</div>
<style>
    #hostInfo>.panel-heading.host-related-sidecar {
        background-image: none;
        background-color: #dff0d8;
    }
</style>
<script>
    $(function () {
        $('.deployToolTip').tooltip();
        $('#reset_agent_{{ env.envName }}_{{ env.stageName }}').click(function () {
            $.ajax({
                type: 'POST',
                url: '/env/{{ env.envName }}/{{ env.stageName }}/reset_deploy/{{ agent.hostId }}/',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
                datatype: 'json',
                success: function (data) {
                    window.location = '/env/{{env.envName }}/{{env.stageName}}/';
                }
            });
        });
        $('#pause_agent_{{ env.envName }}_{{ env.stageName }}').click(function () {
            $.ajax({
                type: 'POST',
                url: '/env/{{ env.envName }}/{{ env.stageName }}/pause_deploy/{{ agent.hostId }}/',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
                datatype: 'json',
                success: function (data) {
                    window.location = '/env/{{env.envName }}/{{env.stageName}}/';
                }
            });
        });
        $('#resume_agent_{{ env.envName }}_{{ env.stageName }}').click(function () {
            $.ajax({
                type: 'POST',
                url: '/env/{{ env.envName }}/{{ env.stageName }}/resume_deploy/{{ agent.hostId }}/',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
                datatype: 'json',
                success: function (data) {
                    window.location = '/env/{{env.envName }}/{{env.stageName}}/';
                }
            });
        });
    });
</script>
