
<div class="panel panel-default">
    <div class="alert alert-danger" align="center" role="alert"><b>{{ message }}</b></div>
    <div style="text-align: center">
        <img src="/static/images/teletraan-lock.png">
    </div>
</div>