<div class="panel-heading clearfix">
    <h4 class="panel-title pull-left">User and group management have moved</h4>
</div>
<div class="panel-body">
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        User and group management have moved to Pastis based ACLs.
        Please update your bookmarks.
        <a class="btn btn-info"
           href="https://pinch.pinadmin.com/teletraan-pastis-acl"
           target="_blank">Get help</a>
    </div>
</div>
