<div class="panel-heading clearfix">
    <h4 class="panel-title pull-left">
        User and group management have moved
    </h4>
</div>

<div class="panel-body">
    <div class="alert alert-warning" role="alert">
        <p>
            User and group management have moved to Pastis based ACLs. Please follow the <a href="https://pinch/teletraan-pastis-acl" target="_blank">instructions</a> to manage users and groups.
        </p>
        <p>
            Please update your bookmarks.
        </p>
    </div
</div>
