name: Java CI

on:
  push:
    branches:
    - master
    paths:
    - 'deploy-service/**'
    - '.github/workflows/maven.yml'
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 1.8
      uses: actions/setup-java@v4
      with:
        distribution: corretto
        java-version: 8
        cache: 'maven'
    - name: Build with Maven
      working-directory: deploy-service
      run: |
        mvn clean package --file pom.xml -P-pinterest-dependenies,exclude-pinterest-only-classes
    - name: Build with Maven
      working-directory: deploy-service
      run: |
        mvn spotless:check --file pom.xml
